WF-Drift-Check.json
{
  "_stillgelegt": "Stufe 6 Slice 2 (#162): NICHT nach Backend portiert - n8n-spezifischer Drift-Check (Sheets<->PG); die DB-Konsistenz deckt lib/jobs/db-validation.js (Slice 1) ab. Siehe docs/specs/stufe-6-slice-2-drop-workflows.md.",
  "name": "WF-Drift-Check",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "a2000000-0000-0000-0000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 3 * * *"
            }
          ]
        }
      },
      "id": "a2000000-0000-0000-0000-000000000002",
      "name": "Schedule Trigger - Daily 03:10",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1100,
        -160
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows?limit=250",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY }}"
            }
          ]
        }
      },
      "id": "a2000000-0000-0000-0000-000000000003",
      "name": "HTTP Request - Get Live Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -860,
        -80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ── Inline: drift-check (buildDriftReport) ────────────────────────────\nfunction normalizeNode(n) {\n  return { name: n.name, type: n.type, typeVersion: n.typeVersion, parameters: n.parameters || {} };\n}\nfunction nodeMap(nodes) {\n  const m = new Map();\n  for (const n of nodes) m.set(n.name + '|' + n.type, normalizeNode(n));\n  return m;\n}\nfunction liveIdSet(liveWfs) {\n  return new Set(liveWfs.map(function(w) { return w.id; }).filter(Boolean));\n}\nfunction matchByName(rWf, liveWfs) {\n  return liveWfs.find(function(lw) { return lw.name.trim() === rWf.name.trim(); }) || null;\n}\nfunction diffNodes(wfName, rNodes, lNodes) {\n  const drifts = [];\n  const rMap = nodeMap(rNodes), lMap = nodeMap(lNodes);\n  for (const [k, n] of rMap) {\n    if (!lMap.has(k)) drifts.push({ type: 'MISSING_NODE', workflowName: wfName, message: 'Node \"' + n.name + '\" (' + n.type + ') im Repo vorhanden, fehlt auf Mini', severity: 'critical' });\n  }\n  for (const [k, n] of lMap) {\n    if (!rMap.has(k)) drifts.push({ type: 'EXTRA_NODE', workflowName: wfName, message: 'Node \"' + n.name + '\" (' + n.type + ') auf Mini vorhanden, nicht im Repo', severity: 'warning' });\n  }\n  return drifts;\n}\nfunction checkWebhooks(wfName, rNodes, lNodes) {\n  const drifts = [];\n  const rMap = nodeMap(rNodes), lMap = nodeMap(lNodes);\n  for (const [k, rn] of rMap) {\n    if (rn.type !== 'n8n-nodes-base.webhook') continue;\n    const ln = lMap.get(k);\n    if (!ln) continue;\n    const rm = rn.parameters && rn.parameters.httpMethod;\n    const lm = ln.parameters && ln.parameters.httpMethod;\n    if (rm && lm && rm !== lm) drifts.push({ type: 'WEBHOOK_METHOD_CHANGED', workflowName: wfName, message: 'Webhook \"' + rn.name + '\": Repo=' + rm + ', Mini=' + lm, severity: 'critical' });\n  }\n  return drifts;\n}\nfunction checkExecRefs(wfName, lNodes, liveIds, pgwId) {\n  const drifts = [];\n  for (const n of lNodes) {\n    if (n.type !== 'n8n-nodes-base.executeWorkflow') continue;\n    const refId = n.parameters && n.parameters.workflowId && n.parameters.workflowId.value;\n    if (!refId) continue;\n    if (!liveIds.has(refId)) drifts.push({ type: 'DEAD_EXECUTE_WORKFLOW_REF', workflowName: wfName, message: 'Node \"' + n.name + '\" referenziert Workflow-ID \"' + refId + '\" — existiert nicht auf Mini', severity: 'critical' });\n    if (n.name.toLowerCase().indexOf('pgw') !== -1 && refId !== pgwId) drifts.push({ type: 'WRONG_PGW_ID', workflowName: wfName, message: 'Node \"' + n.name + '\" zeigt auf PGW-ID \"' + refId + '\", erwartet \"' + pgwId + '\"', severity: 'critical' });\n  }\n  return drifts;\n}\nfunction checkStockMovementPath(wfName, lNodes, pgwId) {\n  var hasPrep = lNodes.some(function(n) { return n.name === 'Prepare PGW - stock_movement' && n.type === 'n8n-nodes-base.code'; });\n  var hasExec = lNodes.some(function(n) { return n.name === 'WF-PGW - stock_movement' && n.type === 'n8n-nodes-base.executeWorkflow' && n.parameters && n.parameters.workflowId && n.parameters.workflowId.value === pgwId; });\n  if (hasPrep && hasExec) return [];\n  var missing = [];\n  if (!hasPrep) missing.push('\"Prepare PGW - stock_movement\" (Code-Node)');\n  if (!hasExec) missing.push('\"WF-PGW - stock_movement\" (executeWorkflow -> ' + pgwId + ')');\n  return [{ type: 'MISSING_STOCK_MOVEMENT_PATH', workflowName: wfName, message: wfName + ': Abbuch-Pfad unvollstaendig - fehlt: ' + missing.join(', '), severity: 'critical' }];\n}\nfunction buildDriftReport(opts) {\n  const drifts = [];\n  const liveIds = liveIdSet(opts.liveWorkflows);\n  for (const rWf of opts.repoWorkflows) {\n    const lWf = matchByName(rWf, opts.liveWorkflows);\n    if (!lWf) continue;\n    if (rWf.active === true && lWf.active === false) drifts.push({ type: 'WORKFLOW_DEACTIVATED', workflowName: rWf.name, message: '\"' + rWf.name + '\" im Repo aktiv, auf Mini deaktiviert', severity: 'critical' });\n    drifts.push.apply(drifts, diffNodes(rWf.name, rWf.nodes || [], lWf.nodes || []));\n    drifts.push.apply(drifts, checkWebhooks(rWf.name, rWf.nodes || [], lWf.nodes || []));\n    drifts.push.apply(drifts, checkExecRefs(rWf.name, lWf.nodes || [], liveIds, opts.pgwWorkflowId));\n    if (rWf.name.indexOf('WF3') === 0) drifts.push.apply(drifts, checkStockMovementPath(rWf.name, lWf.nodes || [], opts.pgwWorkflowId));\n  }\n  return { status: drifts.length > 0 ? 'drift' : 'ok', drifts };\n}\n// ──────────────────────────────────────────────────────────────────────\n\nconst PGW_ID = 'Sajezv8tJll0CLIv';\nconst REPO = 'PatrickM-git/automatenlager';\nconst EMAIL = 'PatrickZinke@gmx.net';\n\nconst liveResponse = $('HTTP Request - Get Live Workflows').first().json;\nconst liveWorkflows = liveResponse.data || [];\n\nlet dirData = await this.helpers.httpRequest({\n  url: 'https://api.github.com/repos/' + REPO + '/contents',\n  headers: { 'User-Agent': 'homelab-drift-check', 'Accept': 'application/vnd.github.v3+json' },\n  json: true,\n});\nif (typeof dirData === 'string') { dirData = JSON.parse(dirData); }\nconst wfFiles = dirData.filter(function(f) { return f.type === 'file' && f.name.endsWith('.json') && f.name.startsWith('WF'); });\n\nconst repoWorkflows = [];\nfor (const file of wfFiles) {\n  let wf = await this.helpers.httpRequest({ url: file.download_url, headers: { 'User-Agent': 'homelab-drift-check' }, json: true });\n  if (typeof wf === 'string') { wf = JSON.parse(wf); }\n  repoWorkflows.push(wf);\n}\n\nconst report = buildDriftReport({ repoWorkflows, liveWorkflows, pgwWorkflowId: PGW_ID });\n\nconst day = new Date().toISOString().slice(0, 10);\nlet subject, html;\nif (report.status === 'ok') {\n  subject = 'WF-Drift-Check ' + day + ': ok';\n  html = '<pre>WF-Drift-Check ' + day + ': kein Drift erkannt (' + repoWorkflows.length + ' Workflows gepr\\u00fcft)</pre>';\n} else {\n  const critCount = report.drifts.filter(function(d) { return d.severity === 'critical'; }).length;\n  subject = 'WF-Drift-Check ' + day + ': DRIFT \\u2013 ' + report.drifts.length + ' Abweichungen (' + critCount + ' kritisch)';\n  const lines = ['WF-Drift-Check ' + day + ': ' + report.drifts.length + ' Abweichungen', ''];\n  for (const d of report.drifts) {\n    lines.push('[' + d.severity.toUpperCase() + '] ' + d.type + ' \\u2014 ' + d.workflowName);\n    lines.push('  ' + d.message);\n  }\n  html = '<pre>' + lines.join('\\n') + '</pre>';\n}\n\nreturn [{ json: { status: report.status, drifts: report.drifts, mail: { sendTo: EMAIL, subject, html }, shouldSendMail: report.status === 'drift', repoWfCount: repoWorkflows.length } }];"
      },
      "id": "a2000000-0000-0000-0000-000000000004",
      "name": "Code - Build Drift Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-has-drifts",
              "leftValue": "={{ $json.shouldSendMail }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a2000000-0000-0000-0000-000000000005",
      "name": "IF - Has Drifts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -380,
        -80
      ]
    },
    {
      "parameters": {
        "sendTo": "PatrickZinke@gmx.net",
        "subject": "={{ $('Code - Build Drift Report').first().json.mail.subject }}",
        "emailType": "html",
        "message": "={{ $('Code - Build Drift Report').first().json.mail.html }}",
        "options": {}
      },
      "id": "a2000000-0000-0000-0000-000000000006",
      "name": "Gmail - Send Drift Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -140,
        -160
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "8zhryCRhHAc2OnKA",
          "name": "Gmail account"
        }
      },
      "webhookId": "3e653764-fe1e-4d73-9ccf-73ff72037f22"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Live Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger - Daily 03:10": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Live Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Live Workflows": {
      "main": [
        [
          {
            "node": "Code - Build Drift Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Drift Report": {
      "main": [
        [
          {
            "node": "IF - Has Drifts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Drifts": {
      "main": [
        [
          {
            "node": "Gmail - Send Drift Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger - Daily 03:10": {
      "recurrenceRules": []
    }
  },
  "pinData": null,
  "tags": []
}