WF-Monitor.json
{
    "updatedAt": "2026-05-25T18:13:59.535Z",
    "createdAt": "2026-05-25T14:36:35.428Z",
    "id": "EdgUfv1lMcE25Z3K",
    "name": "WF-Monitor",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {},
            "id": "a1000000-0000-0000-0000-000000000001",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -1100,
                -80
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 */5 * * * *"
                        }
                    ]
                }
            },
            "id": "a1000000-0000-0000-0000-000000000002",
            "name": "Schedule Trigger - every 5 min",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -1100,
                -200
            ]
        },
        {
            "parameters": {
                "url": "http://homelab-ollama:11434",
                "options": {
                    "timeout": 3000
                }
            },
            "id": "a1000000-0000-0000-0000-000000000003",
            "name": "HTTP Request - Check homelab-ollama",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -860,
                -140
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "url": "http://homelab-open-webui:8080",
                "options": {
                    "timeout": 3000
                }
            },
            "id": "a1000000-0000-0000-0000-000000000015",
            "name": "HTTP Request - Check homelab-open-webui",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -620,
                -140
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "url": "http://homelab-dashboard:8787",
                "options": {
                    "timeout": 3000
                }
            },
            "id": "a1000000-0000-0000-0000-000000000016",
            "name": "HTTP Request - Check homelab-dashboard",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -380,
                -140
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT 1 AS heartbeat"
            },
            "id": "a1000000-0000-0000-0000-000000000004",
            "name": "Postgres - Heartbeat",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                -140,
                -140
            ],
            "credentials": {
                "postgres": {
                    "id": "Jept3990Uq8aN3Tr",
                    "name": "PostgreSQL"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "WITH\nrecent_errors AS (\n  SELECT e.\"workflowId\", COALESCE(w.name, e.\"workflowId\") AS workflow_name, e.\"startedAt\"\n  FROM execution_entity e\n  LEFT JOIN workflow_entity w ON w.id::text = e.\"workflowId\"\n  WHERE e.status = 'error'\n    AND e.\"startedAt\" > NOW() - INTERVAL '1 hour'\n  ORDER BY e.\"startedAt\" DESC\n  LIMIT 10\n),\nauth_errors AS (\n  SELECT e.\"workflowId\", COALESCE(w.name, e.\"workflowId\") AS workflow_name, e.\"startedAt\"\n  FROM execution_entity e\n  LEFT JOIN workflow_entity w ON w.id::text = e.\"workflowId\"\n  WHERE e.status = 'error'\n    AND e.\"startedAt\" > NOW() - INTERVAL '1 hour'\n    AND (\n      e.data::text ILIKE '%EAUTH%'\n      OR e.data::text ILIKE '%401%'\n      OR e.data::text ILIKE '%refresh token%'\n      OR e.data::text ILIKE '%invalid_grant%'\n      OR e.data::text ILIKE '%token has been expired or revoked%'\n    )\n  ORDER BY e.\"startedAt\" DESC\n  LIMIT 10\n),\nerror_rate_spikes AS (\n  SELECT e.\"workflowId\", COALESCE(w.name, e.\"workflowId\") AS workflow_name, COUNT(*) AS error_count\n  FROM execution_entity e\n  LEFT JOIN workflow_entity w ON w.id::text = e.\"workflowId\"\n  WHERE e.status = 'error'\n    AND e.\"startedAt\" > NOW() - INTERVAL '30 minutes'\n  GROUP BY e.\"workflowId\", w.name\n  HAVING COUNT(*) > 5\n),\ncritical_last_runs AS (\n  SELECT DISTINCT ON (e.\"workflowId\")\n    e.\"workflowId\" AS workflow_id,\n    COALESCE(w.name, e.\"workflowId\") AS workflow_name,\n    e.status,\n    e.\"stoppedAt\" AS last_run_at\n  FROM execution_entity e\n  LEFT JOIN workflow_entity w ON w.id::text = e.\"workflowId\"\n  WHERE e.\"workflowId\" IN (\n    'axeg30n8SVKlCW54',\n    'pdIjiyIfVIIPuJIt',\n    '0jSwjm74Bna7FSqr',\n    'gyM9rnvUMfnv4x3G'\n  )\n  AND e.\"stoppedAt\" IS NOT NULL\n  ORDER BY e.\"workflowId\", e.\"stoppedAt\" DESC\n)\nSELECT\n  COALESCE(\n    (SELECT json_agg(json_build_object('workflowId', \"workflowId\", 'workflowName', workflow_name, 'errorAt', \"startedAt\")) FROM recent_errors),\n    '[]'\n  ) AS recent_errors,\n  COALESCE(\n    (SELECT json_agg(json_build_object('workflowId', \"workflowId\", 'workflowName', workflow_name, 'errorAt', \"startedAt\")) FROM auth_errors),\n    '[]'\n  ) AS auth_errors,\n  COALESCE(\n    (SELECT json_agg(json_build_object('workflowId', \"workflowId\", 'workflowName', workflow_name, 'errorCount', error_count, 'windowMinutes', 30)) FROM error_rate_spikes),\n    '[]'\n  ) AS error_rate_spikes,\n  (SELECT \"startedAt\" FROM execution_entity WHERE \"workflowId\" = '3ceKeNWmdj455Tcr' AND status = 'success' ORDER BY \"startedAt\" DESC LIMIT 1) AS wf5_last_success,\n  (SELECT \"startedAt\" FROM execution_entity WHERE \"workflowId\" = 'gyM9rnvUMfnv4x3G' AND status = 'success' ORDER BY \"startedAt\" DESC LIMIT 1) AS wf8_last_success,\n  (SELECT \"startedAt\" FROM execution_entity WHERE \"workflowId\" = 'wbOhFKXQqBpJWB1w' AND status = 'success' ORDER BY \"startedAt\" DESC LIMIT 1) AS wf3_last_success,\n  COALESCE(\n    (SELECT json_agg(json_build_object('workflowId', workflow_id, 'workflowName', workflow_name, 'lastStatus', status, 'lastRunAt', last_run_at)) FROM critical_last_runs),\n    '[]'\n  ) AS critical_workflow_last_runs"
            },
            "id": "a1000000-0000-0000-0000-000000000005",
            "name": "Postgres - n8n Execution Check",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                100,
                -140
            ],
            "credentials": {
                "postgres": {
                    "id": "gN8QyJ99aeXsLiUK",
                    "name": "PostgreSQL n8n DB"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT MAX(created_at) AS last_backup_ok_at FROM automatenlager.warnings WHERE warning_type = 'BACKUP_OK'"
            },
            "id": "a1000000-0000-0000-0000-000000000009",
            "name": "Postgres - Last Backup OK At",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                340,
                -140
            ],
            "credentials": {
                "postgres": {
                    "id": "Jept3990Uq8aN3Tr",
                    "name": "PostgreSQL"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT warning_key FROM automatenlager.warnings WHERE source_workflow = 'wf-monitor' AND created_at >= (CURRENT_DATE AT TIME ZONE 'Europe/Berlin')"
            },
            "id": "a1000000-0000-0000-0000-000000000017",
            "name": "Postgres - Existing Today Warnings",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                580,
                -140
            ],
            "credentials": {
                "postgres": {
                    "id": "Jept3990Uq8aN3Tr",
                    "name": "PostgreSQL"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "// Inline: wf-monitor-logic (buildMonitoringReport) with deduplication\nconst SCHEDULE_GAP_THRESHOLD_H = 26;\nconst BACKUP_STALE_THRESHOLD_H = 26;\nconst DISK_THRESHOLD_GB = 20;\n\nfunction hoursBetween(olderIso, nowIso) {\n  if (!olderIso) return Number.POSITIVE_INFINITY;\n  const start = new Date(olderIso).getTime();\n  const end = new Date(nowIso).getTime();\n  if (!Number.isFinite(start)) return Number.POSITIVE_INFINITY;\n  return (end - start) / 36e5;\n}\nfunction isoDay(isoString) {\n  return String(isoString || new Date().toISOString()).slice(0, 10);\n}\nfunction warnEvent(warningType, subjectKey, severity, message, now, details) {\n  const day = isoDay(now);\n  return {\n    event_type: 'warning',\n    batch_run_id: 'wf-monitor_' + day,\n    data: {\n      warning_key: warningType + '|' + subjectKey + '|' + day,\n      warning_type: warningType,\n      severity,\n      source_workflow: 'wf-monitor',\n      subject_key: subjectKey,\n      message,\n      details: details || {},\n    },\n  };\n}\nfunction alertToWarningKey(alert, now) {\n  const day = isoDay(now);\n  switch (alert.type) {\n    case 'CONTAINER_DOWN': return 'CONTAINER_DOWN|' + alert.container + '|' + day;\n    case 'PG_UNREACHABLE': return 'PG_UNREACHABLE|postgres|' + day;\n    case 'WORKFLOW_ERROR': return 'WORKFLOW_ERROR|' + (alert.workflowId || alert.workflowName) + '|' + day;\n    case 'AUTH_ERROR': return 'AUTH_ERROR|' + (alert.workflowId || alert.workflowName) + '|' + day;\n    case 'SCHEDULE_GAP': return 'SCHEDULE_GAP|' + alert.workflowKey + '|' + day;\n    case 'LOW_DISK_SPACE': return 'LOW_DISK_SPACE|C_HOMELAB|' + day;\n    case 'BACKUP_STALE': return 'BACKUP_STALE|backup|' + day;\n    case 'ERROR_RATE_SPIKE': return 'ERROR_RATE_SPIKE|' + (alert.workflowId || alert.workflowName) + '|' + day;\n    case 'WORKFLOW_DAILY_FAIL': return 'WORKFLOW_DAILY_FAIL|' + (alert.workflowId || alert.workflowName) + '|' + day;\n    default: return null;\n  }\n}\nfunction buildMonitoringReport(input) {\n  const now = input.now || new Date().toISOString();\n  const alerts = [];\n  const warningEvents = [];\n\n  for (const container of (input.containers || [])) {\n    if (!container.up) {\n      alerts.push({ type: 'CONTAINER_DOWN', container: container.name });\n      warningEvents.push(warnEvent('CONTAINER_DOWN', container.name, 'critical', 'Container ' + container.name + ' is down', now, { container: container.name }));\n    }\n  }\n\n  if (input.postgresReachable === false) {\n    alerts.push({ type: 'PG_UNREACHABLE' });\n    warningEvents.push(warnEvent('PG_UNREACHABLE', 'postgres', 'critical', 'PostgreSQL is unreachable', now));\n  }\n\n  for (const err of (input.authErrors || [])) {\n    alerts.push({ type: 'AUTH_ERROR', workflowName: err.workflowName, workflowId: err.workflowId, nodeName: err.nodeName || null, credentialName: err.credentialName || null, errorAt: err.errorAt, errorMsg: err.errorMsg || null });\n    const msgParts = ['Auth-Fehler in ' + err.workflowName];\n    if (err.nodeName) msgParts.push('Node: ' + err.nodeName);\n    if (err.credentialName) msgParts.push('Credential: ' + err.credentialName);\n    if (err.errorMsg) msgParts.push('(' + err.errorMsg + ')');\n    warningEvents.push(warnEvent('AUTH_ERROR', err.workflowId || err.workflowName, 'critical', msgParts.join(' - '), now, { workflowName: err.workflowName, nodeName: err.nodeName, credentialName: err.credentialName, errorAt: err.errorAt, errorMsg: err.errorMsg }));\n  }\n\n  for (const err of (input.workflowErrors || [])) {\n    alerts.push({ type: 'WORKFLOW_ERROR', workflowName: err.workflowName, workflowId: err.workflowId, errorAt: err.errorAt });\n    warningEvents.push(warnEvent('WORKFLOW_ERROR', err.workflowId || err.workflowName, 'warning', 'Workflow error in ' + err.workflowName + ' at ' + err.errorAt, now, { workflowName: err.workflowName, errorAt: err.errorAt }));\n  }\n\n  for (const [key, lastSuccess] of Object.entries(input.scheduleLastSuccess || {})) {\n    const ageH = hoursBetween(lastSuccess, now);\n    if (ageH > SCHEDULE_GAP_THRESHOLD_H) {\n      alerts.push({ type: 'SCHEDULE_GAP', workflowKey: key, ageH, lastSuccessAt: lastSuccess });\n      warningEvents.push(warnEvent('SCHEDULE_GAP', key, 'warning', 'Schedule gap: ' + key + ' last success ' + Math.round(ageH) + 'h ago (limit: ' + SCHEDULE_GAP_THRESHOLD_H + 'h)', now, { workflowKey: key, ageH, lastSuccessAt: lastSuccess || null }));\n    }\n  }\n\n  if (input.diskFreeGb != null && input.diskFreeGb < DISK_THRESHOLD_GB) {\n    alerts.push({ type: 'LOW_DISK_SPACE', freeGb: input.diskFreeGb, thresholdGb: DISK_THRESHOLD_GB });\n    warningEvents.push(warnEvent('LOW_DISK_SPACE', 'C_HOMELAB', 'warning', 'Disk free ' + input.diskFreeGb + ' GB below threshold ' + DISK_THRESHOLD_GB + ' GB', now, { freeGb: input.diskFreeGb, thresholdGb: DISK_THRESHOLD_GB }));\n  }\n\n  for (const spike of (input.errorRateSpikes || [])) {\n    alerts.push({ type: 'ERROR_RATE_SPIKE', workflowId: spike.workflowId, workflowName: spike.workflowName, errorCount: spike.errorCount, windowMinutes: spike.windowMinutes });\n    warningEvents.push(warnEvent('ERROR_RATE_SPIKE', spike.workflowId || spike.workflowName, 'warning', 'Fehlerraten-Spitze: ' + spike.workflowName + ' - ' + spike.errorCount + ' Errors in ' + spike.windowMinutes + ' Min', now, { workflowName: spike.workflowName, errorCount: spike.errorCount, windowMinutes: spike.windowMinutes }));\n  }\n\n  for (const wf of (input.criticalWorkflowLastRuns || [])) {\n    if (wf.lastStatus === 'error') {\n      alerts.push({ type: 'WORKFLOW_DAILY_FAIL', workflowId: wf.workflowId, workflowName: wf.workflowName, lastRunAt: wf.lastRunAt });\n      warningEvents.push(warnEvent('WORKFLOW_DAILY_FAIL', wf.workflowId || wf.workflowName, 'warning', 'Letzter Lauf fehlgeschlagen: ' + wf.workflowName, now, { workflowId: wf.workflowId, workflowName: wf.workflowName, lastRunAt: wf.lastRunAt }));\n    }\n  }\n\n  const backupAgeH = hoursBetween(input.lastBackupOkAt, now);\n  if (backupAgeH > BACKUP_STALE_THRESHOLD_H) {\n    alerts.push({ type: 'BACKUP_STALE', ageH: backupAgeH, lastBackupOkAt: input.lastBackupOkAt || null });\n    warningEvents.push(warnEvent('BACKUP_STALE', 'backup', 'warning', 'Backup stale: last BACKUP_OK ' + Math.round(backupAgeH) + 'h ago (limit: ' + BACKUP_STALE_THRESHOLD_H + 'h)', now, { ageH: backupAgeH, lastBackupOkAt: input.lastBackupOkAt || null }));\n  }\n\n  const existingKeys = new Set(input.existingWarningKeys || []);\n  const newAlerts = alerts.filter(a => { const k = alertToWarningKey(a, now); return k === null || !existingKeys.has(k); });\n  const mail = buildMail(newAlerts, now);\n  return { status: alerts.length > 0 ? 'alert' : 'ok', alerts, warningEvents, mail, shouldSendMail: newAlerts.length > 0 };\n}\n\nfunction buildMail(alerts, now) {\n  const day = isoDay(now);\n  if (alerts.length === 0) {\n    return { sendTo: 'PatrickZinke@gmx.net', subject: 'WF-Monitor ' + day + ': ok', text: 'WF-Monitor ' + day + ': alle Checks ok', html: '<pre>WF-Monitor ' + day + ': alle Checks ok</pre>' };\n  }\n  const first = alerts.find(a => ['CONTAINER_DOWN','PG_UNREACHABLE','BACKUP_STALE'].includes(a.type)) || alerts[0];\n  const detail = first.type === 'CONTAINER_DOWN' ? first.container : first.type;\n  const lines = ['WF-Monitor ' + day + ': ' + alerts.length + ' Alert(s)', ''].concat(alerts.map(a => {\n    if (a.type === 'CONTAINER_DOWN') return 'CONTAINER_DOWN: ' + a.container + ' ist down';\n    if (a.type === 'PG_UNREACHABLE') return 'PG_UNREACHABLE: PostgreSQL nicht erreichbar';\n    if (a.type === 'WORKFLOW_ERROR') return 'WORKFLOW_ERROR: ' + a.workflowName + ' Fehler um ' + a.errorAt;\n    if (a.type === 'AUTH_ERROR') {\n      const parts = ['AUTH_ERROR: ' + a.workflowName];\n      if (a.nodeName) parts.push('Node: ' + a.nodeName);\n      if (a.credentialName) parts.push('Credential: ' + a.credentialName);\n      if (a.errorMsg) parts.push('(' + a.errorMsg + ')');\n      return parts.join(' - ');\n    }\n    if (a.type === 'SCHEDULE_GAP') return 'SCHEDULE_GAP: ' + a.workflowKey + ' zuletzt vor ' + Math.round(a.ageH) + 'h (Limit: ' + SCHEDULE_GAP_THRESHOLD_H + 'h)';\n    if (a.type === 'LOW_DISK_SPACE') return 'LOW_DISK_SPACE: ' + a.freeGb + ' GB frei (Limit: ' + DISK_THRESHOLD_GB + ' GB)';\n    if (a.type === 'BACKUP_STALE') return 'BACKUP_STALE: letztes BACKUP_OK vor ' + Math.round(a.ageH) + 'h (Limit: ' + BACKUP_STALE_THRESHOLD_H + 'h)';\n    if (a.type === 'ERROR_RATE_SPIKE') return 'ERROR_RATE_SPIKE: ' + a.workflowName + ' - ' + a.errorCount + ' Errors in ' + a.windowMinutes + ' Min';\n    if (a.type === 'WORKFLOW_DAILY_FAIL') return 'WORKFLOW_DAILY_FAIL: ' + a.workflowName + ' letzter Lauf fehlgeschlagen';\n    return a.type;\n  }));\n  const text = lines.join('\\n');\n  return { sendTo: 'PatrickZinke@gmx.net', subject: 'WF-Monitor ' + day + ': ALERT - ' + detail, text, html: '<pre>' + text + '</pre>' };\n}\n\n// --- Collect data ---\n\nfunction isHttpUp(nodeName) {\n  try {\n    const items = $(nodeName).all();\n    if (!items || items.length === 0) return false;\n    const j = items[0].json;\n    if (j.error !== undefined || (j.code && j.code.includes('ECONN'))) return false;\n    return true;\n  } catch(e) { return false; }\n}\nconst containers = [\n  { name: 'homelab-ollama',      up: isHttpUp('HTTP Request - Check homelab-ollama') },\n  { name: 'homelab-open-webui',  up: isHttpUp('HTTP Request - Check homelab-open-webui') },\n  { name: 'homelab-dashboard',   up: isHttpUp('HTTP Request - Check homelab-dashboard') },\n];\n\nconst pgRows = $('Postgres - Heartbeat').all();\nconst postgresReachable = pgRows.length > 0 && pgRows[0].json.heartbeat === 1;\nif (!postgresReachable) {\n  containers.push({ name: 'homelab-postgres', up: false });\n}\n\nconst execRows = $('Postgres - n8n Execution Check').all();\nconst execData = execRows.length > 0 ? execRows[0].json : {};\n\nfunction parseJsonField(raw) {\n  if (Array.isArray(raw)) return raw;\n  if (typeof raw === 'string') { try { return JSON.parse(raw); } catch(e) { return []; } }\n  return [];\n}\n\nconst workflowErrors = parseJsonField(execData.recent_errors)\n  .map(e => ({ workflowId: e.workflowId, workflowName: e.workflowName || e.workflowId, errorAt: e.errorAt }));\nconst authErrors = parseJsonField(execData.auth_errors)\n  .map(e => ({ workflowId: e.workflowId, workflowName: e.workflowName || e.workflowId, errorAt: e.errorAt }));\nconst errorRateSpikes = parseJsonField(execData.error_rate_spikes)\n  .map(e => ({ workflowId: e.workflowId, workflowName: e.workflowName || e.workflowId, errorCount: e.errorCount, windowMinutes: e.windowMinutes || 30 }));\nconst criticalWorkflowLastRuns = parseJsonField(execData.critical_workflow_last_runs)\n  .map(e => ({ workflowId: e.workflowId, workflowName: e.workflowName || e.workflowId, lastStatus: e.lastStatus, lastRunAt: e.lastRunAt }));\n\nconst scheduleLastSuccess = {\n  wf3: execData.wf3_last_success || null,\n  wf5: execData.wf5_last_success || null,\n  wf8: execData.wf8_last_success || null,\n};\n\nconst backupRows = $('Postgres - Last Backup OK At').all();\nconst lastBackupOkAt = backupRows.length > 0 ? backupRows[0].json.last_backup_ok_at : null;\n\nconst warnRows = $('Postgres - Existing Today Warnings').all();\nconst existingWarningKeys = warnRows.map(r => r.json.warning_key).filter(Boolean);\n\nconst report = buildMonitoringReport({\n  now: new Date().toISOString(),\n  containers,\n  postgresReachable,\n  workflowErrors,\n  authErrors,\n  errorRateSpikes,\n  criticalWorkflowLastRuns,\n  scheduleLastSuccess,\n  diskFreeGb: null,\n  lastBackupOkAt,\n  existingWarningKeys,\n});\n\nreturn [{ json: report }];"
            },
            "id": "a1000000-0000-0000-0000-000000000010",
            "name": "Code - Build Monitoring Report",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                820,
                -140
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "if-should-send-mail",
                            "leftValue": "={{ $json.shouldSendMail }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "a1000000-0000-0000-0000-000000000011",
            "name": "IF - Should Send Mail",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1060,
                -140
            ]
        },
        {
            "parameters": {
                "jsCode": "const report = $('Code - Build Monitoring Report').first().json;\nconst events = report.warningEvents || [];\nif (events.length === 0) return [];\nreturn events.map(e => ({ json: e }));"
            },
            "id": "a1000000-0000-0000-0000-000000000014",
            "name": "Code - Warning Events",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1300,
                -260
            ]
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "value": "Sajezv8tJll0CLIv",
                    "mode": "id"
                },
                "mode": "each",
                "options": {
                    "waitForSubWorkflow": false
                }
            },
            "id": "a1000000-0000-0000-0000-000000000012",
            "name": "WF-PGW - Write Warning Events",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.2,
            "position": [
                1540,
                -260
            ]
        },
        {
            "parameters": {
                "sendTo": "PatrickZinke@gmx.net",
                "subject": "={{ $('Code - Build Monitoring Report').first().json.mail.subject }}",
                "emailType": "html",
                "message": "={{ $('Code - Build Monitoring Report').first().json.mail.html }}",
                "options": {}
            },
            "id": "a1000000-0000-0000-0000-000000000013",
            "name": "Gmail - Send Alert Mail",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                1300,
                -20
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "8zhryCRhHAc2OnKA",
                    "name": "Gmail account"
                }
            },
            "webhookId": "2e682ccf-214a-4a04-99f6-2379d9f1999c"
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "HTTP Request - Check homelab-ollama",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger - every 5 min": {
            "main": [
                [
                    {
                        "node": "HTTP Request - Check homelab-ollama",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request - Check homelab-ollama": {
            "main": [
                [
                    {
                        "node": "HTTP Request - Check homelab-open-webui",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request - Check homelab-open-webui": {
            "main": [
                [
                    {
                        "node": "HTTP Request - Check homelab-dashboard",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request - Check homelab-dashboard": {
            "main": [
                [
                    {
                        "node": "Postgres - Heartbeat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres - Heartbeat": {
            "main": [
                [
                    {
                        "node": "Postgres - n8n Execution Check",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres - n8n Execution Check": {
            "main": [
                [
                    {
                        "node": "Postgres - Last Backup OK At",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres - Last Backup OK At": {
            "main": [
                [
                    {
                        "node": "Postgres - Existing Today Warnings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres - Existing Today Warnings": {
            "main": [
                [
                    {
                        "node": "Code - Build Monitoring Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code - Build Monitoring Report": {
            "main": [
                [
                    {
                        "node": "IF - Should Send Mail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF - Should Send Mail": {
            "main": [
                [
                    {
                        "node": "Code - Warning Events",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Gmail - Send Alert Mail",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Code - Warning Events": {
            "main": [
                [
                    {
                        "node": "WF-PGW - Write Warning Events",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": {
        "node:Schedule Trigger - every 5 min": {
            "recurrenceRules": []
        }
    },
    "meta": null,
    "pinData": null,
    "versionId": "5775cd82-dbe0-4767-8bd3-31d6727fe72a",
    "activeVersionId": "5775cd82-dbe0-4767-8bd3-31d6727fe72a",
    "versionCounter": 14,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-05-25T14:36:35.428Z",
            "createdAt": "2026-05-25T14:36:35.428Z",
            "role": "workflow:owner",
            "workflowId": "EdgUfv1lMcE25Z3K",
            "projectId": "68wR1Q9zBUk0Gxhv",
            "project": {
                "updatedAt": "2026-05-19T17:59:53.408Z",
                "createdAt": "2026-05-19T16:50:04.773Z",
                "id": "68wR1Q9zBUk0Gxhv",
                "name": "Patrick Matthes <patrickmatthes2609@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "dd26b63a-7133-4afa-995a-0d7d72693aee"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-05-25T15:56:02.470Z",
        "createdAt": "2026-05-25T15:56:02.470Z",
        "versionId": "5775cd82-dbe0-4767-8bd3-31d6727fe72a",
        "workflowId": "EdgUfv1lMcE25Z3K",
        "nodes": [
            {
                "parameters": {},
                "id": "a1000000-0000-0000-0000-000000000001",
                "name": "Manual Trigger",
                "type": "n8n-nodes-base.manualTrigger",
                "typeVersion": 1,
                "position": [
                    -1100,
                    -80
                ]
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "0 */5 * * * *"
                            }
                        ]
                    }
                },
                "id": "a1000000-0000-0000-0000-000000000002",
                "name": "Schedule Trigger - every 5 min",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    -1100,
                    -200
                ]
            },
            {
                "parameters": {
                    "url": "http://homelab-ollama:11434",
                    "options": {
                        "timeout": 3000
                    }
                },
                "id": "a1000000-0000-0000-0000-000000000003",
                "name": "HTTP Request - Check homelab-ollama",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    -860,
                    -140
                ],
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "url": "http://homelab-open-webui:8080",
                    "options": {
                        "timeout": 3000
                    }
                },
                "id": "a1000000-0000-0000-0000-000000000015",
                "name": "HTTP Request - Check homelab-open-webui",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    -620,
                    -140
                ],
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "url": "http://homelab-dashboard:8787",
                    "options": {
                        "timeout": 3000
                    }
                },
                "id": "a1000000-0000-0000-0000-000000000016",
                "name": "HTTP Request - Check homelab-dashboard",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    -380,
                    -140
                ],
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT 1 AS heartbeat"
                },
                "id": "a1000000-0000-0000-0000-000000000004",
                "name": "Postgres - Heartbeat",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.6,
                "position": [
                    -140,
                    -140
                ],
                "credentials": {
                    "postgres": {
                        "id": "Jept3990Uq8aN3Tr",
                        "name": "PostgreSQL"
                    }
                },
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "WITH\nrecent_errors AS (\n  SELECT e.\"workflowId\", COALESCE(w.name, e.\"workflowId\") AS workflow_name, e.\"startedAt\"\n  FROM execution_entity e\n  LEFT JOIN workflow_entity w ON w.id::text = e.\"workflowId\"\n  WHERE e.status = 'error'\n    AND e.\"startedAt\" > NOW() - INTERVAL '1 hour'\n  ORDER BY e.\"startedAt\" DESC\n  LIMIT 10\n),\nauth_errors AS (\n  SELECT e.\"workflowId\", COALESCE(w.name, e.\"workflowId\") AS workflow_name, e.\"startedAt\"\n  FROM execution_entity e\n  LEFT JOIN workflow_entity w ON w.id::text = e.\"workflowId\"\n  WHERE e.status = 'error'\n    AND e.\"startedAt\" > NOW() - INTERVAL '1 hour'\n    AND (\n      e.data::text ILIKE '%EAUTH%'\n      OR e.data::text ILIKE '%401%'\n      OR e.data::text ILIKE '%refresh token%'\n      OR e.data::text ILIKE '%invalid_grant%'\n      OR e.data::text ILIKE '%token has been expired or revoked%'\n    )\n  ORDER BY e.\"startedAt\" DESC\n  LIMIT 10\n),\nerror_rate_spikes AS (\n  SELECT e.\"workflowId\", COALESCE(w.name, e.\"workflowId\") AS workflow_name, COUNT(*) AS error_count\n  FROM execution_entity e\n  LEFT JOIN workflow_entity w ON w.id::text = e.\"workflowId\"\n  WHERE e.status = 'error'\n    AND e.\"startedAt\" > NOW() - INTERVAL '30 minutes'\n  GROUP BY e.\"workflowId\", w.name\n  HAVING COUNT(*) > 5\n),\ncritical_last_runs AS (\n  SELECT DISTINCT ON (e.\"workflowId\")\n    e.\"workflowId\" AS workflow_id,\n    COALESCE(w.name, e.\"workflowId\") AS workflow_name,\n    e.status,\n    e.\"stoppedAt\" AS last_run_at\n  FROM execution_entity e\n  LEFT JOIN workflow_entity w ON w.id::text = e.\"workflowId\"\n  WHERE e.\"workflowId\" IN (\n    'axeg30n8SVKlCW54',\n    'pdIjiyIfVIIPuJIt',\n    '0jSwjm74Bna7FSqr',\n    'gyM9rnvUMfnv4x3G'\n  )\n  AND e.\"stoppedAt\" IS NOT NULL\n  ORDER BY e.\"workflowId\", e.\"stoppedAt\" DESC\n)\nSELECT\n  COALESCE(\n    (SELECT json_agg(json_build_object('workflowId', \"workflowId\", 'workflowName', workflow_name, 'errorAt', \"startedAt\")) FROM recent_errors),\n    '[]'\n  ) AS recent_errors,\n  COALESCE(\n    (SELECT json_agg(json_build_object('workflowId', \"workflowId\", 'workflowName', workflow_name, 'errorAt', \"startedAt\")) FROM auth_errors),\n    '[]'\n  ) AS auth_errors,\n  COALESCE(\n    (SELECT json_agg(json_build_object('workflowId', \"workflowId\", 'workflowName', workflow_name, 'errorCount', error_count, 'windowMinutes', 30)) FROM error_rate_spikes),\n    '[]'\n  ) AS error_rate_spikes,\n  (SELECT \"startedAt\" FROM execution_entity WHERE \"workflowId\" = '3ceKeNWmdj455Tcr' AND status = 'success' ORDER BY \"startedAt\" DESC LIMIT 1) AS wf5_last_success,\n  (SELECT \"startedAt\" FROM execution_entity WHERE \"workflowId\" = 'gyM9rnvUMfnv4x3G' AND status = 'success' ORDER BY \"startedAt\" DESC LIMIT 1) AS wf8_last_success,\n  (SELECT \"startedAt\" FROM execution_entity WHERE \"workflowId\" = 'wbOhFKXQqBpJWB1w' AND status = 'success' ORDER BY \"startedAt\" DESC LIMIT 1) AS wf3_last_success,\n  COALESCE(\n    (SELECT json_agg(json_build_object('workflowId', workflow_id, 'workflowName', workflow_name, 'lastStatus', status, 'lastRunAt', last_run_at)) FROM critical_last_runs),\n    '[]'\n  ) AS critical_workflow_last_runs"
                },
                "id": "a1000000-0000-0000-0000-000000000005",
                "name": "Postgres - n8n Execution Check",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.6,
                "position": [
                    100,
                    -140
                ],
                "credentials": {
                    "postgres": {
                        "id": "gN8QyJ99aeXsLiUK",
                        "name": "PostgreSQL n8n DB"
                    }
                },
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT MAX(created_at) AS last_backup_ok_at FROM automatenlager.warnings WHERE warning_type = 'BACKUP_OK'"
                },
                "id": "a1000000-0000-0000-0000-000000000009",
                "name": "Postgres - Last Backup OK At",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.6,
                "position": [
                    340,
                    -140
                ],
                "credentials": {
                    "postgres": {
                        "id": "Jept3990Uq8aN3Tr",
                        "name": "PostgreSQL"
                    }
                },
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT warning_key FROM automatenlager.warnings WHERE source_workflow = 'wf-monitor' AND created_at >= CURRENT_DATE AT TIME ZONE 'Europe/Berlin'"
                },
                "id": "a1000000-0000-0000-0000-000000000017",
                "name": "Postgres - Existing Today Warnings",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.6,
                "position": [
                    580,
                    -140
                ],
                "credentials": {
                    "postgres": {
                        "id": "Jept3990Uq8aN3Tr",
                        "name": "PostgreSQL"
                    }
                },
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "jsCode": "// Inline: wf-monitor-logic (buildMonitoringReport) with deduplication\nconst SCHEDULE_GAP_THRESHOLD_H = 26;\nconst BACKUP_STALE_THRESHOLD_H = 26;\nconst DISK_THRESHOLD_GB = 20;\n\nfunction hoursBetween(olderIso, nowIso) {\n  if (!olderIso) return Number.POSITIVE_INFINITY;\n  const start = new Date(olderIso).getTime();\n  const end = new Date(nowIso).getTime();\n  if (!Number.isFinite(start)) return Number.POSITIVE_INFINITY;\n  return (end - start) / 36e5;\n}\nfunction isoDay(isoString) {\n  return String(isoString || new Date().toISOString()).slice(0, 10);\n}\nfunction warnEvent(warningType, subjectKey, severity, message, now, details) {\n  const day = isoDay(now);\n  return {\n    event_type: 'warning',\n    batch_run_id: 'wf-monitor_' + day,\n    data: {\n      warning_key: warningType + '|' + subjectKey + '|' + day,\n      warning_type: warningType,\n      severity,\n      source_workflow: 'wf-monitor',\n      subject_key: subjectKey,\n      message,\n      details: details || {},\n    },\n  };\n}\nfunction alertToWarningKey(alert, now) {\n  const day = isoDay(now);\n  switch (alert.type) {\n    case 'CONTAINER_DOWN': return 'CONTAINER_DOWN|' + alert.container + '|' + day;\n    case 'PG_UNREACHABLE': return 'PG_UNREACHABLE|postgres|' + day;\n    case 'WORKFLOW_ERROR': return 'WORKFLOW_ERROR|' + (alert.workflowId || alert.workflowName) + '|' + day;\n    case 'AUTH_ERROR': return 'AUTH_ERROR|' + (alert.workflowId || alert.workflowName) + '|' + day;\n    case 'SCHEDULE_GAP': return 'SCHEDULE_GAP|' + alert.workflowKey + '|' + day;\n    case 'LOW_DISK_SPACE': return 'LOW_DISK_SPACE|C_HOMELAB|' + day;\n    case 'BACKUP_STALE': return 'BACKUP_STALE|backup|' + day;\n    case 'ERROR_RATE_SPIKE': return 'ERROR_RATE_SPIKE|' + (alert.workflowId || alert.workflowName) + '|' + day;\n    case 'WORKFLOW_DAILY_FAIL': return 'WORKFLOW_DAILY_FAIL|' + (alert.workflowId || alert.workflowName) + '|' + day;\n    default: return null;\n  }\n}\nfunction buildMonitoringReport(input) {\n  const now = input.now || new Date().toISOString();\n  const alerts = [];\n  const warningEvents = [];\n\n  for (const container of (input.containers || [])) {\n    if (!container.up) {\n      alerts.push({ type: 'CONTAINER_DOWN', container: container.name });\n      warningEvents.push(warnEvent('CONTAINER_DOWN', container.name, 'critical', 'Container ' + container.name + ' is down', now, { container: container.name }));\n    }\n  }\n\n  if (input.postgresReachable === false) {\n    alerts.push({ type: 'PG_UNREACHABLE' });\n    warningEvents.push(warnEvent('PG_UNREACHABLE', 'postgres', 'critical', 'PostgreSQL is unreachable', now));\n  }\n\n  for (const err of (input.authErrors || [])) {\n    alerts.push({ type: 'AUTH_ERROR', workflowName: err.workflowName, workflowId: err.workflowId, nodeName: err.nodeName || null, credentialName: err.credentialName || null, errorAt: err.errorAt, errorMsg: err.errorMsg || null });\n    const msgParts = ['Auth-Fehler in ' + err.workflowName];\n    if (err.nodeName) msgParts.push('Node: ' + err.nodeName);\n    if (err.credentialName) msgParts.push('Credential: ' + err.credentialName);\n    if (err.errorMsg) msgParts.push('(' + err.errorMsg + ')');\n    warningEvents.push(warnEvent('AUTH_ERROR', err.workflowId || err.workflowName, 'critical', msgParts.join(' - '), now, { workflowName: err.workflowName, nodeName: err.nodeName, credentialName: err.credentialName, errorAt: err.errorAt, errorMsg: err.errorMsg }));\n  }\n\n  for (const err of (input.workflowErrors || [])) {\n    alerts.push({ type: 'WORKFLOW_ERROR', workflowName: err.workflowName, workflowId: err.workflowId, errorAt: err.errorAt });\n    warningEvents.push(warnEvent('WORKFLOW_ERROR', err.workflowId || err.workflowName, 'warning', 'Workflow error in ' + err.workflowName + ' at ' + err.errorAt, now, { workflowName: err.workflowName, errorAt: err.errorAt }));\n  }\n\n  for (const [key, lastSuccess] of Object.entries(input.scheduleLastSuccess || {})) {\n    const ageH = hoursBetween(lastSuccess, now);\n    if (ageH > SCHEDULE_GAP_THRESHOLD_H) {\n      alerts.push({ type: 'SCHEDULE_GAP', workflowKey: key, ageH, lastSuccessAt: lastSuccess });\n      warningEvents.push(warnEvent('SCHEDULE_GAP', key, 'warning', 'Schedule gap: ' + key + ' last success ' + Math.round(ageH) + 'h ago (limit: ' + SCHEDULE_GAP_THRESHOLD_H + 'h)', now, { workflowKey: key, ageH, lastSuccessAt: lastSuccess || null }));\n    }\n  }\n\n  if (input.diskFreeGb != null && input.diskFreeGb < DISK_THRESHOLD_GB) {\n    alerts.push({ type: 'LOW_DISK_SPACE', freeGb: input.diskFreeGb, thresholdGb: DISK_THRESHOLD_GB });\n    warningEvents.push(warnEvent('LOW_DISK_SPACE', 'C_HOMELAB', 'warning', 'Disk free ' + input.diskFreeGb + ' GB below threshold ' + DISK_THRESHOLD_GB + ' GB', now, { freeGb: input.diskFreeGb, thresholdGb: DISK_THRESHOLD_GB }));\n  }\n\n  for (const spike of (input.errorRateSpikes || [])) {\n    alerts.push({ type: 'ERROR_RATE_SPIKE', workflowId: spike.workflowId, workflowName: spike.workflowName, errorCount: spike.errorCount, windowMinutes: spike.windowMinutes });\n    warningEvents.push(warnEvent('ERROR_RATE_SPIKE', spike.workflowId || spike.workflowName, 'warning', 'Fehlerraten-Spitze: ' + spike.workflowName + ' - ' + spike.errorCount + ' Errors in ' + spike.windowMinutes + ' Min', now, { workflowName: spike.workflowName, errorCount: spike.errorCount, windowMinutes: spike.windowMinutes }));\n  }\n\n  for (const wf of (input.criticalWorkflowLastRuns || [])) {\n    if (wf.lastStatus === 'error') {\n      alerts.push({ type: 'WORKFLOW_DAILY_FAIL', workflowId: wf.workflowId, workflowName: wf.workflowName, lastRunAt: wf.lastRunAt });\n      warningEvents.push(warnEvent('WORKFLOW_DAILY_FAIL', wf.workflowId || wf.workflowName, 'warning', 'Letzter Lauf fehlgeschlagen: ' + wf.workflowName, now, { workflowId: wf.workflowId, workflowName: wf.workflowName, lastRunAt: wf.lastRunAt }));\n    }\n  }\n\n  const backupAgeH = hoursBetween(input.lastBackupOkAt, now);\n  if (backupAgeH > BACKUP_STALE_THRESHOLD_H) {\n    alerts.push({ type: 'BACKUP_STALE', ageH: backupAgeH, lastBackupOkAt: input.lastBackupOkAt || null });\n    warningEvents.push(warnEvent('BACKUP_STALE', 'backup', 'warning', 'Backup stale: last BACKUP_OK ' + Math.round(backupAgeH) + 'h ago (limit: ' + BACKUP_STALE_THRESHOLD_H + 'h)', now, { ageH: backupAgeH, lastBackupOkAt: input.lastBackupOkAt || null }));\n  }\n\n  const existingKeys = new Set(input.existingWarningKeys || []);\n  const newAlerts = alerts.filter(a => { const k = alertToWarningKey(a, now); return k === null || !existingKeys.has(k); });\n  const mail = buildMail(newAlerts, now);\n  return { status: alerts.length > 0 ? 'alert' : 'ok', alerts, warningEvents, mail, shouldSendMail: newAlerts.length > 0 };\n}\n\nfunction buildMail(alerts, now) {\n  const day = isoDay(now);\n  if (alerts.length === 0) {\n    return { sendTo: 'PatrickZinke@gmx.net', subject: 'WF-Monitor ' + day + ': ok', text: 'WF-Monitor ' + day + ': alle Checks ok', html: '<pre>WF-Monitor ' + day + ': alle Checks ok</pre>' };\n  }\n  const first = alerts.find(a => ['CONTAINER_DOWN','PG_UNREACHABLE','BACKUP_STALE'].includes(a.type)) || alerts[0];\n  const detail = first.type === 'CONTAINER_DOWN' ? first.container : first.type;\n  const lines = ['WF-Monitor ' + day + ': ' + alerts.length + ' Alert(s)', ''].concat(alerts.map(a => {\n    if (a.type === 'CONTAINER_DOWN') return 'CONTAINER_DOWN: ' + a.container + ' ist down';\n    if (a.type === 'PG_UNREACHABLE') return 'PG_UNREACHABLE: PostgreSQL nicht erreichbar';\n    if (a.type === 'WORKFLOW_ERROR') return 'WORKFLOW_ERROR: ' + a.workflowName + ' Fehler um ' + a.errorAt;\n    if (a.type === 'AUTH_ERROR') {\n      const parts = ['AUTH_ERROR: ' + a.workflowName];\n      if (a.nodeName) parts.push('Node: ' + a.nodeName);\n      if (a.credentialName) parts.push('Credential: ' + a.credentialName);\n      if (a.errorMsg) parts.push('(' + a.errorMsg + ')');\n      return parts.join(' - ');\n    }\n    if (a.type === 'SCHEDULE_GAP') return 'SCHEDULE_GAP: ' + a.workflowKey + ' zuletzt vor ' + Math.round(a.ageH) + 'h (Limit: ' + SCHEDULE_GAP_THRESHOLD_H + 'h)';\n    if (a.type === 'LOW_DISK_SPACE') return 'LOW_DISK_SPACE: ' + a.freeGb + ' GB frei (Limit: ' + DISK_THRESHOLD_GB + ' GB)';\n    if (a.type === 'BACKUP_STALE') return 'BACKUP_STALE: letztes BACKUP_OK vor ' + Math.round(a.ageH) + 'h (Limit: ' + BACKUP_STALE_THRESHOLD_H + 'h)';\n    if (a.type === 'ERROR_RATE_SPIKE') return 'ERROR_RATE_SPIKE: ' + a.workflowName + ' - ' + a.errorCount + ' Errors in ' + a.windowMinutes + ' Min';\n    if (a.type === 'WORKFLOW_DAILY_FAIL') return 'WORKFLOW_DAILY_FAIL: ' + a.workflowName + ' letzter Lauf fehlgeschlagen';\n    return a.type;\n  }));\n  const text = lines.join('\\n');\n  return { sendTo: 'PatrickZinke@gmx.net', subject: 'WF-Monitor ' + day + ': ALERT - ' + detail, text, html: '<pre>' + text + '</pre>' };\n}\n\n// --- Collect data ---\n\nfunction isHttpUp(nodeName) {\n  try {\n    const items = $(nodeName).all();\n    if (!items || items.length === 0) return false;\n    const j = items[0].json;\n    if (j.error !== undefined || (j.code && j.code.includes('ECONN'))) return false;\n    return true;\n  } catch(e) { return false; }\n}\nconst containers = [\n  { name: 'homelab-ollama',      up: isHttpUp('HTTP Request - Check homelab-ollama') },\n  { name: 'homelab-open-webui',  up: isHttpUp('HTTP Request - Check homelab-open-webui') },\n  { name: 'homelab-dashboard',   up: isHttpUp('HTTP Request - Check homelab-dashboard') },\n];\n\nconst pgRows = $('Postgres - Heartbeat').all();\nconst postgresReachable = pgRows.length > 0 && pgRows[0].json.heartbeat === 1;\nif (!postgresReachable) {\n  containers.push({ name: 'homelab-postgres', up: false });\n}\n\nconst execRows = $('Postgres - n8n Execution Check').all();\nconst execData = execRows.length > 0 ? execRows[0].json : {};\n\nfunction parseJsonField(raw) {\n  if (Array.isArray(raw)) return raw;\n  if (typeof raw === 'string') { try { return JSON.parse(raw); } catch(e) { return []; } }\n  return [];\n}\n\nconst workflowErrors = parseJsonField(execData.recent_errors)\n  .map(e => ({ workflowId: e.workflowId, workflowName: e.workflowName || e.workflowId, errorAt: e.errorAt }));\nconst authErrors = parseJsonField(execData.auth_errors)\n  .map(e => ({ workflowId: e.workflowId, workflowName: e.workflowName || e.workflowId, errorAt: e.errorAt }));\nconst errorRateSpikes = parseJsonField(execData.error_rate_spikes)\n  .map(e => ({ workflowId: e.workflowId, workflowName: e.workflowName || e.workflowId, errorCount: e.errorCount, windowMinutes: e.windowMinutes || 30 }));\nconst criticalWorkflowLastRuns = parseJsonField(execData.critical_workflow_last_runs)\n  .map(e => ({ workflowId: e.workflowId, workflowName: e.workflowName || e.workflowId, lastStatus: e.lastStatus, lastRunAt: e.lastRunAt }));\n\nconst scheduleLastSuccess = {\n  wf3: execData.wf3_last_success || null,\n  wf5: execData.wf5_last_success || null,\n  wf8: execData.wf8_last_success || null,\n};\n\nconst backupRows = $('Postgres - Last Backup OK At').all();\nconst lastBackupOkAt = backupRows.length > 0 ? backupRows[0].json.last_backup_ok_at : null;\n\nconst warnRows = $('Postgres - Existing Today Warnings').all();\nconst existingWarningKeys = warnRows.map(r => r.json.warning_key).filter(Boolean);\n\nconst report = buildMonitoringReport({\n  now: new Date().toISOString(),\n  containers,\n  postgresReachable,\n  workflowErrors,\n  authErrors,\n  errorRateSpikes,\n  criticalWorkflowLastRuns,\n  scheduleLastSuccess,\n  diskFreeGb: null,\n  lastBackupOkAt,\n  existingWarningKeys,\n});\n\nreturn [{ json: report }];"
                },
                "id": "a1000000-0000-0000-0000-000000000010",
                "name": "Code - Build Monitoring Report",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    820,
                    -140
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "if-should-send-mail",
                                "leftValue": "={{ $json.shouldSendMail }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "true"
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "options": {}
                },
                "id": "a1000000-0000-0000-0000-000000000011",
                "name": "IF - Should Send Mail",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    1060,
                    -140
                ]
            },
            {
                "parameters": {
                    "jsCode": "const report = $('Code - Build Monitoring Report').first().json;\nconst events = report.warningEvents || [];\nif (events.length === 0) return [];\nreturn events.map(e => ({ json: e }));"
                },
                "id": "a1000000-0000-0000-0000-000000000014",
                "name": "Code - Warning Events",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1300,
                    -260
                ]
            },
            {
                "parameters": {
                    "workflowId": {
                        "__rl": true,
                        "value": "Sajezv8tJll0CLIv",
                        "mode": "id"
                    },
                    "mode": "each",
                    "options": {
                        "waitForSubWorkflow": false
                    }
                },
                "id": "a1000000-0000-0000-0000-000000000012",
                "name": "WF-PGW - Write Warning Events",
                "type": "n8n-nodes-base.executeWorkflow",
                "typeVersion": 1.2,
                "position": [
                    1540,
                    -260
                ]
            },
            {
                "parameters": {
                    "sendTo": "PatrickZinke@gmx.net",
                    "subject": "={{ $('Code - Build Monitoring Report').first().json.mail.subject }}",
                    "emailType": "html",
                    "message": "={{ $('Code - Build Monitoring Report').first().json.mail.html }}",
                    "options": {}
                },
                "id": "a1000000-0000-0000-0000-000000000013",
                "name": "Gmail - Send Alert Mail",
                "type": "n8n-nodes-base.gmail",
                "typeVersion": 2.1,
                "position": [
                    1300,
                    -20
                ],
                "credentials": {
                    "gmailOAuth2": {
                        "id": "8zhryCRhHAc2OnKA",
                        "name": "Gmail account"
                    }
                },
                "webhookId": "2e682ccf-214a-4a04-99f6-2379d9f1999c"
            }
        ],
        "connections": {
            "Manual Trigger": {
                "main": [
                    [
                        {
                            "node": "HTTP Request - Check homelab-ollama",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Schedule Trigger - every 5 min": {
                "main": [
                    [
                        {
                            "node": "HTTP Request - Check homelab-ollama",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "HTTP Request - Check homelab-ollama": {
                "main": [
                    [
                        {
                            "node": "HTTP Request - Check homelab-open-webui",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "HTTP Request - Check homelab-open-webui": {
                "main": [
                    [
                        {
                            "node": "HTTP Request - Check homelab-dashboard",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "HTTP Request - Check homelab-dashboard": {
                "main": [
                    [
                        {
                            "node": "Postgres - Heartbeat",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Postgres - Heartbeat": {
                "main": [
                    [
                        {
                            "node": "Postgres - n8n Execution Check",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Postgres - n8n Execution Check": {
                "main": [
                    [
                        {
                            "node": "Postgres - Last Backup OK At",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Postgres - Last Backup OK At": {
                "main": [
                    [
                        {
                            "node": "Postgres - Existing Today Warnings",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Postgres - Existing Today Warnings": {
                "main": [
                    [
                        {
                            "node": "Code - Build Monitoring Report",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Code - Build Monitoring Report": {
                "main": [
                    [
                        {
                            "node": "IF - Should Send Mail",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "IF - Should Send Mail": {
                "main": [
                    [
                        {
                            "node": "Code - Warning Events",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Gmail - Send Alert Mail",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Code - Warning Events": {
                "main": [
                    [
                        {
                            "node": "WF-PGW - Write Warning Events",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Patrick Matthes",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-05-25T15:56:02.506Z",
                "id": 88,
                "workflowId": "EdgUfv1lMcE25Z3K",
                "versionId": "5775cd82-dbe0-4767-8bd3-31d6727fe72a",
                "event": "deactivated",
                "userId": "dd26b63a-7133-4afa-995a-0d7d72693aee"
            },
            {
                "createdAt": "2026-05-25T15:56:02.520Z",
                "id": 89,
                "workflowId": "EdgUfv1lMcE25Z3K",
                "versionId": "5775cd82-dbe0-4767-8bd3-31d6727fe72a",
                "event": "activated",
                "userId": "dd26b63a-7133-4afa-995a-0d7d72693aee"
            }
        ]
    }
}