WF-Val - DB Konsistenz-Check.json
{
  "updatedAt": "2026-06-05T08:16:01.067Z",
  "createdAt": "2026-05-25T14:36:35.576Z",
  "id": "pdIjiyIfVIIPuJIt",
  "name": "WF-Val - DB Konsistenz-Check",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "1256D609",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 4 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "83844716",
      "name": "DB - Konsistenzcheck",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        240,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'keine_preise' AS check_type, sa.product_slot_key AS key, p.name || ' (' || m.machine_key || ')' AS name, 'Aktiver Slot ohne Preis: ' || p.name AS message FROM automatenlager.slot_assignments sa JOIN automatenlager.products p ON p.product_id = sa.product_id JOIN automatenlager.machines m ON m.machine_id = sa.machine_id LEFT JOIN automatenlager.prices pr ON pr.slot_assignment_id = sa.slot_assignment_id AND pr.valid_to IS NULL WHERE sa.active = TRUE AND pr.price_id IS NULL UNION ALL SELECT 'negative_qty', sb.batch_key, p.name, 'Negative Menge (' || sb.remaining_qty || ') fuer: ' || p.name FROM automatenlager.stock_batches sb JOIN automatenlager.products p ON p.product_id = sb.product_id WHERE sb.remaining_qty < 0 AND sb.status IN ('aktiv','active','reserve') UNION ALL SELECT 'wf3_stale', workflow_key, workflow_key, 'WF3 seit ' || ROUND(EXTRACT(EPOCH FROM (NOW()-updated_at))/60,1) || ' Min nicht gelaufen' FROM automatenlager.workflow_state WHERE workflow_key = 'WF3_NAYAX_FIFO'   AND (updated_at IS NULL OR updated_at < NOW() - INTERVAL '30 minutes') UNION ALL SELECT 'alte_warnungen', warning_type || '_count', warning_type, COUNT(*) || ' ungeloeste Warnungen (Typ: ' || warning_type || ') aelter 7 Tage' FROM automatenlager.warnings WHERE resolved = FALSE AND severity != 'info'   AND created_at < NOW() - INTERVAL '7 days' GROUP BY warning_type HAVING COUNT(*) > 0 UNION ALL SELECT 'pending_proposals', proposal_key, COALESCE(reason,'?'), 'Proposal seit ' || EXTRACT(DAY FROM NOW()-created_at)::int || ' Tagen offen: ' || COALESCE(reason,'?') FROM automatenlager.product_change_proposals WHERE status = 'pending' AND created_at < NOW() - INTERVAL '14 days' ORDER BY check_type, key",
        "options": {}
      }
    },
    {
      "id": "84016DC0",
      "name": "Code - Ergebnisse aggregieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items.length) {\n  return [{ json: {\n    status: 'OK', count: 0,\n    email_subject: null, email_body: null,\n    summary: 'Alle DB-Konsistenzpruefungen bestanden.'\n  }}];\n}\nconst CHECK_LABELS = {\n  keine_preise:     'Aktive Slots ohne Preis',\n  negative_qty:     'Negative Lagermengen',\n  wf3_stale:        'WF3 Verkaufsworkflow haengt',\n  alte_warnungen:   'Alte ungeloeste Warnungen (>7 Tage)',\n  pending_proposals:'Offene Rechnungsvorschlaege (>14 Tage)',\n};\nconst grouped = {};\nfor (const { json: row } of items) {\n  if (!grouped[row.check_type]) grouped[row.check_type] = [];\n  grouped[row.check_type].push(row.message);\n}\nconst lines = Object.entries(grouped).map(([type, msgs]) => {\n  const label = CHECK_LABELS[type] || type;\n  return '<h3 style=\"color:#c0392b\">' + label + ' (' + msgs.length + ')</h3><ul>' +\n    msgs.map(m => '<li>' + m + '</li>').join('') + '</ul>';\n}).join('');\nconst count = items.length;\nconst ts = new Date().toISOString();\nreturn [{ json: {\n  status: 'FEHLER', count, grouped,\n  email_subject: '[DB-Check] ' + count + ' Problem' + (count !== 1 ? 'e' : '') + ' — Automatenlager',\n  email_body: '<h2 style=\"color:#c0392b\">DB-Konsistenzpruefung: ' + count +\n    ' Problem' + (count !== 1 ? 'e' : '') + '</h2>' + lines +\n    '<hr><p style=\"color:#888;font-size:12px\">WF-Val Check: ' + ts + '</p>'\n}}];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "B1F9ADCA",
      "name": "IF - Probleme gefunden",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "FEHLER",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "3D2C60B3",
      "name": "Gmail - Alert senden",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        -120
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "8zhryCRhHAc2OnKA",
          "name": "Gmail account"
        }
      },
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "send",
        "sendTo": "patrickzinke@gmx.net",
        "subject": "={{ $json.email_subject }}",
        "emailType": "html",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "webhookId": "ec2f70d4-bc84-4336-a874-82d29caf2d49"
    },
    {
      "id": "BD9D75CB",
      "name": "Alles OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        80
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "DB - Konsistenzcheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Konsistenzcheck": {
      "main": [
        [
          {
            "node": "Code - Ergebnisse aggregieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Ergebnisse aggregieren": {
      "main": [
        [
          {
            "node": "IF - Probleme gefunden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Probleme gefunden": {
      "main": [
        [
          {
            "node": "Gmail - Alert senden",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alles OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin"
  },
  "staticData": {
    "node:Schedule Trigger - daily after 04:00": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "50bc7e33-4501-4134-a417-395ad4ff358f",
  "activeVersionId": "50bc7e33-4501-4134-a417-395ad4ff358f",
  "versionCounter": 9,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-25T14:36:35.576Z",
      "createdAt": "2026-05-25T14:36:35.576Z",
      "role": "workflow:owner",
      "workflowId": "pdIjiyIfVIIPuJIt",
      "projectId": "68wR1Q9zBUk0Gxhv",
      "project": {
        "updatedAt": "2026-05-19T17:59:53.408Z",
        "createdAt": "2026-05-19T16:50:04.773Z",
        "id": "68wR1Q9zBUk0Gxhv",
        "name": "Patrick Matthes <patrickmatthes2609@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "dd26b63a-7133-4afa-995a-0d7d72693aee"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-05T08:16:01.069Z",
    "createdAt": "2026-06-05T08:16:01.069Z",
    "versionId": "50bc7e33-4501-4134-a417-395ad4ff358f",
    "workflowId": "pdIjiyIfVIIPuJIt",
    "nodes": [
      {
        "id": "1256D609",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 15 4 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "83844716",
        "name": "DB - Konsistenzcheck",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          240,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "Jept3990Uq8aN3Tr",
            "name": "PostgreSQL"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT 'keine_preise' AS check_type, sa.product_slot_key AS key, p.name || ' (' || m.machine_key || ')' AS name, 'Aktiver Slot ohne Preis: ' || p.name AS message FROM automatenlager.slot_assignments sa JOIN automatenlager.products p ON p.product_id = sa.product_id JOIN automatenlager.machines m ON m.machine_id = sa.machine_id LEFT JOIN automatenlager.prices pr ON pr.slot_assignment_id = sa.slot_assignment_id AND pr.valid_to IS NULL WHERE sa.active = TRUE AND pr.price_id IS NULL UNION ALL SELECT 'negative_qty', sb.batch_key, p.name, 'Negative Menge (' || sb.remaining_qty || ') fuer: ' || p.name FROM automatenlager.stock_batches sb JOIN automatenlager.products p ON p.product_id = sb.product_id WHERE sb.remaining_qty < 0 AND sb.status IN ('aktiv','active','reserve') UNION ALL SELECT 'wf3_stale', workflow_key, workflow_key, 'WF3 seit ' || ROUND(EXTRACT(EPOCH FROM (NOW()-updated_at))/60,1) || ' Min nicht gelaufen' FROM automatenlager.workflow_state WHERE workflow_key = 'WF3_NAYAX_FIFO'   AND (updated_at IS NULL OR updated_at < NOW() - INTERVAL '30 minutes') UNION ALL SELECT 'alte_warnungen', warning_type || '_count', warning_type, COUNT(*) || ' ungeloeste Warnungen (Typ: ' || warning_type || ') aelter 7 Tage' FROM automatenlager.warnings WHERE resolved = FALSE AND severity != 'info'   AND created_at < NOW() - INTERVAL '7 days' GROUP BY warning_type HAVING COUNT(*) > 0 UNION ALL SELECT 'pending_proposals', proposal_key, COALESCE(reason,'?'), 'Proposal seit ' || EXTRACT(DAY FROM NOW()-created_at)::int || ' Tagen offen: ' || COALESCE(reason,'?') FROM automatenlager.product_change_proposals WHERE status = 'pending' AND created_at < NOW() - INTERVAL '14 days' ORDER BY check_type, key",
          "options": {}
        }
      },
      {
        "id": "84016DC0",
        "name": "Code - Ergebnisse aggregieren",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          0
        ],
        "parameters": {
          "jsCode": "const items = $input.all();\nif (!items.length) {\n  return [{ json: {\n    status: 'OK', count: 0,\n    email_subject: null, email_body: null,\n    summary: 'Alle DB-Konsistenzpruefungen bestanden.'\n  }}];\n}\nconst CHECK_LABELS = {\n  keine_preise:     'Aktive Slots ohne Preis',\n  negative_qty:     'Negative Lagermengen',\n  wf3_stale:        'WF3 Verkaufsworkflow haengt',\n  alte_warnungen:   'Alte ungeloeste Warnungen (>7 Tage)',\n  pending_proposals:'Offene Rechnungsvorschlaege (>14 Tage)',\n};\nconst grouped = {};\nfor (const { json: row } of items) {\n  if (!grouped[row.check_type]) grouped[row.check_type] = [];\n  grouped[row.check_type].push(row.message);\n}\nconst lines = Object.entries(grouped).map(([type, msgs]) => {\n  const label = CHECK_LABELS[type] || type;\n  return '<h3 style=\"color:#c0392b\">' + label + ' (' + msgs.length + ')</h3><ul>' +\n    msgs.map(m => '<li>' + m + '</li>').join('') + '</ul>';\n}).join('');\nconst count = items.length;\nconst ts = new Date().toISOString();\nreturn [{ json: {\n  status: 'FEHLER', count, grouped,\n  email_subject: '[DB-Check] ' + count + ' Problem' + (count !== 1 ? 'e' : '') + ' — Automatenlager',\n  email_body: '<h2 style=\"color:#c0392b\">DB-Konsistenzpruefung: ' + count +\n    ' Problem' + (count !== 1 ? 'e' : '') + '</h2>' + lines +\n    '<hr><p style=\"color:#888;font-size:12px\">WF-Val Check: ' + ts + '</p>'\n}}];",
          "mode": "runOnceForAllItems"
        }
      },
      {
        "id": "B1F9ADCA",
        "name": "IF - Probleme gefunden",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          720,
          0
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "1",
                "leftValue": "={{ $json.status }}",
                "rightValue": "FEHLER",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "3D2C60B3",
        "name": "Gmail - Alert senden",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          960,
          -120
        ],
        "credentials": {
          "gmailOAuth2": {
            "id": "8zhryCRhHAc2OnKA",
            "name": "Gmail account"
          }
        },
        "parameters": {
          "authentication": "oAuth2",
          "resource": "message",
          "operation": "send",
          "sendTo": "patrickzinke@gmx.net",
          "subject": "={{ $json.email_subject }}",
          "emailType": "html",
          "message": "={{ $json.email_body }}",
          "options": {}
        },
        "webhookId": "ec2f70d4-bc84-4336-a874-82d29caf2d49"
      },
      {
        "id": "BD9D75CB",
        "name": "Alles OK",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          960,
          80
        ],
        "parameters": {}
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "DB - Konsistenzcheck",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DB - Konsistenzcheck": {
        "main": [
          [
            {
              "node": "Code - Ergebnisse aggregieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Ergebnisse aggregieren": {
        "main": [
          [
            {
              "node": "IF - Probleme gefunden",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Probleme gefunden": {
        "main": [
          [
            {
              "node": "Gmail - Alert senden",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Alles OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Patrick Matthes",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-05T08:16:01.131Z",
        "id": 293,
        "workflowId": "pdIjiyIfVIIPuJIt",
        "versionId": "50bc7e33-4501-4134-a417-395ad4ff358f",
        "event": "activated",
        "userId": "dd26b63a-7133-4afa-995a-0d7d72693aee"
      }
    ]
  }
}