WF2 - Smart Product Selection - Rechnungsvorschlaege freigeben.json
{
  "name": "WF2 - Smart Product Selection - Rechnungsvorschlaege freigeben",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "content": "WF3 - Smart Product Selection\n\nZiel:\n1. approval_id eingeben.\n2. Workflow l?dt den Rechnungs-Vorschlag und alle Produkte.\n3. Workflow berechnet passende Produktkandidaten.\n4. Du w?hlst 1, 2, 3, NEW oder REJECT.\n5. Der Workflow ?bernimmt bestehende Produktdaten oder legt ein neues Produkt an.\n6. Danach werden Alias, Lagercharge und Pr?fstatus geschrieben.\n\nWichtig:\n- F?r n8n 2.18.5: Abschluss ?ber Form Ending, nicht Respond to Webhook.\n- Nach Import Google-Sheets-Credentials neu setzen.\n- Erst mit Testdaten ausf?hren.\n- WF2 muss approval_id in Rechnungseingang_Pruefung schreiben.",
        "height": 520,
        "width": 600,
        "color": 4
      },
      "id": "abfed75c-e8c4-424e-9366-5275e11aeb88",
      "name": "Hinweis - Bedienung",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "sheet-id",
              "name": "google_sheet_id",
              "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
              "type": "string"
            },
            {
              "id": "sheet-pruefung",
              "name": "sheet_pruefung",
              "value": "Rechnungseingang_Pruefung",
              "type": "string"
            },
            {
              "id": "sheet-produkte",
              "name": "sheet_produkte",
              "value": "Produkte",
              "type": "string"
            },
            {
              "id": "sheet-lagerchargen",
              "name": "sheet_lagerchargen",
              "value": "Lagerchargen",
              "type": "string"
            },
            {
              "id": "sheet-aliase",
              "name": "sheet_aliase",
              "value": "Produkt_Aliase",
              "type": "string"
            },
            {
              "id": "default-storage",
              "name": "default_storage_location",
              "value": "Lager",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "6d487761-87ec-4239-99fd-6f70e736fc63",
      "name": "Config - WF3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        592
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  proposal_key AS approval_id,\n  proposal_type,\n  status,\n  reason,\n  to_char(created_at,'YYYY-MM-DD\"T\"HH24:MI:SS') || 'Z' AS created_at,\n  payload->>'source_file' AS source_file,\n  payload->>'invoice_number' AS invoice_number,\n  payload->>'invoice_date' AS invoice_date,\n  payload->>'supplier' AS supplier,\n  payload->>'raw_item_name' AS raw_item_name,\n  payload->>'recognized_product_name' AS recognized_product_name,\n  payload->>'product_key' AS product_key,\n  payload->>'mdb_code' AS mdb_code,\n  payload->>'quantity' AS quantity,\n  payload->>'unit_price_net' AS unit_price_net,\n  payload->>'mhd_date' AS mhd_date,\n  payload->>'product_slot_id' AS product_slot_id,\n  payload->>'machine_id' AS machine_id,\n  payload->>'match_type' AS match_type,\n  payload->>'match_score' AS match_score,\n  payload->>'notes' AS notes,\n  payload\nFROM automatenlager.product_change_proposals\nWHERE status = 'pending'\nORDER BY created_at ASC",
        "options": {}
      },
      "id": "f9180c49-1826-47b0-a7b8-c127e0b2a4f6",
      "name": "Google Sheets - Pruefung lesen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        560,
        592
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.product_key AS product_key, p.name AS internal_product_name,\n       COALESCE(na.alias,'') AS nayax_product_name,\n       COALESCE(sa.mdb_code::text,'') AS mdb_code,\n       m.machine_key AS machine_id,\n       CASE WHEN sa.active THEN 'TRUE' ELSE 'FALSE' END AS active,\n       sa.product_slot_key AS product_slot_id,\n       COALESCE(pr.sale_price_gross::text,'') AS sale_price_eur,\n       COALESCE(sa.current_machine_qty::text,'') AS current_machine_qty,\n       COALESCE(sa.machine_capacity::text,'') AS machine_capacity,\n       COALESCE(sa.target_stock::text,'') AS target_stock,\n       p.category AS produktart,\n       COALESCE(p.vat_rate_pct::text,'') AS mwst_satz,\n       COALESCE(sa.notes,'') AS notes\nFROM automatenlager.slot_assignments sa\nJOIN automatenlager.products p ON p.product_id = sa.product_id\nJOIN automatenlager.machines m ON m.machine_id = sa.machine_id\nLEFT JOIN LATERAL (SELECT pa.alias FROM automatenlager.product_aliases pa WHERE pa.product_id=p.product_id AND pa.source='nayax' AND pa.is_primary=TRUE ORDER BY pa.alias LIMIT 1) na ON TRUE\nLEFT JOIN LATERAL (SELECT pc.sale_price_gross FROM automatenlager.prices pc WHERE pc.slot_assignment_id=sa.slot_assignment_id AND pc.valid_to IS NULL ORDER BY pc.valid_from DESC LIMIT 1) pr ON TRUE\nORDER BY m.machine_key, sa.mdb_code, sa.active DESC",
        "options": {}
      },
      "id": "9134f9dc-9263-4f99-8caa-ca0622105385",
      "name": "Google Sheets - Produkte lesen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        592
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const approvalId = String($('naechsten offenen Vorschlag waehlen').first().json.approval_id ?? '').trim();\nconst rows = $items('Google Sheets - Pruefung lesen').map(i => i.json);\nconst products = $items('Google Sheets - Produkte lesen').map(i => i.json);\n\nfunction clean(v) {\n  return String(v ?? '').replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nfunction normalize(v) {\n  return clean(v)\n    .toLowerCase()\n    .replace(/&/g, 'und')\n    .replace(/\\+/g, 'plus')\n    .replace(/\\u00e4/g, 'ae')\n    .replace(/\\u00f6/g, 'oe')\n    .replace(/\\u00fc/g, 'ue')\n    .replace(/\\u00df/g, 'ss')\n    .replace(/[^a-z0-9]/g, '');\n}\n\nfunction tokens(v) {\n  // An Wortgrenzen splitten (NICHT normalize, das Leerzeichen entfernt\n  // und mehrere Woerter zu einem Klumpen-Token verklebt).\n  const cleaned = clean(v).toLowerCase()\n    .replace(/\\u00e4/g, 'ae').replace(/\\u00f6/g, 'oe').replace(/\\u00fc/g, 'ue').replace(/\\u00df/g, 'ss');\n  const parts = cleaned.split(/[^a-z0-9]+/).filter(Boolean);\n  return [...new Set(parts.filter(t => t.length >= 2))];\n}\n\nfunction scoreProduct(product, queryA, queryB) {\n  const productText = [\n    product.product_key,\n    product.internal_product_name,\n    product.nayax_product_name,\n    product.mdb_code\n  ].map(clean).join(' ');\n\n  const pNorm = normalize(productText);\n  const q1 = normalize(queryA);\n  const q2 = normalize(queryB);\n\n  let score = 0;\n\n  if (q1 && pNorm.includes(q1)) score += 70;\n  if (q2 && pNorm.includes(q2)) score += 70;\n\n  const internalNorm = normalize(product.internal_product_name);\n  const nayaxNorm = normalize(product.nayax_product_name);\n\n  if (internalNorm && q1.includes(internalNorm)) score += 55;\n  if (nayaxNorm && q2.includes(nayaxNorm)) score += 55;\n\n  const queryTokens = [...new Set([...tokens(queryA), ...tokens(queryB)])];\n  const productTokens = tokens(productText);\n  const overlap = queryTokens.filter(t => productTokens.includes(t));\n  score += overlap.length * 12;\n\n  if (clean(product.active).toUpperCase() === 'TRUE' || clean(product.active) === '') score += 5;\n\n  return Math.min(score, 99);\n}\n\nfunction keyFromName(name) {\n  const base = clean(name)\n    .toUpperCase()\n    .replace(/\\u00c4/g, 'AE')\n    .replace(/\\u00d6/g, 'OE')\n    .replace(/\\u00dc/g, 'UE')\n    .replace(/\\u1e9e/g, 'SS')\n    .replace(/\\u00df/g, 'SS')\n    .replace(/&/g, 'UND')\n    .replace(/\\+/g, 'PLUS')\n    .replace(/[^A-Z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '');\n  return `SKU_${base || 'UNBEKANNT'}`;\n}\n\nif (!approvalId) {\n  throw new Error('approval_id fehlt.');\n}\n\nconst source = rows.find(r => clean(r.approval_id) === approvalId);\n\nif (!source) {\n  throw new Error('Kein Eintrag in Rechnungseingang_Pruefung gefunden fuer approval_id: ' + approvalId);\n}\n\nif (clean(source.processed).toUpperCase() === 'TRUE') {\n  throw new Error('Dieser Vorschlag wurde bereits verarbeitet. Keine doppelte Lagercharge angelegt.');\n}\n\nconst sourceItem = clean(source.source_item || source.raw_item_name);\nconst nayaxName = clean(source.nayax_product_name || source.recognized_product_name || sourceItem);\nconst suggestedProductKey = clean(source.suggested_product_key) || keyFromName(nayaxName || sourceItem);\nconst quantityRaw = clean(source.detected_quantity || source.quantity);\nconst packSize = Math.max(1, Number(source.detected_pack_size || source.pack_size || 1)) || 1;\nconst quantityPacks = Number(String(quantityRaw).replace(',', '.')) || 0;\nconst totalQty = quantityPacks > 0 ? quantityPacks * packSize : 0;\nconst quantity = totalQty > 0 ? String(totalQty) : quantityRaw;\nconst invoiceMwst = Number(source.detected_mwst_satz || source.mwst_satz || 0) || 0;\nconst unitCost = clean(source.detected_unit_cost || source.unit_cost);\nconst _ucNumPrep = Number(String(unitCost).replace(',', '.'));\nconst unitCostPerPiece = (packSize > 1 && Number.isFinite(_ucNumPrep) && _ucNumPrep > 0)\n  ? (_ucNumPrep / packSize).toFixed(4).replace(/\\.?0+$/, '')\n  : unitCost;\nconst mhd = clean(source.detected_mhd || source.mhd_invoice || source.mhd_final);\nconst storage = clean(source.suggested_storage_location || $('Config - WF3').first().json.default_storage_location || 'Lager');\n\nconst allProducts = products\n  .filter(p => clean(p.product_key))\n  .map(p => ({\n    product_key: clean(p.product_key),\n    internal_product_name: clean(p.internal_product_name),\n    nayax_product_name: clean(p.nayax_product_name),\n    mdb_code: clean(p.mdb_code),\n    sale_price_eur: clean(p.sale_price_eur),\n    active: clean(p.active),\n    notes: clean(p.notes),\n    produktart: clean(p.produktart)\n  }));\n\nconst MIN_SCORE = 12;\nconst ranked = products\n  .map(p => ({ product: p, score: scoreProduct(p, sourceItem, nayaxName) }))\n  .filter(x => clean(x.product.product_key) && x.score >= MIN_SCORE)\n  .sort((a, b) => b.score - a.score)\n  .slice(0, 3);\n\nconst candidates = ranked.map((x, idx) => {\n  const p = x.product;\n  return {\n    number: String(idx + 1),\n    product_key: clean(p.product_key),\n    internal_product_name: clean(p.internal_product_name),\n    nayax_product_name: clean(p.nayax_product_name),\n    mdb_code: clean(p.mdb_code),\n    sale_price_eur: clean(p.sale_price_eur),\n    produktart: clean(p.produktart),\n    score: x.score\n  };\n});\n\nconst candidateText = candidates.length\n  ? candidates.map(c =>\n      `${c.number} = ${c.product_key} | ${c.internal_product_name || c.nayax_product_name || '(ohne Name)'} | Nayax: ${c.nayax_product_name || '(leer)'} | Treffer: ${c.score}%`\n    ).join('\\n')\n  : 'Kein passendes vorhandenes Produkt gefunden (kein Namens-Treffer).\\n>> Waehle NEW, um dieses Produkt neu anzulegen.\\n(KEY nur, wenn du den exakten product_key eines vorhandenen Produkts kennst.)';\n\nconst formInfo = [\n  `PRODUKTVORSCHLAEGE:`,\n  candidateText,\n  ``,\n  `AUSWAHL:`,\n  `1, 2 oder 3 = einen vorgeschlagenen vorhandenen Produktdatensatz ?bernehmen`,\n  `KEY = anderes vorhandenes Produkt per product_key angeben`,\n  `NEW = neues Produkt anlegen`,\n  `REJECT = Vorschlag ablehnen`,\n  ``,\n  `RECHNUNGSPOSITION:`,\n  `${sourceItem}`,\n  ``,\n  `Erkannter Nayax-Vorschlag aus Rechnung: ${nayaxName}`,\n  `Menge: ${quantityPacks > 0 ? quantityPacks + ' Packungen' : quantityRaw} ? ${packSize} Stueck = ${totalQty || quantity} Einzeleinheiten`,\n  `MwSt laut Rechnung: ${invoiceMwst > 0 ? invoiceMwst + '%' : '(nicht erkannt, faellt auf Produktart zurueck)'}`,\n  `Einzelkosten (Pack): ${unitCost} EUR  ?  pro Stueck: ${packSize > 1 && Number(String(unitCost).replace(',', '.')) > 0 ? (Number(String(unitCost).replace(',', '.')) / packSize).toFixed(4).replace(/\\.?0+$/, '') : unitCost} EUR`,\n  `MHD: ${mhd || '(leer)'}`,\n  `Lagerort: ${storage}`,\n  ``,\n  `approval_id: ${approvalId}`,\n  ``,\n  `Hinweis:`,\n  `Bei 1, 2 oder 3 wird der Nayax-Name aus dem vorhandenen Produkt ?bernommen.`,\n  `Das Feld new_nayax_product_name ist nur f?r NEW relevant.`\n].join('\\n');\n\n// Phase A3: MwSt-Satz aus Produktart des besten Kandidaten ableiten\nfunction mwstVonProduktart(art) {\n  const a = clean(art).toLowerCase();\n  if (a === 'snack' || a.includes('snack') || a === 'riegel') return 7;\n  if (a === 'getraenk' || a.includes('getraenk') || a.includes('drink')) return 19;\n  return 19; // sicherer Standard\n}\nconst defaultMwstSatz = invoiceMwst > 0 ? invoiceMwst : mwstVonProduktart(candidates[0]?.produktart || '');\n\nreturn [{\n  json: {\n    approval_id: approvalId,\n    source,\n    candidates,\n    all_products: allProducts,\n    form_info: formInfo,\n    default_alias_name: sourceItem,\n    default_new_nayax_product_name: nayaxName,\n    default_manual_existing_product_key: '',\n    default_quantity: quantity,\n    default_pack_size: packSize,\n    default_total_qty: totalQty,\n    default_invoice_mwst_satz: invoiceMwst,\n    default_unit_cost: unitCost,\n    default_unit_cost_per_piece: unitCostPerPiece,\n    default_mhd: mhd,\n    default_mwst_satz: defaultMwstSatz,\n    default_storage_location: storage,\n    suggested_product_key: suggestedProductKey\n  }\n}];",
        "notice": ""
      },
      "id": "48508e42-4e5d-4cd7-89ec-c0018768743f",
      "name": "Code - Produktvorschlaege vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        592
      ]
    },
    {
      "parameters": {
        "triggerNotice": "",
        "operation": "page",
        "defineForm": "fields",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Produktvorschlaege",
              "fieldType": "textarea",
              "placeholder": "",
              "defaultValue": "={{ $json.form_info }}",
              "requiredField": false
            },
            {
              "fieldLabel": "Auswahl",
              "fieldType": "text",
              "placeholder": "1, 2, 3, NEW, KEY oder REJECT",
              "defaultValue": "",
              "requiredField": true
            },
            {
              "fieldLabel": "manual_existing_product_key",
              "fieldType": "text",
              "placeholder": "Nur bei Auswahl KEY: z.B. SKU_KINDER_BUENO_KLASSIK",
              "defaultValue": "",
              "requiredField": false
            },
            {
              "fieldLabel": "alias_name",
              "fieldType": "text",
              "placeholder": "",
              "defaultValue": "={{ $json.default_alias_name }}",
              "requiredField": false
            },
            {
              "fieldLabel": "quantity_override",
              "fieldType": "number",
              "placeholder": "",
              "defaultValue": "={{ $json.default_quantity }}",
              "requiredField": false
            },
            {
              "fieldLabel": "unit_cost_override",
              "fieldType": "text",
              "placeholder": "Stueckpreis pro Einzeleinheit, z.B. 0,4165",
              "defaultValue": "={{ $json.default_unit_cost_per_piece }}",
              "requiredField": false
            },
            {
              "fieldLabel": "mwst_satz",
              "fieldType": "number",
              "placeholder": "7 (Snack) oder 19 (Getr?nk)",
              "defaultValue": "={{ $json.default_mwst_satz }}",
              "requiredField": false
            },
            {
              "fieldLabel": "mhd_override",
              "fieldType": "date",
              "defaultValue": "={{ $json.default_mhd }}",
              "formatDate": "",
              "requiredField": false
            },
            {
              "fieldLabel": "storage_location_override",
              "fieldType": "text",
              "placeholder": "",
              "defaultValue": "={{ $json.default_storage_location }}",
              "requiredField": false
            },
            {
              "fieldLabel": "mdb_code_new_optional",
              "fieldType": "text",
              "placeholder": "",
              "defaultValue": "",
              "requiredField": false
            },
            {
              "fieldLabel": "sale_price_eur_new_optional",
              "fieldType": "text",
              "placeholder": "",
              "defaultValue": "",
              "requiredField": false
            },
            {
              "fieldLabel": "notes",
              "fieldType": "textarea",
              "placeholder": "",
              "defaultValue": "",
              "requiredField": false
            },
            {
              "fieldLabel": "Produkt direkt in Automaten einsetzen?",
              "fieldType": "text",
              "placeholder": "JA oder NEIN",
              "defaultValue": "NEIN",
              "requiredField": false
            },
            {
              "fieldLabel": "machine_id fuer Slot",
              "fieldType": "text",
              "placeholder": "",
              "defaultValue": "457107528",
              "requiredField": false
            },
            {
              "fieldLabel": "MDB-Code fuer Slot",
              "fieldType": "text",
              "placeholder": "",
              "defaultValue": "={{ $json.source.mdb_code || '' }}",
              "requiredField": false
            },
            {
              "fieldLabel": "Aktueller Maschinenbestand",
              "fieldType": "number",
              "placeholder": "",
              "defaultValue": "",
              "requiredField": false
            },
            {
              "fieldLabel": "Slot-Kapazitaet",
              "fieldType": "number",
              "placeholder": "",
              "defaultValue": "",
              "requiredField": false
            },
            {
              "fieldLabel": "Zielbestand",
              "fieldType": "number",
              "placeholder": "",
              "defaultValue": "",
              "requiredField": false
            },
            {
              "fieldLabel": "Mindestbestand",
              "fieldType": "number",
              "placeholder": "",
              "defaultValue": "",
              "requiredField": false
            }
          ]
        },
        "limitWaitTime": false,
        "options": {
          "formTitle": "Produktvorschlag pruefen",
          "formDescription": "Waehle 1, 2, 3, NEW, KEY oder REJECT. Die Vorschlagsfelder kannst du bei Bedarf ueberschreiben.",
          "buttonLabel": "Freigabe absenden"
        }
      },
      "id": "cd12d1ed-fe50-4d57-bae4-94b20facae29",
      "name": "Form - Produktentscheidung",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        1504,
        592
      ],
      "webhookId": "5899931a-3895-4dcc-b30a-8382185f0339"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const prepared = $('Code - Produktvorschlaege vorbereiten').first().json;\nconst formDecision = $('Form - Produktentscheidung').first().json;\nconst currentInput = $input.first().json;\n\nfunction clean(v) {\n  return String(v ?? '').replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nfunction normalize(v) {\n  return clean(v)\n    .toLowerCase()\n    .replace(/&/g, 'und')\n    .replace(/\\+/g, 'plus')\n    .replace(/\\u00e4/g, 'ae')\n    .replace(/\\u00f6/g, 'oe')\n    .replace(/\\u00fc/g, 'ue')\n    .replace(/\\u00df/g, 'ss')\n    .replace(/[^a-z0-9]/g, '');\n}\n\nfunction first(...vals) {\n  return vals.map(clean).find(v => v !== '') || '';\n}\n\nfunction keyFromName(name) {\n  const base = clean(name)\n    .toUpperCase()\n    .replace(/\\u00c4/g, 'AE')\n    .replace(/\\u00d6/g, 'OE')\n    .replace(/\\u00dc/g, 'UE')\n    .replace(/\\u1e9e/g, 'SS')\n    .replace(/\\u00df/g, 'SS')\n    .replace(/&/g, 'UND')\n    .replace(/\\+/g, 'PLUS')\n    .replace(/[^A-Z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '');\n  return `SKU_${base || 'UNBEKANNT'}`;\n}\n\nconst choice = clean(formDecision.Auswahl).toUpperCase();\n\nif (!['1', '2', '3', 'KEY', 'NEW', 'REJECT'].includes(choice)) {\n  throw new Error('Ungueltige Auswahl. Erlaubt sind 1, 2, 3, KEY, NEW oder REJECT.');\n}\n\nconst source = prepared.source;\nconst now = new Date().toISOString();\n\nif (choice === 'REJECT') {\n  return [{\n    json: {\n      approval_id: prepared.approval_id,\n      decision: 'reject',\n      rejected: true,\n      processed_at: now,\n      status: 'rejected',\n      notes: clean(formDecision.notes || source.notes),\n\n      source_file: clean(source.source_file_name || source.source_file),\n      source_file_id: clean(source.source_file_id),\n      source_file_name: clean(source.source_file_name),\n\n      invoice_number: clean(source.invoice_number || source.invoice_id),\n      invoice_date: clean(source.invoice_date || source.purchase_date),\n      invoice_id: clean(source.invoice_id),\n      invoice_key: clean(source.invoice_key),\n\n      supplier: clean(source.supplier),\n      purchase_date: clean(source.purchase_date),\n      line_number: clean(source.line_number),\n      source_item: clean(source.source_item),\n      raw_item_name: clean(source.source_item || source.raw_item_name),\n\n      recognized_product_name: clean(source.recognized_product_name || source.nayax_product_name),\n      suggested_product_key: clean(source.suggested_product_key),\n      matched_product_key: clean(source.matched_product_key),\n\n      quantity: clean(source.detected_quantity || source.quantity),\n      unit_cost: clean(source.detected_unit_cost || source.unit_cost),\n      mhd_invoice: clean(source.detected_mhd || source.mhd_invoice),\n      mhd_final: clean(source.mhd_final),\n\n      confidence: 'abgelehnt_manuell',\n      mdb_code: clean(source.mdb_code),\n      nayax_product_name: clean(source.nayax_product_name),\n\n      existing_product_key: clean(source.existing_product_key),\n      existing_product_name: clean(source.existing_product_name),\n\n      suggested_batch_id: clean(source.suggested_batch_id),\n      suggested_storage_location: clean(source.suggested_storage_location),\n      suggested_action: clean(source.suggested_action),\n\n      needs_user_input: clean(source.needs_user_input),\n      missing_fields: clean(source.missing_fields),\n\n      detected_quantity: clean(source.detected_quantity),\n      detected_mhd: clean(source.detected_mhd),\n      detected_unit_cost: clean(source.detected_unit_cost),\n\n      final_product_key: '',\n      final_product_name: '',\n      final_mdb_code: '',\n      final_sale_price_eur: '',\n      final_quantity: '',\n      final_mhd: '',\n      final_unit_cost: '',\n      final_storage_location: '',\n      error_message: ''\n    }\n  }];\n}\n\nlet selectedProduct = null;\nlet decision = '';\n\nif (['1', '2', '3'].includes(choice)) {\n  const candidate = prepared.candidates.find(c => c.number === choice);\n\n  if (!candidate) {\n    throw new Error('Kandidat nicht gefunden fuer Auswahl: ' + choice);\n  }\n\n  selectedProduct = {\n    product_key: clean(candidate.product_key),\n    internal_product_name: clean(candidate.internal_product_name),\n    nayax_product_name: clean(candidate.nayax_product_name),\n    mdb_code: clean(candidate.mdb_code),\n    sale_price_eur: clean(candidate.sale_price_eur)\n  };\n\n  decision = 'use_existing_product';\n}\n\nif (choice === 'KEY') {\n  const manualKey = clean(formDecision.manual_existing_product_key);\n\n  if (!manualKey) {\n    throw new Error('Bitte manual_existing_product_key angeben, wenn KEY gewaehlt wurde.');\n  }\n\n  const found = prepared.all_products.find(p => clean(p.product_key) === manualKey);\n\n  if (!found) {\n    throw new Error('Kein vorhandenes Produkt mit diesem product_key gefunden: ' + manualKey);\n  }\n\n  selectedProduct = {\n    product_key: clean(found.product_key),\n    internal_product_name: clean(found.internal_product_name),\n    nayax_product_name: clean(found.nayax_product_name),\n    mdb_code: clean(found.mdb_code),\n    sale_price_eur: clean(found.sale_price_eur)\n  };\n\n  decision = 'use_existing_product_manual_key';\n}\n\nif (choice === 'NEW') {\n  const newName = first(\n    currentInput.new_nayax_product_name,\n    prepared.default_new_nayax_product_name,\n    source.nayax_product_name,\n    source.source_item\n  );\n\n  if (!newName) {\n    throw new Error('Nayax-Produktname fuer NEW fehlt.');\n  }\n\n  selectedProduct = {\n    product_key: keyFromName(newName),\n    internal_product_name: newName,\n    nayax_product_name: newName,\n    mdb_code: clean(currentInput.mdb_code_new_optional || formDecision.mdb_code_new_optional),\n    sale_price_eur: clean(currentInput.sale_price_eur_new_optional || formDecision.sale_price_eur_new_optional)\n  };\n\n  decision = 'create_new_product';\n}\n\nconst quantityRaw = first(formDecision.quantity_override, prepared.default_quantity);\nconst quantity = Number(String(quantityRaw).replace(',', '.'));\n\nif (!Number.isFinite(quantity) || quantity <= 0) {\n  throw new Error('Menge fehlt oder ist ungueltig: ' + quantityRaw);\n}\n\nconst purchaseDate = first(source.purchase_date, source.invoice_date, new Date().toISOString().slice(0, 10));\nconst ymd = purchaseDate.replace(/-/g, '');\nconst safeProduct = selectedProduct.product_key.replace(/^SKU_/, '').replace(/[^A-Za-z0-9_]/g, '_');\nconst stableId = prepared.approval_id.replace(/[^A-Za-z0-9]/g, '_');\n\nconst aliasName = first(formDecision.alias_name, prepared.default_alias_name, source.source_item);\n// Stueckkosten: unit_cost_override ist der FINALE Preis pro Einzeleinheit\n// und wird 1:1 gespeichert (kein Teilen). Nur der Rechnungs-Fallback\n// (Packpreis) wird durch die Packungsgroesse geteilt.\nconst _packSizeForCost = Math.max(1, Number(prepared.default_pack_size || source.detected_pack_size || 1)) || 1;\nconst _overrideRaw = clean(formDecision.unit_cost_override);\nconst _overrideNum = Number(String(_overrideRaw).replace(',', '.'));\nlet unitCost;\nif (_overrideRaw !== '' && Number.isFinite(_overrideNum) && _overrideNum > 0) {\n  unitCost = _overrideNum.toFixed(4).replace(/\\.?0+$/, '');\n} else {\n  const _fallbackRaw = first(prepared.default_unit_cost, source.detected_unit_cost);\n  const _fallbackNum = Number(String(_fallbackRaw).replace(',', '.'));\n  const _perPiece = (_packSizeForCost > 1 && Number.isFinite(_fallbackNum) && _fallbackNum > 0)\n    ? _fallbackNum / _packSizeForCost\n    : _fallbackNum;\n  unitCost = Number.isFinite(_perPiece) && _perPiece > 0\n    ? _perPiece.toFixed(4).replace(/\\.?0+$/, '')\n    : (_fallbackRaw || '');\n}\nconst mhd = first(formDecision.mhd_override, prepared.default_mhd, source.detected_mhd);\nconst storageLocation = first(formDecision.storage_location_override, prepared.default_storage_location, 'Lager');\nconst notes = clean(formDecision.notes || source.notes);\n\n// Phase A3: MwSt-Satz aus Formular oder Produktart ableiten\nfunction mwstVonProduktart(art) {\n  const a = String(art ?? '').toLowerCase().trim();\n  if (a === 'snack' || a.includes('snack') || a === 'riegel') return 7;\n  if (a === 'getraenk' || a.includes('getraenk') || a.includes('drink')) return 19;\n  return 19;\n}\nconst invoiceMwst = Number(prepared.default_invoice_mwst_satz || source.detected_mwst_satz || 0) || 0;\nconst mwstFormRaw = Number(String(formDecision.mwst_satz || '').replace(',', '.'));\nconst mwstFallback = invoiceMwst > 0\n  ? invoiceMwst\n  : (selectedProduct\n    ? mwstVonProduktart(\n        (prepared.all_products || []).find(p => p.product_key === (selectedProduct?.product_key || ''))?.produktart || ''\n      )\n    : Number(prepared.default_mwst_satz || 19));\nconst mwstSatz = Number.isFinite(mwstFormRaw) && mwstFormRaw > 0 ? mwstFormRaw : mwstFallback;\n\nreturn [{\n  json: {\n    approval_id: prepared.approval_id,\n    decision,\n    rejected: false,\n    selected_choice: choice,\n\n    product_key: selectedProduct.product_key,\n    product_name: selectedProduct.internal_product_name || selectedProduct.nayax_product_name,\n    internal_product_name: selectedProduct.internal_product_name,\n    nayax_product_name: selectedProduct.nayax_product_name,\n    mdb_code: selectedProduct.mdb_code,\n    sale_price_eur: selectedProduct.sale_price_eur,\n\n    alias_name: aliasName,\n    normalized_alias: normalize(aliasName),\n\n    batch_id: `B_${safeProduct}_${ymd}_${stableId}`,\n    purchase_date: purchaseDate,\n    mhd,\n    initial_qty: quantity,\n    remaining_qty: quantity,\n    quantity,\n    unit_cost: (unitCost === '' ? '' : Number(unitCost)),\n    supplier: clean(source.supplier),\n    storage_location: storageLocation,\n    mwst_satz: mwstSatz,\n    status: 'aktiv',\n    notes,\n\n    source_invoice: first(source.invoice_id, source.invoice_number, source.invoice_key),\n    source_item: first(source.source_item, source.raw_item_name),\n    confidence: choice === 'NEW'\n      ? 'neu_manuell_bestaetigt'\n      : 'bestehendes_produkt_manuell_bestaetigt',\n\n    processed_at: now,\n    is_new_product: choice === 'NEW',\n    start_wf4_assignment: ['ja','yes','true','1'].includes(normalize(formDecision.product_direct_slot_assignment || '')),\n    slot_machine_id: first(formDecision.slot_machine_id, '457107528'),\n    slot_mdb_code: first(formDecision.slot_mdb_code, selectedProduct.mdb_code),\n    slot_current_machine_qty: first(formDecision.slot_current_machine_qty),\n    slot_machine_capacity: first(formDecision.slot_machine_capacity),\n    slot_target_stock: first(formDecision.slot_target_stock),\n    slot_min_stock: first(formDecision.slot_min_stock)\n  }\n}];",
        "notice": ""
      },
      "id": "43f37c95-f1ea-4aa2-8535-a96ff027f47a",
      "name": "Code - Entscheidung auswerten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-rejected",
              "leftValue": "={{ $json.rejected }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5a8022d9-a663-46fc-a966-da0a05100ad5",
      "name": "IF - Abgelehnt?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2432,
        592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-new",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "create_new_product",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2b54e685-92ec-487b-a2b6-7355b1cff331",
      "name": "IF - Neues Produkt?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2896,
        704
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Produkte",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "product_key": "={{ $('Code - Entscheidung auswerten').item.json.product_key }}",
            "nayax_product_name": "={{ $('Code - Entscheidung auswerten').item.json.nayax_product_name }}",
            "internal_product_name": "={{ $('Code - Entscheidung auswerten').item.json.product_name }}",
            "sale_price_eur": "={{ $('Code - Entscheidung auswerten').item.json.sale_price_eur }}",
            "valid_from": "={{ $now.toISODate() }}",
            "active": "FALSE",
            "stock_source": "Rechnungseingang_Produktstamm",
            "notes": "={{ [$('Code - Entscheidung auswerten').item.json.notes, 'WF2: Produktstamm ohne Slotzuordnung. Slotdaten werden nur durch WF4 gesetzt.'].filter(Boolean).join(' | ') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "product_key",
              "displayName": "product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mdb_code",
              "displayName": "mdb_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nayax_product_name",
              "displayName": "nayax_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "internal_product_name",
              "displayName": "internal_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sale_price_eur",
              "displayName": "sale_price_eur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valid_from",
              "displayName": "valid_from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valid_to",
              "displayName": "valid_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "replenishment_status",
              "displayName": "replenishment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "min_stock",
              "displayName": "min_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_stock",
              "displayName": "target_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_machine_qty",
              "displayName": "current_machine_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_capacity",
              "displayName": "machine_capacity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stock_source",
              "displayName": "stock_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5a2d1677-85e0-4ba4-b97f-52f12de33517",
      "name": "Google Sheets - Produkt anlegen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3536,
        528
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6GG86fWHw536Rk36",
          "name": "Google Sheets API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Produkt_Aliase",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "alias_name": "={{ $('Code - Entscheidung auswerten').item.json.alias_name }}",
            "normalized_alias": "={{ $('Code - Entscheidung auswerten').item.json.normalized_alias }}",
            "product_key": "={{ $('Code - Entscheidung auswerten').item.json.product_key }}",
            "source": "Rechnungseingang_Smart_Selection",
            "confidence": "={{ $('Code - Entscheidung auswerten').item.json.confidence }}",
            "approved": "TRUE",
            "created_at": "={{ $('Code - Entscheidung auswerten').item.json.processed_at }}",
            "last_seen_at": "={{ $('Code - Entscheidung auswerten').item.json.processed_at }}\n",
            "supplier": "={{ $('Code - Entscheidung auswerten').item.json.supplier }}",
            "invoice_item_example": "={{ $('Code - Entscheidung auswerten').item.json.source_item }}",
            "notes": "={{ $('Code - Entscheidung auswerten').item.json.notes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "alias_name",
              "displayName": "alias_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "normalized_alias",
              "displayName": "normalized_alias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_key",
              "displayName": "product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved",
              "displayName": "approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_seen_at",
              "displayName": "last_seen_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "supplier",
              "displayName": "supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_item_example",
              "displayName": "invoice_item_example",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d590f915-51b3-4dce-8051-aeabfa3d54ab",
      "name": "Google Sheets - Produktalias anlegen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3872,
        656
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6GG86fWHw536Rk36",
          "name": "Google Sheets API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Lagerchargen",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "batch_id": "={{ $('Code - Entscheidung auswerten').item.json.batch_id }}",
            "product_key": "={{ $('Code - Entscheidung auswerten').item.json.product_key }}",
            "purchase_date": "={{ $('Code - Entscheidung auswerten').item.json.purchase_date }}",
            "mhd": "={{ $('Code - Entscheidung auswerten').item.json.mhd }}",
            "initial_qty": "={{ $('Code - Entscheidung auswerten').item.json.initial_qty }}",
            "remaining_qty": "={{ $('Code - Entscheidung auswerten').item.json.remaining_qty }}",
            "unit_cost": "={{ $('Code - Entscheidung auswerten').item.json.unit_cost }}",
            "supplier": "={{ $('Code - Entscheidung auswerten').item.json.supplier }}",
            "storage_location": "={{ $('Code - Entscheidung auswerten').item.json.storage_location }}",
            "status": "={{ $('Code - Entscheidung auswerten').item.json.status }}",
            "source_invoice": "={{ $('Code - Entscheidung auswerten').item.json.source_invoice }}",
            "source_item": "={{ $('Code - Entscheidung auswerten').item.json.source_item }}",
            "confidence": "={{ $('Code - Entscheidung auswerten').item.json.confidence }}",
            "mwst_satz": "={{ $('Code - Entscheidung auswerten').item.json.mwst_satz }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "batch_id",
              "displayName": "batch_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_key",
              "displayName": "product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "purchase_date",
              "displayName": "purchase_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mhd",
              "displayName": "mhd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "initial_qty",
              "displayName": "initial_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "remaining_qty",
              "displayName": "remaining_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unit_cost",
              "displayName": "unit_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "supplier",
              "displayName": "supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "storage_location",
              "displayName": "storage_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source_invoice",
              "displayName": "source_invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_item",
              "displayName": "source_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mwst_satz",
              "displayName": "mwst_satz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "de74ef88-1697-452e-b665-9f0b3ad025af",
      "name": "Google Sheets - Lagercharge anlegen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4128,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6GG86fWHw536Rk36",
          "name": "Google Sheets API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE automatenlager.product_change_proposals\nSET status = 'approved',\n    decided_at = NOW(),\n    decided_by = 'wf2_form'\nWHERE proposal_key = '{{ $json.approval_id }}'",
        "options": {}
      },
      "id": "10e74281-819b-49b9-b44a-aa40b2643ef9",
      "name": "Google Sheets - Pruefung aktualisieren",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4400,
        720
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE automatenlager.product_change_proposals\nSET status = 'rejected',\n    decided_at = NOW(),\n    decided_by = 'wf2_form',\n    decision_note = '{{ $json.rejection_reason || \"Abgelehnt via WF2\" }}'\nWHERE proposal_key = '{{ $json.approval_id }}'",
        "options": {}
      },
      "id": "b18db4be-094a-42b6-9da9-878429f0436b",
      "name": "Google Sheets - Ablehnung aktualisieren",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2736,
        448
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "triggerNotice": "",
        "operation": "completion",
        "respondWith": "text",
        "completionTitle": "Freigabe verarbeitet",
        "completionMessage": "Der Vorschlag wurde verarbeitet. Produkt wurde bei Bedarf angelegt, Alias wurde gespeichert, Lagercharge wurde angelegt und die Pruefzeile wurde aktualisiert.",
        "limitWaitTime": false,
        "options": {}
      },
      "id": "5b17c4c3-6320-4775-89b7-c168107af11a",
      "name": "Form Ending - Erfolg",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        4656,
        720
      ],
      "webhookId": "acd75844-dce3-41d3-bdb5-75c8b4368a47"
    },
    {
      "parameters": {
        "triggerNotice": "",
        "operation": "completion",
        "respondWith": "text",
        "completionTitle": "Vorschlag abgelehnt",
        "completionMessage": "Der Vorschlag wurde abgelehnt und in Rechnungseingang_Pruefung aktualisiert.",
        "limitWaitTime": false,
        "options": {}
      },
      "id": "b83dbed6-047e-4ee2-afa8-b7817502ed56",
      "name": "Form Ending - Abgelehnt",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        2992,
        448
      ],
      "webhookId": "c7c304e2-0433-466a-8d58-6b7632743264"
    },
    {
      "parameters": {
        "authentication": "none",
        "formTitle": "Rechnungsvorschlag ausw?hlen",
        "formDescription": "Starte die Bearbeitung des n?chsten offenen Rechnungsvorschlags.",
        "formFields": {
          "values": []
        },
        "responseMode": "onReceived",
        "addFormPage": "",
        "options": {}
      },
      "id": "7833c9ca-4baf-4296-a0b8-166e7573be6d",
      "name": "N?chsten Rechnungsvorschlag bearbeiten",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        80,
        592
      ],
      "webhookId": "e16cb652-f575-415c-bbeb-0a6e5825a01f"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const rows = $input.all().map(i => i.json);\n\nfunction clean(v) {\n  return String(v ?? '').trim();\n}\n\nfunction isTrue(v) {\n  return clean(v).toUpperCase() === 'TRUE' || v === true;\n}\n\nconst openRows = rows.filter(r =>\n  clean(r.approval_id) &&\n  !isTrue(r.processed)\n);\n\nif (!openRows.length) {\n  throw new Error('Keine offenen Rechnungsvorschl?ge gefunden.');\n}\n\nopenRows.sort((a, b) => {\n  const da = clean(a.created_at);\n  const db = clean(b.created_at);\n  return da.localeCompare(db);\n});\n\nreturn [{\n  json: {\n    approval_id: clean(openRows[0].approval_id)\n  }\n}];",
        "notice": ""
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        592
      ],
      "id": "86189e19-b88a-46a0-8857-e86ae728ff58",
      "name": "naechsten offenen Vorschlag waehlen"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ffe68549-d462-407d-a265-3afe72a172de",
              "leftValue": "={{ $json.Auswahl }}",
              "rightValue": "NEW",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1728,
        592
      ],
      "id": "e5ea5662-37ca-416a-a043-31e2845269ef",
      "name": "If"
    },
    {
      "parameters": {
        "triggerNotice": "",
        "operation": "page",
        "defineForm": "fields",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Neues Produkt (Nayax Name pr?fen)",
              "fieldType": "text",
              "fieldName": "new_nayax_product_name",
              "placeholder": "",
              "defaultValue": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.default_new_nayax_product_name }}",
              "requiredField": false
            }
          ]
        },
        "limitWaitTime": false,
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1936,
        512
      ],
      "id": "01064380-9666-4167-b1c4-3d326f0c65b0",
      "name": "Neues Produkt pr?fen",
      "webhookId": "e007711d-78fc-411a-b05e-a8a48388fae7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  proposal_key AS approval_id,\n  proposal_type,\n  status,\n  reason,\n  to_char(created_at,'YYYY-MM-DD\"T\"HH24:MI:SS') || 'Z' AS created_at,\n  payload->>'source_file' AS source_file,\n  payload->>'invoice_number' AS invoice_number,\n  payload->>'invoice_date' AS invoice_date,\n  payload->>'supplier' AS supplier,\n  payload->>'raw_item_name' AS raw_item_name,\n  payload->>'recognized_product_name' AS recognized_product_name,\n  payload->>'product_key' AS product_key,\n  payload->>'mdb_code' AS mdb_code,\n  payload->>'quantity' AS quantity,\n  payload->>'unit_price_net' AS unit_price_net,\n  payload->>'mhd_date' AS mhd_date,\n  payload->>'product_slot_id' AS product_slot_id,\n  payload->>'machine_id' AS machine_id,\n  payload->>'match_type' AS match_type,\n  payload->>'match_score' AS match_score,\n  payload->>'notes' AS notes,\n  payload\nFROM automatenlager.product_change_proposals\nWHERE status = 'pending'\nORDER BY created_at ASC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2576,
        704
      ],
      "id": "9a613a90-4492-46d7-ba3f-cff2d105e993",
      "name": "Get row(s) in sheet",
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const row = $input.first().json;\nconst finalData = $('Code - Entscheidung auswerten').item.json;\n\nif (!row || !row.approval_id) {\n  throw new Error('Pruefzeile nicht gefunden: ' + finalData.approval_id);\n}\n\nconst processed = String(row.processed ?? '').trim().toUpperCase();\n\nif (processed === 'TRUE' || row.processed === true) {\n  throw new Error('Dieser Vorschlag wurde bereits verarbeitet. Alias und Lagercharge werden nicht erneut angelegt.');\n}\n\nreturn [{ json: finalData }];",
        "notice": ""
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        704
      ],
      "id": "0d2de233-e6cf-4375-be9f-29994604bd1d",
      "name": "Doppelverarbeitung stoppen"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pa.alias, pa.source,\n       CASE WHEN pa.is_primary THEN 'TRUE' ELSE 'FALSE' END AS is_primary,\n       p.product_key, p.name AS product_name\nFROM automatenlager.product_aliases pa\nJOIN automatenlager.products p ON p.product_id = pa.product_id\nORDER BY pa.source, pa.alias",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3472,
        800
      ],
      "id": "36c3790d-b42a-48fb-8631-cf28278f6ceb",
      "name": "Produktalias",
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b238c8bb-8554-4497-8ff6-1e26d36eba5c",
              "leftValue": "={{ !$input.first()?.json.product_key }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3648,
        768
      ],
      "id": "23df957d-03c8-44e2-ba65-7b5b392d8db9",
      "name": "Alias existiert noch nicht?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.product_key AS product_key, p.name AS internal_product_name,\n       COALESCE(na.alias,'') AS nayax_product_name,\n       COALESCE(sa.mdb_code::text,'') AS mdb_code,\n       m.machine_key AS machine_id,\n       CASE WHEN sa.active THEN 'TRUE' ELSE 'FALSE' END AS active,\n       sa.product_slot_key AS product_slot_id,\n       COALESCE(pr.sale_price_gross::text,'') AS sale_price_eur,\n       COALESCE(sa.current_machine_qty::text,'') AS current_machine_qty,\n       COALESCE(sa.machine_capacity::text,'') AS machine_capacity,\n       COALESCE(sa.target_stock::text,'') AS target_stock,\n       p.category AS produktart,\n       COALESCE(p.vat_rate_pct::text,'') AS mwst_satz,\n       COALESCE(sa.notes,'') AS notes\nFROM automatenlager.slot_assignments sa\nJOIN automatenlager.products p ON p.product_id = sa.product_id\nJOIN automatenlager.machines m ON m.machine_id = sa.machine_id\nLEFT JOIN LATERAL (SELECT pa.alias FROM automatenlager.product_aliases pa WHERE pa.product_id=p.product_id AND pa.source='nayax' AND pa.is_primary=TRUE ORDER BY pa.alias LIMIT 1) na ON TRUE\nLEFT JOIN LATERAL (SELECT pc.sale_price_gross FROM automatenlager.prices pc WHERE pc.slot_assignment_id=sa.slot_assignment_id AND pc.valid_to IS NULL ORDER BY pc.valid_from DESC LIMIT 1) pr ON TRUE\nORDER BY m.machine_key, sa.mdb_code, sa.active DESC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3152,
        640
      ],
      "id": "bad7ab97-0ec0-40e7-b9cd-a9cbb4a48243",
      "name": "Produkt pr?fen",
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7dc202e1-1a15-4d64-8fd7-d4b8a8f8beba",
              "leftValue": "={{ !$input.first()?.json.product_key }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3312,
        640
      ],
      "id": "051be818-2d92-46b2-b450-4272c6f563db",
      "name": "Produkt existiert noch nicht?"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function clean(v){return String(v ?? '').replace(/\\n/g,' ').replace(/\\s+/g,' ').trim();}\nconst data = $('Code - Entscheidung auswerten').item.json;\nif(!data.start_wf4_assignment) return [];\nif(!clean(data.slot_mdb_code)) throw new Error('WF4-Start gew?nscht, aber slot_mdb_code fehlt.');\n\nreturn [{json:{\n  source:'WF2_Rechnungseingang',\n  detected_reason:'NEW_PRODUCT_READY_FOR_SLOT_ASSIGNMENT',\n  machine_id:clean(data.slot_machine_id || '457107528'),\n  product_key:clean(data.product_key),\n  suggested_product_key:clean(data.product_key),\n  nayax_product_name:clean(data.nayax_product_name || data.product_name),\n  product_label:clean(data.nayax_product_name || data.product_name),\n  actual_mdb_code:clean(data.slot_mdb_code),\n  new_mdb_code:clean(data.slot_mdb_code),\n  suggested_change_type:'Produkt im Slot austauschen',\n  current_machine_qty:clean(data.slot_current_machine_qty),\n  machine_capacity:clean(data.slot_machine_capacity),\n  target_stock:clean(data.slot_target_stock),\n  min_stock:clean(data.slot_min_stock),\n  settlement_datetime_gmt:clean(data.processed_at),\n  notes:'Aus WF2 nach Produkt-/Lagerfreigabe zur Slotzuordnung gestartet.'\n}}];",
        "notice": ""
      },
      "id": "ca3be701-9d49-40f8-8090-e5e6ae1cb4c6",
      "name": "Code - WF4 Slotzuordnung vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        912
      ]
    },
    {
      "parameters": {
        "operation": "call_workflow",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "6tOZnWsxBNzHaVqA",
          "mode": "id",
          "cachedResultUrl": "/workflow/6tOZnWsxBNzHaVqA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "source": "={{ $json.source }}",
            "detected_reason": "={{ $json.detected_reason }}",
            "machine_id": "={{ $json.machine_id }}",
            "product_key": "={{ $json.product_key }}",
            "suggested_product_key": "={{ $json.suggested_product_key }}",
            "nayax_product_name": "={{ $json.nayax_product_name }}",
            "product_label": "={{ $json.product_label }}",
            "actual_mdb_code": "={{ $json.actual_mdb_code }}",
            "new_mdb_code": "={{ $json.new_mdb_code }}",
            "suggested_change_type": "={{ $json.suggested_change_type }}",
            "current_machine_qty": "={{ $json.current_machine_qty }}",
            "machine_capacity": "={{ $json.machine_capacity }}",
            "target_stock": "={{ $json.target_stock }}",
            "min_stock": "={{ $json.min_stock }}",
            "settlement_datetime_gmt": "={{ $json.settlement_datetime_gmt }}",
            "notes": "={{ $json.notes }}"
          },
          "schema": [],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "15d1c446-5e17-452c-b952-e1dd15d0e16b",
      "name": "Execute Workflow - WF4 Slotzuordnung",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4672,
        912
      ]
    },
    {
      "parameters": {
        "events": "worklfow_call",
        "notice": "",
        "outdatedVersionWarning": ""
      },
      "id": "70f4e16f-2ea5-40d0-93eb-6ac8cbb0ffbc",
      "name": "Execute Workflow Trigger - aus WF1",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        80,
        768
      ]
    },
    {
      "id": "c2d3e4f5-f003-4003-a003-000000000019",
      "name": "Prepare PGW - WF2 Product+Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4128,
        960
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Erzeugt product (optional), product_alias, stock_batch Events fuer WF-PGW\n// Input: Items von 'Google Sheets - Lagercharge anlegen'\n// Referenz: 'Code - Entscheidung auswerten' fuer Produktdaten\n\nconst item = $('Code - Entscheidung auswerten').item.json;\nconst batchRunId = 'wf2_' + new Date().toISOString().slice(0, 10);\n\nfunction toInvoiceKey(id) {\n  return 'INV_' + String(id || 'UNKNOWN')\n    .toUpperCase()\n    .replace(/[^A-Z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '');\n}\n\n// Kategorie automatisch ableiten (getraenk|snack). Spiegelt\n// dashboard/lib/product-category.js (test-validiert gegen alle realen Produkte).\n// Konservativ: Default 'snack', nur bei klarem Getraenke-Signal 'getraenk'.\nfunction inferProductCategory() {\n  var names = Array.prototype.slice.call(arguments);\n  var SUBS = ['fanta','sprite','spezi','mezzo mix','mezzomix','pepsi','capri','red bull','redbull','monster energy','rockstar','effect energy','lichtenauer','gerolsteiner','adelholzener','bionade','paulaner','eiskaffee','eiscafe','eiskaffe','eis kaffee','milchmisch','limonade','mineralwasser','energydrink','energy drink','eistee','ice tea','icetea','eis tee','smoothie','apfelschorle','orangensaft','multivitamin','durstloescher'];\n  var WORDS = ['cola','limo','schorle','saft','nektar','tee','kaffee','wasser','energy','drink','getraenk','bull','vio','bier','radler','sprudel'];\n  var VOL = [/\\b\\d{2,4}\\s?ml\\b/, /\\b\\d{1,2}[.,]\\d{1,2}\\s?l\\b/, /\\b\\d{1,2}\\s?l\\b/, /\\bliter\\b/];\n  function norm(v){ return String(v==null?'':v).toLowerCase().replace(/ä/g,'ae').replace(/ö/g,'oe').replace(/ü/g,'ue').replace(/ß/g,'ss').replace(/[^a-z0-9.,\\s]+/g,' ').replace(/\\s+/g,' ').trim(); }\n  var text = names.map(norm).filter(Boolean).join(' ');\n  if (!text) return 'snack';\n  for (var i=0;i<SUBS.length;i++){ if (text.indexOf(SUBS[i])!==-1) return 'getraenk'; }\n  for (var j=0;j<WORDS.length;j++){ if (new RegExp('\\\\b'+WORDS[j]+'\\\\b').test(text)) return 'getraenk'; }\n  for (var k=0;k<VOL.length;k++){ if (VOL[k].test(text)) return 'getraenk'; }\n  return 'snack';\n}\n\nconst events = [];\n\n// Neues Produkt -> product event\nif (item.is_new_product) {\n  events.push({\n    json: {\n      event_type: 'product',\n      batch_run_id: batchRunId,\n      data: {\n        product_key: item.product_key,\n        name: item.internal_product_name || item.nayax_product_name || item.product_name || item.product_key,\n        category: inferProductCategory(item.internal_product_name, item.nayax_product_name, item.product_name, item.alias_name),\n        vat_rate_pct: Number(item.mwst_satz) || 7,\n        unit_of_measure: 'st?ck'\n      }\n    }\n  });\n}\n\n// Alias event\nif (item.alias_name) {\n  events.push({\n    json: {\n      event_type: 'product_alias',\n      batch_run_id: batchRunId,\n      data: {\n        product_key: item.product_key,\n        alias: item.alias_name,\n        source: 'Rechnungseingang_Smart_Selection',\n        is_primary: false\n      }\n    }\n  });\n}\n\n// Lagercharge event\nconst sourceInvoiceKey = toInvoiceKey(item.source_invoice);\nevents.push({\n  json: {\n    event_type: 'stock_batch',\n    batch_run_id: batchRunId,\n    data: {\n      batch_key: item.batch_id,\n      product_key: item.product_key,\n      invoice_key: sourceInvoiceKey,\n      initial_qty: Number(item.initial_qty) || 0,\n      remaining_qty: Number(item.remaining_qty) || 0,\n      unit_cost_net: Number(item.unit_cost) || 0,\n      mhd_date: item.mhd || null,\n      status: 'active',\n      received_at: item.purchase_date || new Date().toISOString().slice(0, 10),\n      purchase_date: item.purchase_date || null\n    }\n  }\n});\n\nreturn events;",
        "notice": ""
      }
    },
    {
      "id": "c2d3e4f5-f004-4004-a004-000000000019",
      "name": "WF-PGW - WF2",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 2,
      "position": [
        4400,
        960
      ],
      "parameters": {
        "operation": "call_workflow",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "Sajezv8tJll0CLIv",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": null
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      }
    }
  ],
  "connections": {
    "Config - WF3": {
      "main": [
        [
          {
            "node": "Google Sheets - Pruefung lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Pruefung lesen": {
      "main": [
        [
          {
            "node": "naechsten offenen Vorschlag waehlen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Produkte lesen": {
      "main": [
        [
          {
            "node": "Code - Produktvorschlaege vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Produktvorschlaege vorbereiten": {
      "main": [
        [
          {
            "node": "Form - Produktentscheidung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form - Produktentscheidung": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Entscheidung auswerten": {
      "main": [
        [
          {
            "node": "IF - Abgelehnt?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Abgelehnt?": {
      "main": [
        [
          {
            "node": "Google Sheets - Ablehnung aktualisieren",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Neues Produkt?": {
      "main": [
        [
          {
            "node": "Produkt pr?fen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Produktalias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Produkt anlegen": {
      "main": [
        [
          {
            "node": "Google Sheets - Produktalias anlegen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Produktalias anlegen": {
      "main": [
        [
          {
            "node": "Google Sheets - Lagercharge anlegen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Lagercharge anlegen": {
      "main": [
        [
          {
            "node": "Google Sheets - Pruefung aktualisieren",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - WF4 Slotzuordnung vorbereiten",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare PGW - WF2 Product+Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Pruefung aktualisieren": {
      "main": [
        [
          {
            "node": "Form Ending - Erfolg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Ablehnung aktualisieren": {
      "main": [
        [
          {
            "node": "Form Ending - Abgelehnt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N?chsten Rechnungsvorschlag bearbeiten": {
      "main": [
        [
          {
            "node": "Config - WF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "naechsten offenen Vorschlag waehlen": {
      "main": [
        [
          {
            "node": "Google Sheets - Produkte lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Neues Produkt pr?fen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Entscheidung auswerten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neues Produkt pr?fen": {
      "main": [
        [
          {
            "node": "Code - Entscheidung auswerten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Doppelverarbeitung stoppen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Doppelverarbeitung stoppen": {
      "main": [
        [
          {
            "node": "IF - Neues Produkt?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produktalias": {
      "main": [
        [
          {
            "node": "Alias existiert noch nicht?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alias existiert noch nicht?": {
      "main": [
        [
          {
            "node": "Google Sheets - Produktalias anlegen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets - Lagercharge anlegen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produkt pr?fen": {
      "main": [
        [
          {
            "node": "Produkt existiert noch nicht?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produkt existiert noch nicht?": {
      "main": [
        [
          {
            "node": "Google Sheets - Produkt anlegen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Produktalias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - WF4 Slotzuordnung vorbereiten": {
      "main": [
        [
          {
            "node": "Execute Workflow - WF4 Slotzuordnung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger - aus WF1": {
      "main": [
        [
          {
            "node": "Config - WF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PGW - WF2 Product+Batch": {
      "main": [
        [
          {
            "node": "WF-PGW - WF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {},
  "pinData": {},
  "tags": []
}