WF4 - MDB Produktzuordnung bearbeiten.json
{
  "updatedAt": "2026-05-22T04:48:03.871Z",
  "createdAt": "2026-05-22T04:38:38.374Z",
  "id": "lJHQNrestWqc9Brj",
  "name": "WF4 - MDB Produktzuordnung bearbeiten",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "WF4 - MDB Produktzuordnung bearbeiten\n\nZwei Startwege:\n1. Manuell: Nayax-Produktname oder Suchbegriff eingeben.\n2. Aus Verkaufsworkflow: MDB-Abweichung wird vorausgefüllt über Execute Workflow.\n\nVor Produktivbetrieb: Credentials neu setzen, Config prüfen, Spalte product_slot_id ergänzen, nur mit Testdaten starten.",
        "height": 360,
        "width": 620,
        "color": 4
      },
      "id": "fa50b68d-4248-4794-a7c3-71d1baae307d",
      "name": "Hinweis - Bedienung",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "formTitle": "MDB-/Produktzuordnung suchen",
        "formDescription": "Gib nur den Nayax-Produktnamen oder einen Suchbegriff ein.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nayax Produktname oder Suchbegriff",
              "placeholder": "z. B. Wasser, KitKat Chunky, M&M",
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Zuordnung suchen"
        }
      },
      "id": "98309af8-fba3-40dd-a20f-767ffd05e7b0",
      "name": "Form Trigger - Nayax Name eingeben",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        80,
        544
      ],
      "webhookId": "b3d38eeb-0d56-459c-a05f-fb5b6e48cc28"
    },
    {
      "parameters": {},
      "id": "40d0cd25-8ade-4dfe-8756-5fea3f209efb",
      "name": "Execute Workflow Trigger - aus Verkaufsworkflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        80,
        784
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sheet-id",
              "name": "google_sheet_id",
              "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
              "type": "string"
            },
            {
              "id": "machine-id",
              "name": "default_machine_id",
              "value": "457107528",
              "type": "string"
            },
            {
              "id": "sheet-produkte",
              "name": "sheet_produkte",
              "value": "Produkte",
              "type": "string"
            },
            {
              "id": "sheet-aliase",
              "name": "sheet_aliase",
              "value": "Produkt_Aliase",
              "type": "string"
            },
            {
              "id": "sheet-log",
              "name": "sheet_produktwechsel_log",
              "value": "Produktwechsel_Log",
              "type": "string"
            },
            {
              "id": "sheet-hinweise",
              "name": "sheet_hinweise",
              "value": "Fehler_und_Hinweise",
              "type": "string"
            },
            {
              "id": "timezone",
              "name": "timezone",
              "value": "Europe/Berlin",
              "type": "string"
            },
            {
              "id": "min-score",
              "name": "min_candidate_score",
              "value": 45,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "b5737622-e9e2-4ca4-a3a6-60113ef91321",
      "name": "Config - WF4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        672
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheet_produkte }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "db6273d3-f315-466c-aa1b-5871d4a488bb",
      "name": "Google Sheets - Produkte lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        624,
        672
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6GG86fWHw536Rk36",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF4').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config - WF4').first().json.sheet_aliase }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "c550ea8c-2fe7-4b49-8932-e3457bfda076",
      "name": "Google Sheets - Produkt_Aliase lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        672
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6GG86fWHw536Rk36",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prepared = $('Änderungsart vorbereiten').first().json;\nconst form = $('MDB Änderung final prüfen').first().json;\nconst config = $('Config - WF4').first().json;\nconst products = $items('Google Sheets - Produkte lesen').map(i => i.json);\n\nfunction clean(v) {\n  return String(v ?? '')\n    .replace(/\\n/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction norm(v) {\n  return clean(v)\n    .toLowerCase()\n    .replace(/&/g, 'und')\n    .replace(/\\+/g, 'plus')\n    .replace(/ä/g, 'ae')\n    .replace(/ö/g, 'oe')\n    .replace(/ü/g, 'ue')\n    .replace(/ß/g, 'ss')\n    .replace(/[^a-z0-9]/g, '');\n}\n\nfunction mdbNorm(v) {\n  const s = clean(v).replace(',', '.');\n  return /^\\d+\\.0+$/.test(s) ? String(parseInt(s, 10)) : s;\n}\n\nfunction iso(v) {\n  const raw = clean(v);\n  const d = raw ? new Date(raw) : new Date();\n\n  if (Number.isNaN(d.getTime())) {\n    throw new Error('Gültig ab UTC ist kein valides Datum/Zeitformat: ' + raw);\n  }\n\n  return d.toISOString();\n}\n\nfunction stamp(v) {\n  return clean(v)\n    .replace(/[-:]/g, '')\n    .replace(/\\.\\d+Z$/, 'Z');\n}\n\nfunction psid(machineId, mdb, productKey, validFromUtc) {\n  return `PS_${clean(machineId)}_${mdbNorm(mdb)}_${clean(productKey)}_${stamp(validFromUtc)}`;\n}\n\nfunction first(...vals) {\n  return vals.map(clean).find(v => v !== '') || '';\n}\n\nfunction isActive(row) {\n  const active = clean(row.active).toUpperCase();\n  const validTo = clean(row.valid_to_datetime || row.valid_to);\n\n  return ['TRUE', '1', 'JA', 'YES', 'AKTIV', 'ACTIVE'].includes(active) && !validTo;\n}\n\nfunction hasSlotData(row) {\n  return !!(\n    clean(row.product_slot_id) ||\n    clean(row.machine_id) ||\n    clean(row.mdb_code) ||\n    clean(row.valid_from_datetime) ||\n    clean(row.valid_from)\n  );\n}\n\nfunction productName(row) {\n  return first(\n    row.internal_product_name,\n    row.nayax_product_name,\n    row.product_key\n  );\n}\n\nconst now = new Date().toISOString();\n\nconst machineId = (() => {\n  const raw = clean(prepared.machine_id || config.default_machine_id);\n  const asNum = Number(raw);\n  return Number.isFinite(asNum) ? String(Math.round(asNum)) : raw;\n})();\nconst oldMdb = mdbNorm(form['MDB-Code alt'] || prepared.expected_mdb_code);\nconst newMdb = mdbNorm(form['MDB-Code neu'] || prepared.actual_mdb_code || prepared.parsed_mdb_code);\nconst validFromUtc = iso(form['Gültig ab UTC'] || prepared.default_valid_from_utc);\nconst note = clean(form.Notiz);\n\nconst changeTypeDe = clean(prepared.change_type_de);\nconst changeTypeInternal = clean(prepared.change_type_internal);\n\nif (!changeTypeInternal || changeTypeInternal === 'UNKNOWN') {\n  throw new Error('Unbekannte Änderungsart. Bitte im vorherigen Formular eine gültige Änderungsart wählen.');\n}\n\nconst selected = {\n  product_key: clean(prepared.selected_product_key),\n  internal_product_name: clean(prepared.selected_internal_product_name),\n  nayax_product_name: clean(prepared.selected_nayax_product_name),\n  sale_price_eur: clean(prepared.parsed_sale_price_eur)\n};\n\nconst isRejected =\n  norm(form.Freigabe) !== 'ja' ||\n  prepared.aborted === true;\n\nconst replaceTargetSlot = norm(form['Zielslot ersetzen']) === 'ja';\n\nconst closeRows = [];\nconst newRows = [];\nconst baseRowUpdates = [];\nconst warningRows = [];\nconst logRows = [];\n\nconst selectedProductKey = clean(selected.product_key);\nconst selectedName = first(\n  selected.internal_product_name,\n  selected.nayax_product_name,\n  selected.product_key\n);\n\nconst changeId = `CHG_${machineId}_${oldMdb || 'NA'}_${newMdb || 'NA'}_${selectedProductKey || 'NO_PRODUCT'}_${stamp(validFromUtc)}`;\n\nfunction warning(type, severity, message, productKey = '') {\n  warningRows.push({\n    created_at: now,\n    type,\n    severity,\n    machine_id: machineId,\n    product_key: productKey || selectedProductKey,\n    nayax_product_name: selectedName,\n    message,\n    resolved: 'FALSE',\n    change_id: changeId\n  });\n}\n\nif (isRejected) {\n  logRows.push({\n    change_id: changeId,\n    changed_at_utc: now,\n    source: prepared.source,\n    detected_reason: prepared.detected_reason,\n    machine_id: machineId,\n    old_mdb_code: oldMdb,\n    new_mdb_code: newMdb,\n    old_product_key: '',\n    old_product_name: '',\n    new_product_key: selectedProductKey,\n    new_product_name: selectedName,\n    change_type_de: changeTypeDe,\n    change_type_internal: changeTypeInternal,\n    valid_from_utc: validFromUtc,\n    status: 'abgelehnt',\n    action_required: 'FALSE',\n    notes: note || 'Im Formular abgelehnt.'\n  });\n\n  return [{\n    json: {\n      closeRows,\n      newRows,\n      baseRowUpdates,\n      warningRows,\n      logRows,\n      summary: {\n        status: 'abgelehnt',\n        change_id: changeId\n      }\n    }\n  }];\n}\n\nif (!newMdb && ['REPLACE_PRODUCT_IN_SLOT', 'MOVE_PRODUCT', 'ADD_ADDITIONAL_SLOT'].includes(changeTypeInternal)) {\n  throw new Error('MDB-Code neu fehlt.');\n}\n\nif (!selectedProductKey && !['REMOVE_PRODUCT_FROM_SLOT', 'STOCK_CORRECTION'].includes(changeTypeInternal)) {\n  throw new Error('Kein Produkt ausgewählt.');\n}\n\nconst activeRows = products.filter(p =>\n  clean(p.machine_id) === machineId &&\n  isActive(p)\n);\n\nconst activeOnNew = activeRows.filter(p =>\n  mdbNorm(p.mdb_code) === newMdb\n);\n\nconst activeOnOld = oldMdb\n  ? activeRows.filter(p => mdbNorm(p.mdb_code) === oldMdb)\n  : [];\n\nconst activeSameProduct = activeRows.filter(p =>\n  clean(p.product_key) === selectedProductKey\n);\n\nconst exactActive = activeRows.filter(p =>\n  mdbNorm(p.mdb_code) === newMdb &&\n  clean(p.product_key) === selectedProductKey\n);\n\nconst baseRows = products.filter(p =>\n  clean(p.product_key) === selectedProductKey &&\n  !hasSlotData(p)\n);\n\nfunction close(row, reason) {\n  return {\n    product_slot_id: clean(row.product_slot_id),\n    product_key: clean(row.product_key),\n    machine_id: clean(row.machine_id || machineId),\n    mdb_code: mdbNorm(row.mdb_code),\n    active: 'FALSE',\n    valid_from_datetime: clean(row.valid_from_datetime || row.valid_from || validFromUtc),\n    valid_from: clean(row.valid_from || row.valid_from_datetime || validFromUtc),\n    valid_to_datetime: validFromUtc,\n    valid_to: validFromUtc,\n    last_change_id: changeId,\n    notes: [\n      clean(row.notes),\n      reason,\n      note\n    ].filter(Boolean).join(' | ')\n  };\n}\n\nfunction slotFields(product, mdb) {\n  return {\n    product_slot_id: psid(machineId, mdb, product.product_key, validFromUtc),\n    product_key: product.product_key,\n    machine_id: machineId,\n    mdb_code: mdbNorm(mdb),\n    nayax_product_name: first(product.nayax_product_name, product.internal_product_name),\n    internal_product_name: first(product.internal_product_name, product.nayax_product_name),\n    sale_price_eur: clean(product.sale_price_eur),\n    valid_from_datetime: validFromUtc,\n    valid_from: validFromUtc,\n    valid_to_datetime: '',\n    valid_to: '',\n    active: 'TRUE',\n    replenishment_status: 'aktiv',\n    min_stock: clean(form.Mindestbestand),\n    target_stock: clean(form.Zielbestand),\n    current_machine_qty: clean(form['Aktueller Maschinenbestand nach Änderung']),\n    machine_capacity: clean(form['Slot-Kapazität']),\n    stock_source: 'WF4_MDB_Produktwechsel',\n    last_change_id: changeId,\n    notes: note\n  };\n}\n\nfunction setSlot(product, mdb) {\n  if (exactActive.length) {\n    warning(\n      'WF4_SLOT_ALREADY_ACTIVE',\n      'info',\n      `Aktive Slotzeile existiert bereits fuer machine_id=${machineId}, mdb=${mdbNorm(mdb)}, product_key=${selectedProductKey}. Es wurde keine neue Produktzeile erzeugt.`\n    );\n    return;\n  }\n\n  if (baseRows.length > 1) {\n    warning(\n      'WF4_DUPLICATE_BASE_PRODUCT_ROWS',\n      'error',\n      `Mehrere slotlose WF2-Produktzeilen fuer product_key=${selectedProductKey} gefunden. Bitte zuerst bereinigen; WF4 erzeugt keine weitere Dublette.`\n    );\n    return;\n  }\n\n  const fields = slotFields(product, mdb);\n\n  if (baseRows.length === 1) {\n    baseRowUpdates.push(fields);\n  } else {\n    newRows.push(fields);\n  }\n}\n\n// 1. Produkt auf anderen MDB-Slot umziehen\nif (changeTypeInternal === 'MOVE_PRODUCT') {\n  const targetBlockers = activeOnNew.filter(r =>\n    clean(r.product_key) !== selectedProductKey\n  );\n\n  if (targetBlockers.length && !replaceTargetSlot) {\n    warning(\n      'WF4_TARGET_SLOT_OCCUPIED_NOT_REPLACED',\n      'error',\n      `MDB ${newMdb} ist bereits belegt mit ${targetBlockers.map(productName).join(', ')}. Zielslot ersetzen steht auf NEIN.`\n    );\n  } else {\n    // Zielslot freimachen, wenn dort ein anderes Produkt aktiv ist.\n    for (const r of targetBlockers) {\n      closeRows.push(close(\n        r,\n        `WF4: Zielslot MDB ${newMdb} wurde fuer ${selectedProductKey} freigemacht.`\n      ));\n    }\n\n    // Alte aktive Slots desselben Produkts schließen.\n    // Wenn oldMdb leer ist, alle Slots außer Ziel-MDB schließen.\n    const rowsToClose = oldMdb\n      ? activeSameProduct.filter(r => mdbNorm(r.mdb_code) === oldMdb)\n      : activeSameProduct.filter(r => mdbNorm(r.mdb_code) !== newMdb);\n\n    for (const r of rowsToClose) {\n      closeRows.push(close(\n        r,\n        'WF4: Produkt auf anderen MDB-Slot umgezogen.'\n      ));\n    }\n\n    setSlot(selected, newMdb);\n  }\n}\n\n// 2. Produkt im Slot austauschen\nif (changeTypeInternal === 'REPLACE_PRODUCT_IN_SLOT') {\n  const targetBlockers = activeOnNew.filter(r =>\n    clean(r.product_key) !== selectedProductKey\n  );\n\n  if (targetBlockers.length && !replaceTargetSlot) {\n    warning(\n      'WF4_TARGET_SLOT_OCCUPIED_NOT_REPLACED',\n      'error',\n      `MDB ${newMdb} ist bereits belegt mit ${targetBlockers.map(productName).join(', ')}. Zielslot ersetzen steht auf NEIN.`\n    );\n  } else {\n    for (const r of targetBlockers) {\n      closeRows.push(close(\n        r,\n        'WF4: Produkt im Slot ausgetauscht.'\n      ));\n    }\n\n    setSlot(selected, newMdb);\n  }\n}\n\n// 3. Produkt zusätzlich auf weiteren Slot legen\nif (changeTypeInternal === 'ADD_ADDITIONAL_SLOT') {\n  const blockers = activeOnNew.filter(r =>\n    clean(r.product_key) !== selectedProductKey\n  );\n\n  if (blockers.length) {\n    warning(\n      'WF4_TARGET_SLOT_OCCUPIED',\n      'error',\n      `MDB ${newMdb} ist bereits aktiv belegt. Fuer zusätzlichen Slot bitte anderen MDB-Code wählen oder Produkttausch verwenden.`\n    );\n  } else {\n    setSlot(selected, newMdb);\n  }\n}\n\n// 4. Produkt aus Slot entfernen\nif (changeTypeInternal === 'REMOVE_PRODUCT_FROM_SLOT') {\n  const rows = activeOnNew.length ? activeOnNew : activeOnOld;\n\n  for (const r of rows) {\n    closeRows.push(close(\n      r,\n      'WF4: Produkt aus Slot entfernt.'\n    ));\n  }\n}\n\n// 5. Nur Stammdaten korrigieren\nif (changeTypeInternal === 'CORRECT_METADATA') {\n  warning(\n    'WF4_METADATA_CORRECTION_NOT_AUTOMATED',\n    'warning',\n    'Nur Stammdaten korrigieren gewählt. Diese Version protokolliert nur.'\n  );\n}\n\n// 6. Bestand korrigieren ohne Produktwechsel\nif (changeTypeInternal === 'STOCK_CORRECTION') {\n  warning(\n    'WF4_STOCK_CORRECTION_REQUESTED',\n    'action_required',\n    'Bestand korrigieren ohne Produktwechsel gewählt. Bitte Bestandskorrekturworkflow verwenden.'\n  );\n}\n\n// Sicherheitsprüfung: Alte Zeilen ohne product_slot_id nicht automatisch schließen.\nfor (const r of closeRows) {\n  if (!clean(r.product_slot_id)) {\n    warning(\n      'MISSING_PRODUCT_SLOT_ID',\n      'error',\n      `Alte Produktzeile konnte nicht sicher geschlossen werden, weil product_slot_id fehlt. product_key=${r.product_key}, mdb=${r.mdb_code}`,\n      r.product_key\n    );\n  }\n}\n\nconst hasError = warningRows.some(w =>\n  clean(w.severity) === 'error'\n);\n\nif (hasError) {\n  newRows.length = 0;\n  baseRowUpdates.length = 0;\n}\n\nconst realChangesCount =\n  closeRows.length +\n  newRows.length +\n  baseRowUpdates.length;\n\nlet finalStatus = hasError ? 'mit_fehler' : 'verarbeitet';\nlet actionRequired = warningRows.length ? 'TRUE' : 'FALSE';\n\nif (\n  !hasError &&\n  realChangesCount === 0 &&\n  !['CORRECT_METADATA', 'STOCK_CORRECTION'].includes(changeTypeInternal)\n) {\n  finalStatus = 'aktion_erforderlich';\n  actionRequired = 'TRUE';\n\n  warning(\n    'WF4_NO_REAL_CHANGE_WRITTEN',\n    'action_required',\n    'WF4 hat keine echte Produkt-/Slotänderung geschrieben. Bitte Eingaben prüfen.'\n  );\n}\n\nlogRows.push({\n  change_id: changeId,\n  changed_at_utc: now,\n  source: prepared.source,\n  detected_reason: prepared.detected_reason,\n  machine_id: machineId,\n  old_mdb_code: oldMdb,\n  new_mdb_code: newMdb,\n  old_product_key: closeRows.map(r => r.product_key).join('; '),\n  old_product_name: closeRows.map(r => productName(r)).join('; '),\n  new_product_key: selectedProductKey,\n  new_product_name: selectedName,\n  change_type_de: changeTypeDe,\n  change_type_internal: changeTypeInternal,\n  valid_from_utc: validFromUtc,\n  status: finalStatus,\n  action_required: actionRequired,\n  notes: note\n});\n\nreturn [{\n  json: {\n    closeRows,\n    newRows,\n    baseRowUpdates,\n    warningRows,\n    logRows,\n    summary: {\n      status: finalStatus,\n      change_id: changeId,\n      close_rows: closeRows.length,\n      new_rows: newRows.length,\n      base_row_updates: baseRowUpdates.length,\n      warnings: warningRows.length\n    }\n  }\n}];"
      },
      "id": "68c79cac-aa89-44cc-bb32-b8d662961dda",
      "name": "Code - Entscheidung auswerten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "return ($input.first().json.closeRows || []).filter(r => r.product_slot_id).map(r => ({ json: r }));"
      },
      "id": "9f528482-c3ca-4151-855b-805ca742dadb",
      "name": "Extract - Alte Produktzeilen schließen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "return ($input.first().json.newRows || []).map(r => ({ json: r }));"
      },
      "id": "3dd58f9b-8a25-484d-8b6c-f5b439ede958",
      "name": "Extract - Neue Produktzeilen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "return ($input.first().json.warningRows || []).map(r => ({ json: r }));"
      },
      "id": "3a9d3fc1-d36c-4f00-b69b-49ce7ca1206d",
      "name": "Extract - Hinweise",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        784
      ]
    },
    {
      "parameters": {
        "jsCode": "return ($input.first().json.logRows || []).map(r => ({ json: r }));"
      },
      "id": "4d58df4d-28b9-441d-a053-1090a82dff0e",
      "name": "Extract - Produktwechsel Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        992
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF4').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config - WF4').first().json.sheet_produkte }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "product_slot_id": "={{ $json.product_slot_id }}",
            "active": "={{ $json.active }}",
            "valid_to_datetime": "={{ $json.valid_to_datetime }}",
            "valid_to": "={{ $json.valid_to }}",
            "last_change_id": "={{ $json.last_change_id }}",
            "notes": "={{ $json.notes }}"
          },
          "matchingColumns": [
            "product_slot_id"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "cc880d62-e825-44ff-8756-d5f038957bd9",
      "name": "Google Sheets - Alte Produktzeilen schließen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2912,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6GG86fWHw536Rk36",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF4').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config - WF4').first().json.sheet_produkte }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "product_key",
              "displayName": "product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mdb_code",
              "displayName": "mdb_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nayax_product_name",
              "displayName": "nayax_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "internal_product_name",
              "displayName": "internal_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sale_price_eur",
              "displayName": "sale_price_eur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valid_from",
              "displayName": "valid_from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valid_to",
              "displayName": "valid_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "replenishment_status",
              "displayName": "replenishment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "min_stock",
              "displayName": "min_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "target_stock",
              "displayName": "target_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_machine_qty",
              "displayName": "current_machine_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "machine_capacity",
              "displayName": "machine_capacity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stock_source",
              "displayName": "stock_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_slot_id",
              "displayName": "product_slot_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valid_from_datetime",
              "displayName": "valid_from_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valid_to_datetime",
              "displayName": "valid_to_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_change_id",
              "displayName": "last_change_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6567ffa6-ef15-4c8a-99ca-93f9509f8911",
      "name": "Google Sheets - Neue Produktzeilen anlegen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2912,
        592
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6GG86fWHw536Rk36",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF4').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config - WF4').first().json.sheet_hinweise }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "schema": []
        },
        "options": {}
      },
      "id": "f0bd7baa-28a5-4dfe-98b6-a587537bdef1",
      "name": "Google Sheets - Hinweise anhängen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2912,
        784
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6GG86fWHw536Rk36",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF4').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config - WF4').first().json.sheet_produktwechsel_log }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "changed_at",
              "displayName": "changed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mdb_code",
              "displayName": "mdb_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "old_product_key",
              "displayName": "old_product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "old_product_name",
              "displayName": "old_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "new_product_key",
              "displayName": "new_product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "new_product_name",
              "displayName": "new_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "action_required",
              "displayName": "action_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "894b50a9-90d4-4568-8add-5fbd8bea764f",
      "name": "Google Sheets - Produktwechsel_Log anhängen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2912,
        992
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6GG86fWHw536Rk36",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "MDB-/Produktänderung verarbeitet",
        "completionMessage": "Die Änderung wurde verarbeitet oder als Log/Hinweis gespeichert. Bitte prüfe Produktwechsel_Log und Fehler_und_Hinweise.",
        "options": {}
      },
      "id": "e296565e-5eee-4235-b1b7-a73d17f26f4a",
      "name": "Form Ending - Abschluss",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        3184,
        992
      ],
      "webhookId": "cb450536-9708-44ab-8867-699ae7393ac0"
    },
    {
      "parameters": {
        "jsCode": "return ($input.first().json.baseRowUpdates || []).map(r => ({ json: r }));"
      },
      "id": "636e5a42-2abf-41b2-9cba-d707132a68c1",
      "name": "Extract - Vorhandene Produktzeilen ergänzen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        176
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF4').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config - WF4').first().json.sheet_produkte }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "product_key": "={{ $json.product_key }}",
            "product_slot_id": "={{ $json.product_slot_id }}",
            "machine_id": "={{ $json.machine_id }}",
            "mdb_code": "={{ $json.mdb_code }}",
            "active": "={{ $json.active }}",
            "valid_from_datetime": "={{ $json.valid_from_datetime }}",
            "valid_from": "={{ $json.valid_from }}",
            "valid_to_datetime": "={{ $json.valid_to_datetime }}",
            "valid_to": "={{ $json.valid_to }}",
            "current_machine_qty": "={{ $json.current_machine_qty }}",
            "machine_capacity": "={{ $json.machine_capacity }}",
            "target_stock": "={{ $json.target_stock }}",
            "min_stock": "={{ $json.min_stock }}",
            "stock_source": "={{ $json.stock_source }}",
            "last_change_id": "={{ $json.last_change_id }}",
            "notes": "={{ $json.notes }}"
          },
          "matchingColumns": [
            "product_key"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "1950eccb-ccad-4831-bf8f-bf4ed99f8ee1",
      "name": "Google Sheets - Vorhandene Produktzeilen ergänzen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2912,
        176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6GG86fWHw536Rk36",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config - WF4').first().json;\nconst products = $items('Google Sheets - Produkte lesen').map(i => i.json);\nconst aliases = $items('Google Sheets - Produkt_Aliase lesen').map(i => i.json);\n\nlet input = {};\ntry {\n  input = $('Form Trigger - Nayax Name eingeben').first().json;\n} catch (e) {\n  input = {};\n}\n\ntry {\n  const execInput = $('Execute Workflow Trigger - aus Verkaufsworkflow').first().json;\n  if (Object.keys(execInput || {}).length) input = execInput;\n} catch (e) {}\n\nfunction clean(v) {\n  return String(v ?? '')\n    .replace(/\\n/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction normalize(v) {\n  return clean(v)\n    .toLowerCase()\n    .replace(/&/g, 'und')\n    .replace(/\\+/g, 'plus')\n    .replace(/ä/g, 'ae')\n    .replace(/ö/g, 'oe')\n    .replace(/ü/g, 'ue')\n    .replace(/ß/g, 'ss')\n    .replace(/[^a-z0-9]/g, '');\n}\n\nfunction tokens(v) {\n  const n = normalize(v);\n  return [...new Set((n.match(/[a-z]+|[0-9]+/g) || []).filter(t => t.length >= 2))];\n}\n\nfunction parseNayaxName(raw) {\n  const text = clean(raw);\n\n  // Beispiel: \"Snickers Cream Peanut Butter(12 = 1.00)\"\n  const m = text.match(/^(.*?)\\s*\\((\\d+)\\s*=\\s*([0-9]+(?:[.,][0-9]+)?)\\)\\s*$/);\n\n  if (!m) {\n    return {\n      label: text,\n      mdb_code: '',\n      sale_price_eur: ''\n    };\n  }\n\n  return {\n    label: clean(m[1]),\n    mdb_code: clean(m[2]),\n    sale_price_eur: clean(m[3]).replace(',', '.')\n  };\n}\n\nfunction isActive(v) {\n  const value = clean(v).toUpperCase();\n  return value === 'TRUE' || value === 'AKTIV' || value === 'ACTIVE' || value === 'JA' || value === '1';\n}\n\nfunction hasSlotData(p) {\n  return clean(p.machine_id) || clean(p.mdb_code) || clean(p.product_slot_id);\n}\n\nfunction scoreProduct(product, queryLabel, parsedMdb, suggestedProductKey) {\n  const productKey = clean(product.product_key);\n  const internalName = clean(product.internal_product_name);\n  const nayaxName = clean(product.nayax_product_name);\n  const mdbCode = clean(product.mdb_code);\n  const machineId = clean(product.machine_id);\n\n  const queryNorm = normalize(queryLabel);\n  const productText = [\n    productKey,\n    internalName,\n    nayaxName,\n    mdbCode,\n    machineId\n  ].join(' ');\n\n  const productNorm = normalize(productText);\n\n  let score = 0;\n\n  if (suggestedProductKey && productKey === suggestedProductKey) score += 100;\n\n  if (queryNorm && normalize(nayaxName) === queryNorm) score += 95;\n  if (queryNorm && normalize(internalName) === queryNorm) score += 90;\n  if (queryNorm && normalize(productKey) === queryNorm) score += 90;\n\n  if (queryNorm && normalize(nayaxName).includes(queryNorm)) score += 70;\n  if (queryNorm && normalize(internalName).includes(queryNorm)) score += 65;\n  if (queryNorm && productNorm.includes(queryNorm)) score += 55;\n\n  const queryTokens = tokens(queryLabel);\n  const productTokens = tokens(productText);\n  const overlap = queryTokens.filter(t => productTokens.includes(t));\n\n  score += overlap.length * 12;\n\n  if (parsedMdb && mdbCode === parsedMdb) score += 15;\n  if (isActive(product.active)) score += 5;\n\n  return Math.min(score, 99);\n}\n\nfunction scoreAlias(alias, queryLabel) {\n  const aliasName = clean(alias.alias_name || alias.source_item || alias.invoice_item_example);\n  const q = normalize(queryLabel);\n  const a = normalize(aliasName);\n\n  if (!q || !a) return 0;\n  if (a === q) return 90;\n  if (a.includes(q) || q.includes(a)) return 70;\n\n  const qTokens = tokens(queryLabel);\n  const aTokens = tokens(aliasName);\n  const overlap = qTokens.filter(t => aTokens.includes(t));\n\n  return overlap.length * 15;\n}\n\nconst rawSearch = clean(\n  input['Nayax Produktname oder Suchbegriff'] ||\n  input.nayax_product_name ||\n  input.raw_product_name ||\n  input.product_name ||\n  input.search ||\n  ''\n);\n\nconst parsed = parseNayaxName(rawSearch);\n\nconst searchLabel = clean(\n  input.product_label ||\n  parsed.label ||\n  rawSearch\n);\n\nconst machineId = clean(input.machine_id || config.default_machine_id || '');\nconst suggestedProductKey = clean(input.product_key || input.suggested_product_key || '');\nconst expectedMdbCode = clean(input.expected_mdb_code || input.old_mdb_code || '');\nconst actualMdbCode = clean(input.actual_mdb_code || input.new_mdb_code || input.mdb_code || parsed.mdb_code || '');\nconst settlementDatetimeGmt = clean(input.settlement_datetime_gmt || input.sale_datetime_utc || '');\nconst detectedReason = clean(input.detected_reason || '');\nconst source = clean(input.source || 'manual_or_sales_workflow');\n\nif (!searchLabel && !suggestedProductKey) {\n  throw new Error('Kein Suchbegriff und kein product_key vorhanden.');\n}\n\n// Alias-Treffer vorbereiten\nconst aliasScores = aliases\n  .map(a => ({\n    alias: a,\n    score: scoreAlias(a, searchLabel),\n    product_key: clean(a.product_key)\n  }))\n  .filter(a => a.score > 0 && a.product_key);\n\nconst aliasBoostByProductKey = new Map();\n\nfor (const a of aliasScores) {\n  const current = aliasBoostByProductKey.get(a.product_key) || 0;\n  aliasBoostByProductKey.set(a.product_key, Math.max(current, a.score));\n}\n\n// Produkte ranken\nconst rankedRaw = products\n  .filter(p => clean(p.product_key))\n  .map(p => {\n    const productKey = clean(p.product_key);\n    let score = scoreProduct(p, searchLabel, actualMdbCode || expectedMdbCode || parsed.mdb_code, suggestedProductKey);\n\n    const aliasBoost = aliasBoostByProductKey.get(productKey) || 0;\n    if (aliasBoost) score += Math.min(aliasBoost, 80);\n\n    return {\n      product: p,\n      score: Math.min(score, 99)\n    };\n  })\n  .filter(x => x.score >= Number(config.min_candidate_score || 35))\n  .sort((a, b) => b.score - a.score);\n\n// Deduplizieren nach product_key.\n// Bei mehreren Zeilen desselben product_key bevorzugen:\n// 1. aktive Slotzeile\n// 2. Zeile mit Slotdaten\n// 3. höhere Score-Zeile\nconst byKey = new Map();\n\nfor (const item of rankedRaw) {\n  const key = clean(item.product.product_key);\n\n  if (!byKey.has(key)) {\n    byKey.set(key, item);\n    continue;\n  }\n\n  const current = byKey.get(key);\n\n  const itemActive = isActive(item.product.active);\n  const currentActive = isActive(current.product.active);\n\n  const itemHasSlot = hasSlotData(item.product);\n  const currentHasSlot = hasSlotData(current.product);\n\n  let replace = false;\n\n  if (itemActive && !currentActive) replace = true;\n  else if (itemActive === currentActive && itemHasSlot && !currentHasSlot) replace = true;\n  else if (\n    itemActive === currentActive &&\n    itemHasSlot === currentHasSlot &&\n    item.score > current.score\n  ) replace = true;\n\n  if (replace) byKey.set(key, item);\n}\n\nconst ranked = [...byKey.values()]\n  .sort((a, b) => b.score - a.score)\n  .slice(0, 5);\n\nif (!ranked.length) {\n  return [{\n    json: {\n      source,\n      detected_reason: detectedReason,\n      machine_id: machineId,\n      search_raw: rawSearch,\n      search_label: searchLabel,\n      parsed_mdb_code: parsed.mdb_code,\n      parsed_sale_price_eur: parsed.sale_price_eur,\n      expected_mdb_code: expectedMdbCode,\n      actual_mdb_code: actualMdbCode,\n      settlement_datetime_gmt: settlementDatetimeGmt,\n      candidates: [],\n      form_info: [\n        'Keine Produktkandidaten gefunden.',\n        '',\n        `Suchbegriff: ${searchLabel || rawSearch}`,\n        `Maschine: ${machineId || '(leer)'}`,\n        `MDB aus Nayax/ProductName: ${parsed.mdb_code || '(nicht erkannt)'}`,\n        '',\n        'Bitte Produkt zuerst über Rechnung/WF2 als Produktstamm anlegen oder Suchbegriff genauer eingeben.'\n      ].join('\\n')\n    }\n  }];\n}\n\nconst activeRows = products.filter(p =>\n  (!machineId || clean(p.machine_id) === machineId) &&\n  isActive(p.active)\n);\n\nconst candidates = ranked.map((x, idx) => {\n  const p = x.product;\n  const productKey = clean(p.product_key);\n\n  const activeSlots = activeRows\n    .filter(r => clean(r.product_key) === productKey)\n    .map(r => clean(r.mdb_code))\n    .filter(Boolean);\n\n  return {\n    number: String(idx + 1),\n    score: x.score,\n    product_key: productKey,\n    internal_product_name: clean(p.internal_product_name),\n    nayax_product_name: clean(p.nayax_product_name),\n    mdb_code: clean(p.mdb_code),\n    machine_id: clean(p.machine_id),\n    product_slot_id: clean(p.product_slot_id),\n    active: isActive(p.active) ? 'TRUE' : clean(p.active),\n    sale_price_eur: clean(p.sale_price_eur),\n    active_slots: [...new Set(activeSlots)].join(', ')\n  };\n});\n\nconst candidateText = candidates\n  .map(c => {\n    const name = clean(c.internal_product_name || c.nayax_product_name || '(ohne Name)');\n    const activeSlots = c.active_slots ? ` | aktive Slots: ${c.active_slots}` : ' | keine aktiven Slots erkannt';\n    const mdb = c.mdb_code ? ` | Zeilen-MDB: ${c.mdb_code}` : '';\n    return `${c.number} = ${c.product_key} | ${name}${mdb}${activeSlots} | Treffer ${c.score}%`;\n  })\n  .join('\\n');\n\nconst formInfo = [\n  'Produktkandidaten',\n  '',\n  `Suchbegriff: ${searchLabel || rawSearch}`,\n  `Maschine: ${machineId || '(leer)'}`,\n  `MDB aus Nayax/ProductName: ${parsed.mdb_code || '(nicht erkannt)'}`,\n  `Preis aus Nayax/ProductName: ${parsed.sale_price_eur || '(nicht erkannt)'}`,\n  '',\n  'Bitte bestätige im nächsten Formular zuerst das richtige Produkt.',\n  '',\n  candidateText,\n  '',\n  'Auswahl-Regeln:',\n  '1, 2, 3, 4 oder 5 = Produkt auswählen',\n  'ABLEHNEN = Vorgang abbrechen'\n].join('\\n');\n\nreturn [{\n  json: {\n    source,\n    detected_reason: detectedReason,\n    machine_id: machineId,\n    search_raw: rawSearch,\n    search_label: searchLabel,\n    parsed_mdb_code: parsed.mdb_code,\n    parsed_sale_price_eur: parsed.sale_price_eur,\n    expected_mdb_code: expectedMdbCode,\n    actual_mdb_code: actualMdbCode,\n    settlement_datetime_gmt: settlementDatetimeGmt,\n    candidates,\n    form_info: formInfo\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        672
      ],
      "id": "9056facf-0870-4521-b11c-1869745e064f",
      "name": "Produktkandidaten vorbereiten"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Produktvorschläge",
              "fieldType": "textarea",
              "defaultValue": "=Default Value {{ $json.form_info }}"
            },
            {
              "fieldLabel": "Produktwahl",
              "defaultValue": "1",
              "requiredField": true
            },
            {
              "fieldLabel": "Änderungsart",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Produkt im Slot austauschen"
                  },
                  {
                    "option": "Produkt auf anderen MDB-Slot umziehen"
                  },
                  {
                    "option": "Produkt zusätzlich auf weiteren Slot legen"
                  },
                  {
                    "option": "Produkt aus Slot entfernen"
                  },
                  {
                    "option": "Nur Stammdaten korrigieren"
                  },
                  {
                    "option": "Bestand korrigieren ohne Produktwechsel"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1296,
        672
      ],
      "id": "afe3befd-dfb3-4cba-a7eb-bc77bae67577",
      "name": "Produkt und Änderungsart wählen",
      "webhookId": "a86175a7-1ae5-47ee-95c2-c14ec85d29b3"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Änderungsvorschau",
              "fieldType": "textarea",
              "defaultValue": "={{ $json.final_info }}"
            },
            {
              "fieldLabel": "Freigabe",
              "fieldType": "dropdown",
              "defaultValue": "JA",
              "fieldOptions": {
                "values": [
                  {
                    "option": "JA"
                  },
                  {
                    "option": "ABBRECHEN"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Zielslot ersetzen",
              "fieldType": "dropdown",
              "defaultValue": "JA",
              "fieldOptions": {
                "values": [
                  {
                    "option": "JA"
                  },
                  {
                    "option": "NEIN"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "MDB-Code alt",
              "defaultValue": "={{ $json.expected_mdb_code }}"
            },
            {
              "fieldLabel": "MDB-Code neu",
              "defaultValue": "={{ $json.actual_mdb_code }}"
            },
            {
              "fieldLabel": "Gültig ab",
              "defaultValue": "={{ $json.default_valid_from_utc }}",
              "requiredField": true
            },
            {
              "fieldLabel": "Aktueller Maschinenbestand nach Änderung",
              "fieldType": "number",
              "defaultValue": "={{ $json.default_current_machine_qty }}"
            },
            {
              "fieldLabel": "Slot-Kapazität",
              "fieldType": "number",
              "defaultValue": "={{ $json.default_machine_capacity }}"
            },
            {
              "fieldLabel": "Zielbestand",
              "defaultValue": "={{ $json.default_target_stock }}"
            },
            {
              "fieldLabel": "Mindestbestand",
              "defaultValue": "={{ $json.default_min_stock }}"
            },
            {
              "fieldLabel": "Notiz",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {
          "buttonLabel": "Änderung verarbeiten"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1936,
        672
      ],
      "id": "5f8c534d-d6dc-4fb8-9d4d-5c4411ba5dfa",
      "name": "MDB Änderung final prüfen",
      "webhookId": "18f9994b-071a-403c-ae8a-48a565f3e20a"
    },
    {
      "parameters": {
        "jsCode": "const prepared = $('Produktkandidaten vorbereiten').first().json;\nconst form = $('Produkt und Änderungsart wählen').first().json;\n\nconst products = $items('Google Sheets - Produkte lesen').map(i => i.json);\n\nfunction clean(v) {\n  return String(v ?? '')\n    .replace(/\\n/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction normalize(v) {\n  return clean(v)\n    .toLowerCase()\n    .replace(/ä/g, 'ae')\n    .replace(/ö/g, 'oe')\n    .replace(/ü/g, 'ue')\n    .replace(/ß/g, 'ss');\n}\n\nfunction isActive(v) {\n  const val = clean(v).toUpperCase();\n  return val === 'TRUE'\n    || val === 'AKTIV'\n    || val === 'ACTIVE'\n    || val === 'JA'\n    || val === '1';\n}\n\nconst selectionRaw = clean(form['Produktwahl']);\nconst selection = normalize(selectionRaw);\n\nif (selection === 'ablehnen') {\n  return [{\n    json: {\n      status: 'abgelehnt',\n      aborted: true,\n      message: 'Benutzer hat den Vorgang abgelehnt.'\n    }\n  }];\n}\n\nconst selectedCandidate = (prepared.candidates || []).find(c =>\n  clean(c.number) === selectionRaw\n);\n\nif (!selectedCandidate) {\n  throw new Error(`Keine gültige Produktwahl gefunden: ${selectionRaw}`);\n}\n\nconst changeTypeDe = clean(form['Änderungsart']);\n\nconst changeTypeMap = {\n  [normalize('Produkt im Slot austauschen')]: 'REPLACE_PRODUCT_IN_SLOT',\n  [normalize('Produkt auf anderen MDB-Slot umziehen')]: 'MOVE_PRODUCT',\n  [normalize('Produkt zusätzlich auf weiteren Slot legen')]: 'ADD_ADDITIONAL_SLOT',\n  [normalize('Produkt zusaetzlich auf weiteren Slot legen')]: 'ADD_ADDITIONAL_SLOT',\n  [normalize('Produkt aus Slot entfernen')]: 'REMOVE_PRODUCT_FROM_SLOT',\n  [normalize('Nur Stammdaten korrigieren')]: 'CORRECT_METADATA',\n  [normalize('Bestand korrigieren ohne Produktwechsel')]: 'STOCK_CORRECTION'\n};\n\nconst changeTypeInternal =\n  changeTypeMap[normalize(changeTypeDe)] || 'UNKNOWN';\n\nconst machineId = clean(prepared.machine_id);\n\nconst selectedProductKey = clean(selectedCandidate.product_key);\n\nconst activeRows = products.filter(p =>\n  clean(p.machine_id) === machineId &&\n  isActive(p.active)\n);\n\nconst activeSameProduct = activeRows.filter(p =>\n  clean(p.product_key) === selectedProductKey\n);\n\nconst expectedMdbCode =\n  clean(prepared.expected_mdb_code) ||\n  (\n    activeSameProduct.length === 1\n      ? clean(activeSameProduct[0].mdb_code)\n      : ''\n  );\n\nconst actualMdbCode =\n  clean(prepared.actual_mdb_code) ||\n  clean(prepared.parsed_mdb_code);\n\nconst activeOnTargetMdb = actualMdbCode\n  ? activeRows.filter(p =>\n      clean(p.mdb_code) === actualMdbCode\n    )\n  : [];\n\nconst activeSlotsText = activeSameProduct.length\n  ? activeSameProduct.map(p =>\n      `MDB ${clean(p.mdb_code)} | ${clean(p.internal_product_name || p.nayax_product_name)}`\n    ).join('\\n')\n  : 'Keine aktiven Slots gefunden.';\n\nconst targetSlotText = activeOnTargetMdb.length\n  ? activeOnTargetMdb.map(p =>\n      `MDB ${actualMdbCode} aktuell belegt mit: ${clean(p.product_key)} | ${clean(p.internal_product_name || p.nayax_product_name)}`\n    ).join('\\n')\n  : actualMdbCode\n    ? `MDB ${actualMdbCode} ist aktuell frei oder nicht aktiv hinterlegt.`\n    : 'Kein Ziel-MDB erkannt.';\n\nconst finalInfo = [\n  'Änderung prüfen',\n  '',\n  `Produkt: ${selectedProductKey}`,\n  `Name: ${clean(selectedCandidate.internal_product_name || selectedCandidate.nayax_product_name)}`,\n  '',\n  `Änderungsart: ${changeTypeDe}`,\n  '',\n  `Maschine: ${machineId}`,\n  `Erwarteter alter MDB: ${expectedMdbCode || '(nicht erkannt)'}`,\n  `Neuer/Ziel MDB: ${actualMdbCode || '(nicht erkannt)'}`,\n  '',\n  'Aktive Slots dieses Produkts:',\n  activeSlotsText,\n  '',\n  'Zielslot-Prüfung:',\n  targetSlotText,\n  '',\n  'Bitte im nächsten Formular bestätigen und Werte prüfen.'\n].join('\\n');\n\nreturn [{\n  json: {\n    source: prepared.source,\n    detected_reason: prepared.detected_reason,\n\n    machine_id: machineId,\n\n    search_raw: prepared.search_raw,\n    search_label: prepared.search_label,\n\n    selected_product_key: selectedProductKey,\n    selected_internal_product_name: clean(selectedCandidate.internal_product_name),\n    selected_nayax_product_name: clean(selectedCandidate.nayax_product_name),\n\n    change_type_de: changeTypeDe,\n    change_type_internal: changeTypeInternal,\n\n    expected_mdb_code: expectedMdbCode,\n    actual_mdb_code: actualMdbCode,\n\n    active_same_product: activeSameProduct,\n    active_on_target_mdb: activeOnTargetMdb,\n\n    parsed_sale_price_eur: prepared.parsed_sale_price_eur,\n\n    settlement_datetime_gmt: prepared.settlement_datetime_gmt,\n\n    final_info: finalInfo,\n\n    default_valid_from_utc:\n      prepared.settlement_datetime_gmt ||\n      new Date().toISOString(),\n\n    default_current_machine_qty:\n      activeOnTargetMdb[0]?.current_machine_qty || '',\n\n    default_machine_capacity:\n      activeOnTargetMdb[0]?.machine_capacity || '',\n\n    default_target_stock:\n      activeOnTargetMdb[0]?.target_stock || '',\n\n    default_min_stock:\n      activeOnTargetMdb[0]?.min_stock || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        672
      ],
      "id": "7752bd8e-10a4-4b2c-80ae-2fd219145984",
      "name": "Änderungsart vorbereiten"
    },
    {
      "parameters": {
        "path": "38a53091-4cd0-4a4b-96cb-afb79b511066",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        992
      ],
      "id": "97368bdc-5bfb-4813-94a1-b6d07a658a4e",
      "name": "Webhook",
      "webhookId": "38a53091-4cd0-4a4b-96cb-afb79b511066"
    },
    {
      "id": "issue20-prepare-pgw-wf4-slot-assignments",
      "name": "Prepare PGW - WF4 Slot Assignments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        760
      ],
      "parameters": {
        "jsCode": "const source = $input.first().json;\nconst batchRunId = \"wf4_\" + new Date().toISOString().slice(0, 10);\n\nfunction clean(value) {\n  return String(value ?? \"\").replace(/\\n/g, \" \").replace(/\\s+/g, \" \").trim();\n}\n\nfunction num(value) {\n  const n = Number(String(value ?? \"\").replace(\",\", \".\"));\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction boolActive(value) {\n  return [\"TRUE\", \"1\", \"JA\", \"YES\", \"AKTIV\", \"ACTIVE\"].includes(clean(value).toUpperCase());\n}\n\nfunction slotEvent(row) {\n  const data = {\n    product_slot_key: clean(row.product_slot_id),\n    machine_key: clean(row.machine_id),\n    mdb_code: num(row.mdb_code),\n    product_key: clean(row.product_key),\n    valid_from: clean(row.valid_from_datetime || row.valid_from),\n    valid_to: clean(row.valid_to_datetime || row.valid_to) || null,\n    active: boolActive(row.active),\n    current_machine_qty: num(row.current_machine_qty) ?? 0,\n    target_stock: num(row.target_stock),\n    machine_capacity: num(row.machine_capacity),\n    notes: clean(row.notes),\n  };\n  return { json: { event_type: \"slot_assignment\", batch_run_id: batchRunId, data } };\n}\n\nreturn [\n  ...(source.closeRows || []),\n  ...(source.newRows || []),\n  ...(source.baseRowUpdates || []),\n]\n  .filter((row) => clean(row.product_slot_id) && clean(row.machine_id) && clean(row.product_key))\n  .map(slotEvent);"
      }
    },
    {
      "id": "issue20-wf-pgw-wf4",
      "name": "WF-PGW - WF4",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 2,
      "position": [
        1500,
        760
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pYrIB2bSQXxayFHq",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      }
    }
  ],
  "connections": {
    "Form Trigger - Nayax Name eingeben": {
      "main": [
        [
          {
            "node": "Config - WF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger - aus Verkaufsworkflow": {
      "main": [
        [
          {
            "node": "Config - WF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config - WF4": {
      "main": [
        [
          {
            "node": "Google Sheets - Produkte lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Produkte lesen": {
      "main": [
        [
          {
            "node": "Google Sheets - Produkt_Aliase lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Produkt_Aliase lesen": {
      "main": [
        [
          {
            "node": "Produktkandidaten vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Entscheidung auswerten": {
      "main": [
        [
          {
            "node": "Extract - Alte Produktzeilen schließen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract - Vorhandene Produktzeilen ergänzen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract - Neue Produktzeilen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract - Hinweise",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract - Produktwechsel Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare PGW - WF4 Slot Assignments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Alte Produktzeilen schließen": {
      "main": [
        [
          {
            "node": "Google Sheets - Alte Produktzeilen schließen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Neue Produktzeilen": {
      "main": [
        [
          {
            "node": "Google Sheets - Neue Produktzeilen anlegen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Hinweise": {
      "main": [
        [
          {
            "node": "Google Sheets - Hinweise anhängen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Produktwechsel Log": {
      "main": [
        [
          {
            "node": "Google Sheets - Produktwechsel_Log anhängen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Produktwechsel_Log anhängen": {
      "main": [
        [
          {
            "node": "Form Ending - Abschluss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Vorhandene Produktzeilen ergänzen": {
      "main": [
        [
          {
            "node": "Google Sheets - Vorhandene Produktzeilen ergänzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produktkandidaten vorbereiten": {
      "main": [
        [
          {
            "node": "Produkt und Änderungsart wählen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produkt und Änderungsart wählen": {
      "main": [
        [
          {
            "node": "Änderungsart vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MDB Änderung final prüfen": {
      "main": [
        [
          {
            "node": "Code - Entscheidung auswerten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Änderungsart vorbereiten": {
      "main": [
        [
          {
            "node": "MDB Änderung final prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Config - WF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PGW - WF4 Slot Assignments": {
      "main": [
        [
          {
            "node": "WF-PGW - WF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "6141647a-86f0-428c-bda9-17b09e1f1c0d",
  "activeVersionId": "6141647a-86f0-428c-bda9-17b09e1f1c0d",
  "versionCounter": 5,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-05-22T04:38:38.374Z",
      "createdAt": "2026-05-22T04:38:38.374Z",
      "role": "workflow:owner",
      "workflowId": "lJHQNrestWqc9Brj",
      "projectId": "68wR1Q9zBUk0Gxhv",
      "project": {
        "updatedAt": "2026-05-19T17:59:53.408Z",
        "createdAt": "2026-05-19T16:50:04.773Z",
        "id": "68wR1Q9zBUk0Gxhv",
        "name": "Patrick Matthes <patrickmatthes2609@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "dd26b63a-7133-4afa-995a-0d7d72693aee"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-22T04:48:03.872Z",
    "createdAt": "2026-05-22T04:48:03.872Z",
    "versionId": "6141647a-86f0-428c-bda9-17b09e1f1c0d",
    "workflowId": "lJHQNrestWqc9Brj",
    "nodes": [
      {
        "parameters": {
          "content": "WF4 - MDB Produktzuordnung bearbeiten\n\nZwei Startwege:\n1. Manuell: Nayax-Produktname oder Suchbegriff eingeben.\n2. Aus Verkaufsworkflow: MDB-Abweichung wird vorausgefüllt über Execute Workflow.\n\nVor Produktivbetrieb: Credentials neu setzen, Config prüfen, Spalte product_slot_id ergänzen, nur mit Testdaten starten.",
          "height": 360,
          "width": 620,
          "color": 4
        },
        "id": "fa50b68d-4248-4794-a7c3-71d1baae307d",
        "name": "Hinweis - Bedienung",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "formTitle": "MDB-/Produktzuordnung suchen",
          "formDescription": "Gib nur den Nayax-Produktnamen oder einen Suchbegriff ein.",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Nayax Produktname oder Suchbegriff",
                "placeholder": "z. B. Wasser, KitKat Chunky, M&M",
                "requiredField": true
              }
            ]
          },
          "options": {
            "buttonLabel": "Zuordnung suchen"
          }
        },
        "id": "98309af8-fba3-40dd-a20f-767ffd05e7b0",
        "name": "Form Trigger - Nayax Name eingeben",
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          80,
          544
        ],
        "webhookId": "b3d38eeb-0d56-459c-a05f-fb5b6e48cc28"
      },
      {
        "parameters": {},
        "id": "40d0cd25-8ade-4dfe-8756-5fea3f209efb",
        "name": "Execute Workflow Trigger - aus Verkaufsworkflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          80,
          784
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "sheet-id",
                "name": "google_sheet_id",
                "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
                "type": "string"
              },
              {
                "id": "machine-id",
                "name": "default_machine_id",
                "value": "457107528",
                "type": "string"
              },
              {
                "id": "sheet-produkte",
                "name": "sheet_produkte",
                "value": "Produkte",
                "type": "string"
              },
              {
                "id": "sheet-aliase",
                "name": "sheet_aliase",
                "value": "Produkt_Aliase",
                "type": "string"
              },
              {
                "id": "sheet-log",
                "name": "sheet_produktwechsel_log",
                "value": "Produktwechsel_Log",
                "type": "string"
              },
              {
                "id": "sheet-hinweise",
                "name": "sheet_hinweise",
                "value": "Fehler_und_Hinweise",
                "type": "string"
              },
              {
                "id": "timezone",
                "name": "timezone",
                "value": "Europe/Berlin",
                "type": "string"
              },
              {
                "id": "min-score",
                "name": "min_candidate_score",
                "value": 45,
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "b5737622-e9e2-4ca4-a3a6-60113ef91321",
        "name": "Config - WF4",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          368,
          672
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "={{ $json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $json.sheet_produkte }}",
            "mode": "name"
          },
          "options": {}
        },
        "id": "db6273d3-f315-466c-aa1b-5871d4a488bb",
        "name": "Google Sheets - Produkte lesen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          624,
          672
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "6GG86fWHw536Rk36",
            "name": "Google Sheets API"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config - WF4').first().json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $('Config - WF4').first().json.sheet_aliase }}",
            "mode": "name"
          },
          "options": {}
        },
        "id": "c550ea8c-2fe7-4b49-8932-e3457bfda076",
        "name": "Google Sheets - Produkt_Aliase lesen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          880,
          672
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "6GG86fWHw536Rk36",
            "name": "Google Sheets API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const prepared = $('Änderungsart vorbereiten').first().json;\nconst form = $('MDB Änderung final prüfen').first().json;\nconst config = $('Config - WF4').first().json;\nconst products = $items('Google Sheets - Produkte lesen').map(i => i.json);\n\nfunction clean(v) {\n  return String(v ?? '')\n    .replace(/\\n/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction norm(v) {\n  return clean(v)\n    .toLowerCase()\n    .replace(/&/g, 'und')\n    .replace(/\\+/g, 'plus')\n    .replace(/ä/g, 'ae')\n    .replace(/ö/g, 'oe')\n    .replace(/ü/g, 'ue')\n    .replace(/ß/g, 'ss')\n    .replace(/[^a-z0-9]/g, '');\n}\n\nfunction mdbNorm(v) {\n  const s = clean(v).replace(',', '.');\n  return /^\\d+\\.0+$/.test(s) ? String(parseInt(s, 10)) : s;\n}\n\nfunction iso(v) {\n  const raw = clean(v);\n  const d = raw ? new Date(raw) : new Date();\n\n  if (Number.isNaN(d.getTime())) {\n    throw new Error('Gültig ab UTC ist kein valides Datum/Zeitformat: ' + raw);\n  }\n\n  return d.toISOString();\n}\n\nfunction stamp(v) {\n  return clean(v)\n    .replace(/[-:]/g, '')\n    .replace(/\\.\\d+Z$/, 'Z');\n}\n\nfunction psid(machineId, mdb, productKey, validFromUtc) {\n  return `PS_${clean(machineId)}_${mdbNorm(mdb)}_${clean(productKey)}_${stamp(validFromUtc)}`;\n}\n\nfunction first(...vals) {\n  return vals.map(clean).find(v => v !== '') || '';\n}\n\nfunction isActive(row) {\n  const active = clean(row.active).toUpperCase();\n  const validTo = clean(row.valid_to_datetime || row.valid_to);\n\n  return ['TRUE', '1', 'JA', 'YES', 'AKTIV', 'ACTIVE'].includes(active) && !validTo;\n}\n\nfunction hasSlotData(row) {\n  return !!(\n    clean(row.product_slot_id) ||\n    clean(row.machine_id) ||\n    clean(row.mdb_code) ||\n    clean(row.valid_from_datetime) ||\n    clean(row.valid_from)\n  );\n}\n\nfunction productName(row) {\n  return first(\n    row.internal_product_name,\n    row.nayax_product_name,\n    row.product_key\n  );\n}\n\nconst now = new Date().toISOString();\n\nconst machineId = (() => {\n  const raw = clean(prepared.machine_id || config.default_machine_id);\n  const asNum = Number(raw);\n  return Number.isFinite(asNum) ? String(Math.round(asNum)) : raw;\n})();\nconst oldMdb = mdbNorm(form['MDB-Code alt'] || prepared.expected_mdb_code);\nconst newMdb = mdbNorm(form['MDB-Code neu'] || prepared.actual_mdb_code || prepared.parsed_mdb_code);\nconst validFromUtc = iso(form['Gültig ab UTC'] || prepared.default_valid_from_utc);\nconst note = clean(form.Notiz);\n\nconst changeTypeDe = clean(prepared.change_type_de);\nconst changeTypeInternal = clean(prepared.change_type_internal);\n\nif (!changeTypeInternal || changeTypeInternal === 'UNKNOWN') {\n  throw new Error('Unbekannte Änderungsart. Bitte im vorherigen Formular eine gültige Änderungsart wählen.');\n}\n\nconst selected = {\n  product_key: clean(prepared.selected_product_key),\n  internal_product_name: clean(prepared.selected_internal_product_name),\n  nayax_product_name: clean(prepared.selected_nayax_product_name),\n  sale_price_eur: clean(prepared.parsed_sale_price_eur)\n};\n\nconst isRejected =\n  norm(form.Freigabe) !== 'ja' ||\n  prepared.aborted === true;\n\nconst replaceTargetSlot = norm(form['Zielslot ersetzen']) === 'ja';\n\nconst closeRows = [];\nconst newRows = [];\nconst baseRowUpdates = [];\nconst warningRows = [];\nconst logRows = [];\n\nconst selectedProductKey = clean(selected.product_key);\nconst selectedName = first(\n  selected.internal_product_name,\n  selected.nayax_product_name,\n  selected.product_key\n);\n\nconst changeId = `CHG_${machineId}_${oldMdb || 'NA'}_${newMdb || 'NA'}_${selectedProductKey || 'NO_PRODUCT'}_${stamp(validFromUtc)}`;\n\nfunction warning(type, severity, message, productKey = '') {\n  warningRows.push({\n    created_at: now,\n    type,\n    severity,\n    machine_id: machineId,\n    product_key: productKey || selectedProductKey,\n    nayax_product_name: selectedName,\n    message,\n    resolved: 'FALSE',\n    change_id: changeId\n  });\n}\n\nif (isRejected) {\n  logRows.push({\n    change_id: changeId,\n    changed_at_utc: now,\n    source: prepared.source,\n    detected_reason: prepared.detected_reason,\n    machine_id: machineId,\n    old_mdb_code: oldMdb,\n    new_mdb_code: newMdb,\n    old_product_key: '',\n    old_product_name: '',\n    new_product_key: selectedProductKey,\n    new_product_name: selectedName,\n    change_type_de: changeTypeDe,\n    change_type_internal: changeTypeInternal,\n    valid_from_utc: validFromUtc,\n    status: 'abgelehnt',\n    action_required: 'FALSE',\n    notes: note || 'Im Formular abgelehnt.'\n  });\n\n  return [{\n    json: {\n      closeRows,\n      newRows,\n      baseRowUpdates,\n      warningRows,\n      logRows,\n      summary: {\n        status: 'abgelehnt',\n        change_id: changeId\n      }\n    }\n  }];\n}\n\nif (!newMdb && ['REPLACE_PRODUCT_IN_SLOT', 'MOVE_PRODUCT', 'ADD_ADDITIONAL_SLOT'].includes(changeTypeInternal)) {\n  throw new Error('MDB-Code neu fehlt.');\n}\n\nif (!selectedProductKey && !['REMOVE_PRODUCT_FROM_SLOT', 'STOCK_CORRECTION'].includes(changeTypeInternal)) {\n  throw new Error('Kein Produkt ausgewählt.');\n}\n\nconst activeRows = products.filter(p =>\n  clean(p.machine_id) === machineId &&\n  isActive(p)\n);\n\nconst activeOnNew = activeRows.filter(p =>\n  mdbNorm(p.mdb_code) === newMdb\n);\n\nconst activeOnOld = oldMdb\n  ? activeRows.filter(p => mdbNorm(p.mdb_code) === oldMdb)\n  : [];\n\nconst activeSameProduct = activeRows.filter(p =>\n  clean(p.product_key) === selectedProductKey\n);\n\nconst exactActive = activeRows.filter(p =>\n  mdbNorm(p.mdb_code) === newMdb &&\n  clean(p.product_key) === selectedProductKey\n);\n\nconst baseRows = products.filter(p =>\n  clean(p.product_key) === selectedProductKey &&\n  !hasSlotData(p)\n);\n\nfunction close(row, reason) {\n  return {\n    product_slot_id: clean(row.product_slot_id),\n    product_key: clean(row.product_key),\n    machine_id: clean(row.machine_id || machineId),\n    mdb_code: mdbNorm(row.mdb_code),\n    active: 'FALSE',\n    valid_to_datetime: validFromUtc,\n    valid_to: validFromUtc,\n    last_change_id: changeId,\n    notes: [\n      clean(row.notes),\n      reason,\n      note\n    ].filter(Boolean).join(' | ')\n  };\n}\n\nfunction slotFields(product, mdb) {\n  return {\n    product_slot_id: psid(machineId, mdb, product.product_key, validFromUtc),\n    product_key: product.product_key,\n    machine_id: machineId,\n    mdb_code: mdbNorm(mdb),\n    nayax_product_name: first(product.nayax_product_name, product.internal_product_name),\n    internal_product_name: first(product.internal_product_name, product.nayax_product_name),\n    sale_price_eur: clean(product.sale_price_eur),\n    valid_from_datetime: validFromUtc,\n    valid_from: validFromUtc,\n    valid_to_datetime: '',\n    valid_to: '',\n    active: 'TRUE',\n    replenishment_status: 'aktiv',\n    min_stock: clean(form.Mindestbestand),\n    target_stock: clean(form.Zielbestand),\n    current_machine_qty: clean(form['Aktueller Maschinenbestand nach Änderung']),\n    machine_capacity: clean(form['Slot-Kapazität']),\n    stock_source: 'WF4_MDB_Produktwechsel',\n    last_change_id: changeId,\n    notes: note\n  };\n}\n\nfunction setSlot(product, mdb) {\n  if (exactActive.length) {\n    warning(\n      'WF4_SLOT_ALREADY_ACTIVE',\n      'info',\n      `Aktive Slotzeile existiert bereits fuer machine_id=${machineId}, mdb=${mdbNorm(mdb)}, product_key=${selectedProductKey}. Es wurde keine neue Produktzeile erzeugt.`\n    );\n    return;\n  }\n\n  if (baseRows.length > 1) {\n    warning(\n      'WF4_DUPLICATE_BASE_PRODUCT_ROWS',\n      'error',\n      `Mehrere slotlose WF2-Produktzeilen fuer product_key=${selectedProductKey} gefunden. Bitte zuerst bereinigen; WF4 erzeugt keine weitere Dublette.`\n    );\n    return;\n  }\n\n  const fields = slotFields(product, mdb);\n\n  if (baseRows.length === 1) {\n    baseRowUpdates.push(fields);\n  } else {\n    newRows.push(fields);\n  }\n}\n\n// 1. Produkt auf anderen MDB-Slot umziehen\nif (changeTypeInternal === 'MOVE_PRODUCT') {\n  const targetBlockers = activeOnNew.filter(r =>\n    clean(r.product_key) !== selectedProductKey\n  );\n\n  if (targetBlockers.length && !replaceTargetSlot) {\n    warning(\n      'WF4_TARGET_SLOT_OCCUPIED_NOT_REPLACED',\n      'error',\n      `MDB ${newMdb} ist bereits belegt mit ${targetBlockers.map(productName).join(', ')}. Zielslot ersetzen steht auf NEIN.`\n    );\n  } else {\n    // Zielslot freimachen, wenn dort ein anderes Produkt aktiv ist.\n    for (const r of targetBlockers) {\n      closeRows.push(close(\n        r,\n        `WF4: Zielslot MDB ${newMdb} wurde fuer ${selectedProductKey} freigemacht.`\n      ));\n    }\n\n    // Alte aktive Slots desselben Produkts schließen.\n    // Wenn oldMdb leer ist, alle Slots außer Ziel-MDB schließen.\n    const rowsToClose = oldMdb\n      ? activeSameProduct.filter(r => mdbNorm(r.mdb_code) === oldMdb)\n      : activeSameProduct.filter(r => mdbNorm(r.mdb_code) !== newMdb);\n\n    for (const r of rowsToClose) {\n      closeRows.push(close(\n        r,\n        'WF4: Produkt auf anderen MDB-Slot umgezogen.'\n      ));\n    }\n\n    setSlot(selected, newMdb);\n  }\n}\n\n// 2. Produkt im Slot austauschen\nif (changeTypeInternal === 'REPLACE_PRODUCT_IN_SLOT') {\n  const targetBlockers = activeOnNew.filter(r =>\n    clean(r.product_key) !== selectedProductKey\n  );\n\n  if (targetBlockers.length && !replaceTargetSlot) {\n    warning(\n      'WF4_TARGET_SLOT_OCCUPIED_NOT_REPLACED',\n      'error',\n      `MDB ${newMdb} ist bereits belegt mit ${targetBlockers.map(productName).join(', ')}. Zielslot ersetzen steht auf NEIN.`\n    );\n  } else {\n    for (const r of targetBlockers) {\n      closeRows.push(close(\n        r,\n        'WF4: Produkt im Slot ausgetauscht.'\n      ));\n    }\n\n    setSlot(selected, newMdb);\n  }\n}\n\n// 3. Produkt zusätzlich auf weiteren Slot legen\nif (changeTypeInternal === 'ADD_ADDITIONAL_SLOT') {\n  const blockers = activeOnNew.filter(r =>\n    clean(r.product_key) !== selectedProductKey\n  );\n\n  if (blockers.length) {\n    warning(\n      'WF4_TARGET_SLOT_OCCUPIED',\n      'error',\n      `MDB ${newMdb} ist bereits aktiv belegt. Fuer zusätzlichen Slot bitte anderen MDB-Code wählen oder Produkttausch verwenden.`\n    );\n  } else {\n    setSlot(selected, newMdb);\n  }\n}\n\n// 4. Produkt aus Slot entfernen\nif (changeTypeInternal === 'REMOVE_PRODUCT_FROM_SLOT') {\n  const rows = activeOnNew.length ? activeOnNew : activeOnOld;\n\n  for (const r of rows) {\n    closeRows.push(close(\n      r,\n      'WF4: Produkt aus Slot entfernt.'\n    ));\n  }\n}\n\n// 5. Nur Stammdaten korrigieren\nif (changeTypeInternal === 'CORRECT_METADATA') {\n  warning(\n    'WF4_METADATA_CORRECTION_NOT_AUTOMATED',\n    'warning',\n    'Nur Stammdaten korrigieren gewählt. Diese Version protokolliert nur.'\n  );\n}\n\n// 6. Bestand korrigieren ohne Produktwechsel\nif (changeTypeInternal === 'STOCK_CORRECTION') {\n  warning(\n    'WF4_STOCK_CORRECTION_REQUESTED',\n    'action_required',\n    'Bestand korrigieren ohne Produktwechsel gewählt. Bitte Bestandskorrekturworkflow verwenden.'\n  );\n}\n\n// Sicherheitsprüfung: Alte Zeilen ohne product_slot_id nicht automatisch schließen.\nfor (const r of closeRows) {\n  if (!clean(r.product_slot_id)) {\n    warning(\n      'MISSING_PRODUCT_SLOT_ID',\n      'error',\n      `Alte Produktzeile konnte nicht sicher geschlossen werden, weil product_slot_id fehlt. product_key=${r.product_key}, mdb=${r.mdb_code}`,\n      r.product_key\n    );\n  }\n}\n\nconst hasError = warningRows.some(w =>\n  clean(w.severity) === 'error'\n);\n\nif (hasError) {\n  newRows.length = 0;\n  baseRowUpdates.length = 0;\n}\n\nconst realChangesCount =\n  closeRows.length +\n  newRows.length +\n  baseRowUpdates.length;\n\nlet finalStatus = hasError ? 'mit_fehler' : 'verarbeitet';\nlet actionRequired = warningRows.length ? 'TRUE' : 'FALSE';\n\nif (\n  !hasError &&\n  realChangesCount === 0 &&\n  !['CORRECT_METADATA', 'STOCK_CORRECTION'].includes(changeTypeInternal)\n) {\n  finalStatus = 'aktion_erforderlich';\n  actionRequired = 'TRUE';\n\n  warning(\n    'WF4_NO_REAL_CHANGE_WRITTEN',\n    'action_required',\n    'WF4 hat keine echte Produkt-/Slotänderung geschrieben. Bitte Eingaben prüfen.'\n  );\n}\n\nlogRows.push({\n  change_id: changeId,\n  changed_at_utc: now,\n  source: prepared.source,\n  detected_reason: prepared.detected_reason,\n  machine_id: machineId,\n  old_mdb_code: oldMdb,\n  new_mdb_code: newMdb,\n  old_product_key: closeRows.map(r => r.product_key).join('; '),\n  old_product_name: closeRows.map(r => productName(r)).join('; '),\n  new_product_key: selectedProductKey,\n  new_product_name: selectedName,\n  change_type_de: changeTypeDe,\n  change_type_internal: changeTypeInternal,\n  valid_from_utc: validFromUtc,\n  status: finalStatus,\n  action_required: actionRequired,\n  notes: note\n});\n\nreturn [{\n  json: {\n    closeRows,\n    newRows,\n    baseRowUpdates,\n    warningRows,\n    logRows,\n    summary: {\n      status: finalStatus,\n      change_id: changeId,\n      close_rows: closeRows.length,\n      new_rows: newRows.length,\n      base_row_updates: baseRowUpdates.length,\n      warnings: warningRows.length\n    }\n  }\n}];"
        },
        "id": "68c79cac-aa89-44cc-bb32-b8d662961dda",
        "name": "Code - Entscheidung auswerten",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2352,
          672
        ]
      },
      {
        "parameters": {
          "jsCode": "return ($input.first().json.closeRows || []).filter(r => r.product_slot_id).map(r => ({ json: r }));"
        },
        "id": "9f528482-c3ca-4151-855b-805ca742dadb",
        "name": "Extract - Alte Produktzeilen schließen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2624,
          384
        ]
      },
      {
        "parameters": {
          "jsCode": "return ($input.first().json.newRows || []).map(r => ({ json: r }));"
        },
        "id": "3dd58f9b-8a25-484d-8b6c-f5b439ede958",
        "name": "Extract - Neue Produktzeilen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2624,
          592
        ]
      },
      {
        "parameters": {
          "jsCode": "return ($input.first().json.warningRows || []).map(r => ({ json: r }));"
        },
        "id": "3a9d3fc1-d36c-4f00-b69b-49ce7ca1206d",
        "name": "Extract - Hinweise",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2624,
          784
        ]
      },
      {
        "parameters": {
          "jsCode": "return ($input.first().json.logRows || []).map(r => ({ json: r }));"
        },
        "id": "4d58df4d-28b9-441d-a053-1090a82dff0e",
        "name": "Extract - Produktwechsel Log",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2624,
          992
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config - WF4').first().json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $('Config - WF4').first().json.sheet_produkte }}",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "product_slot_id": "={{ $json.product_slot_id }}",
              "active": "={{ $json.active }}",
              "valid_to_datetime": "={{ $json.valid_to_datetime }}",
              "valid_to": "={{ $json.valid_to }}",
              "last_change_id": "={{ $json.last_change_id }}",
              "notes": "={{ $json.notes }}"
            },
            "matchingColumns": [
              "product_slot_id"
            ],
            "schema": []
          },
          "options": {}
        },
        "id": "cc880d62-e825-44ff-8756-d5f038957bd9",
        "name": "Google Sheets - Alte Produktzeilen schließen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          2912,
          384
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "6GG86fWHw536Rk36",
            "name": "Google Sheets API"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config - WF4').first().json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $('Config - WF4').first().json.sheet_produkte }}",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [],
            "schema": [
              {
                "id": "product_key",
                "displayName": "product_key",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "machine_id",
                "displayName": "machine_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "mdb_code",
                "displayName": "mdb_code",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nayax_product_name",
                "displayName": "nayax_product_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "internal_product_name",
                "displayName": "internal_product_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "sale_price_eur",
                "displayName": "sale_price_eur",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "valid_from",
                "displayName": "valid_from",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "valid_to",
                "displayName": "valid_to",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "active",
                "displayName": "active",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "replenishment_status",
                "displayName": "replenishment_status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "min_stock",
                "displayName": "min_stock",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "target_stock",
                "displayName": "target_stock",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "current_machine_qty",
                "displayName": "current_machine_qty",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "machine_capacity",
                "displayName": "machine_capacity",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "stock_source",
                "displayName": "stock_source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "notes",
                "displayName": "notes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "product_slot_id",
                "displayName": "product_slot_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "valid_from_datetime",
                "displayName": "valid_from_datetime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "valid_to_datetime",
                "displayName": "valid_to_datetime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "last_change_id",
                "displayName": "last_change_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "6567ffa6-ef15-4c8a-99ca-93f9509f8911",
        "name": "Google Sheets - Neue Produktzeilen anlegen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          2912,
          592
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "6GG86fWHw536Rk36",
            "name": "Google Sheets API"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config - WF4').first().json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $('Config - WF4').first().json.sheet_hinweise }}",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "schema": []
          },
          "options": {}
        },
        "id": "f0bd7baa-28a5-4dfe-98b6-a587537bdef1",
        "name": "Google Sheets - Hinweise anhängen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          2912,
          784
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "6GG86fWHw536Rk36",
            "name": "Google Sheets API"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config - WF4').first().json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $('Config - WF4').first().json.sheet_produktwechsel_log }}",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [],
            "schema": [
              {
                "id": "changed_at",
                "displayName": "changed_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "machine_id",
                "displayName": "machine_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "mdb_code",
                "displayName": "mdb_code",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "old_product_key",
                "displayName": "old_product_key",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "old_product_name",
                "displayName": "old_product_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "new_product_key",
                "displayName": "new_product_key",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "new_product_name",
                "displayName": "new_product_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "reason",
                "displayName": "reason",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "action_required",
                "displayName": "action_required",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "894b50a9-90d4-4568-8add-5fbd8bea764f",
        "name": "Google Sheets - Produktwechsel_Log anhängen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          2912,
          992
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "6GG86fWHw536Rk36",
            "name": "Google Sheets API"
          }
        }
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "MDB-/Produktänderung verarbeitet",
          "completionMessage": "Die Änderung wurde verarbeitet oder als Log/Hinweis gespeichert. Bitte prüfe Produktwechsel_Log und Fehler_und_Hinweise.",
          "options": {}
        },
        "id": "e296565e-5eee-4235-b1b7-a73d17f26f4a",
        "name": "Form Ending - Abschluss",
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          3184,
          992
        ],
        "webhookId": "cb450536-9708-44ab-8867-699ae7393ac0"
      },
      {
        "parameters": {
          "jsCode": "return ($input.first().json.baseRowUpdates || []).map(r => ({ json: r }));"
        },
        "id": "636e5a42-2abf-41b2-9cba-d707132a68c1",
        "name": "Extract - Vorhandene Produktzeilen ergänzen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2624,
          176
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config - WF4').first().json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $('Config - WF4').first().json.sheet_produkte }}",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "product_key": "={{ $json.product_key }}",
              "product_slot_id": "={{ $json.product_slot_id }}",
              "machine_id": "={{ $json.machine_id }}",
              "mdb_code": "={{ $json.mdb_code }}",
              "active": "={{ $json.active }}",
              "valid_from_datetime": "={{ $json.valid_from_datetime }}",
              "valid_from": "={{ $json.valid_from }}",
              "valid_to_datetime": "={{ $json.valid_to_datetime }}",
              "valid_to": "={{ $json.valid_to }}",
              "current_machine_qty": "={{ $json.current_machine_qty }}",
              "machine_capacity": "={{ $json.machine_capacity }}",
              "target_stock": "={{ $json.target_stock }}",
              "min_stock": "={{ $json.min_stock }}",
              "stock_source": "={{ $json.stock_source }}",
              "last_change_id": "={{ $json.last_change_id }}",
              "notes": "={{ $json.notes }}"
            },
            "matchingColumns": [
              "product_key"
            ],
            "schema": []
          },
          "options": {}
        },
        "id": "1950eccb-ccad-4831-bf8f-bf4ed99f8ee1",
        "name": "Google Sheets - Vorhandene Produktzeilen ergänzen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          2912,
          176
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "6GG86fWHw536Rk36",
            "name": "Google Sheets API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const config = $('Config - WF4').first().json;\nconst products = $items('Google Sheets - Produkte lesen').map(i => i.json);\nconst aliases = $items('Google Sheets - Produkt_Aliase lesen').map(i => i.json);\n\nlet input = {};\ntry {\n  input = $('Form Trigger - Nayax Name eingeben').first().json;\n} catch (e) {\n  input = {};\n}\n\ntry {\n  const execInput = $('Execute Workflow Trigger - aus Verkaufsworkflow').first().json;\n  if (Object.keys(execInput || {}).length) input = execInput;\n} catch (e) {}\n\nfunction clean(v) {\n  return String(v ?? '')\n    .replace(/\\n/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction normalize(v) {\n  return clean(v)\n    .toLowerCase()\n    .replace(/&/g, 'und')\n    .replace(/\\+/g, 'plus')\n    .replace(/ä/g, 'ae')\n    .replace(/ö/g, 'oe')\n    .replace(/ü/g, 'ue')\n    .replace(/ß/g, 'ss')\n    .replace(/[^a-z0-9]/g, '');\n}\n\nfunction tokens(v) {\n  const n = normalize(v);\n  return [...new Set((n.match(/[a-z]+|[0-9]+/g) || []).filter(t => t.length >= 2))];\n}\n\nfunction parseNayaxName(raw) {\n  const text = clean(raw);\n\n  // Beispiel: \"Snickers Cream Peanut Butter(12 = 1.00)\"\n  const m = text.match(/^(.*?)\\s*\\((\\d+)\\s*=\\s*([0-9]+(?:[.,][0-9]+)?)\\)\\s*$/);\n\n  if (!m) {\n    return {\n      label: text,\n      mdb_code: '',\n      sale_price_eur: ''\n    };\n  }\n\n  return {\n    label: clean(m[1]),\n    mdb_code: clean(m[2]),\n    sale_price_eur: clean(m[3]).replace(',', '.')\n  };\n}\n\nfunction isActive(v) {\n  const value = clean(v).toUpperCase();\n  return value === 'TRUE' || value === 'AKTIV' || value === 'ACTIVE' || value === 'JA' || value === '1';\n}\n\nfunction hasSlotData(p) {\n  return clean(p.machine_id) || clean(p.mdb_code) || clean(p.product_slot_id);\n}\n\nfunction scoreProduct(product, queryLabel, parsedMdb, suggestedProductKey) {\n  const productKey = clean(product.product_key);\n  const internalName = clean(product.internal_product_name);\n  const nayaxName = clean(product.nayax_product_name);\n  const mdbCode = clean(product.mdb_code);\n  const machineId = clean(product.machine_id);\n\n  const queryNorm = normalize(queryLabel);\n  const productText = [\n    productKey,\n    internalName,\n    nayaxName,\n    mdbCode,\n    machineId\n  ].join(' ');\n\n  const productNorm = normalize(productText);\n\n  let score = 0;\n\n  if (suggestedProductKey && productKey === suggestedProductKey) score += 100;\n\n  if (queryNorm && normalize(nayaxName) === queryNorm) score += 95;\n  if (queryNorm && normalize(internalName) === queryNorm) score += 90;\n  if (queryNorm && normalize(productKey) === queryNorm) score += 90;\n\n  if (queryNorm && normalize(nayaxName).includes(queryNorm)) score += 70;\n  if (queryNorm && normalize(internalName).includes(queryNorm)) score += 65;\n  if (queryNorm && productNorm.includes(queryNorm)) score += 55;\n\n  const queryTokens = tokens(queryLabel);\n  const productTokens = tokens(productText);\n  const overlap = queryTokens.filter(t => productTokens.includes(t));\n\n  score += overlap.length * 12;\n\n  if (parsedMdb && mdbCode === parsedMdb) score += 15;\n  if (isActive(product.active)) score += 5;\n\n  return Math.min(score, 99);\n}\n\nfunction scoreAlias(alias, queryLabel) {\n  const aliasName = clean(alias.alias_name || alias.source_item || alias.invoice_item_example);\n  const q = normalize(queryLabel);\n  const a = normalize(aliasName);\n\n  if (!q || !a) return 0;\n  if (a === q) return 90;\n  if (a.includes(q) || q.includes(a)) return 70;\n\n  const qTokens = tokens(queryLabel);\n  const aTokens = tokens(aliasName);\n  const overlap = qTokens.filter(t => aTokens.includes(t));\n\n  return overlap.length * 15;\n}\n\nconst rawSearch = clean(\n  input['Nayax Produktname oder Suchbegriff'] ||\n  input.nayax_product_name ||\n  input.raw_product_name ||\n  input.product_name ||\n  input.search ||\n  ''\n);\n\nconst parsed = parseNayaxName(rawSearch);\n\nconst searchLabel = clean(\n  input.product_label ||\n  parsed.label ||\n  rawSearch\n);\n\nconst machineId = clean(input.machine_id || config.default_machine_id || '');\nconst suggestedProductKey = clean(input.product_key || input.suggested_product_key || '');\nconst expectedMdbCode = clean(input.expected_mdb_code || input.old_mdb_code || '');\nconst actualMdbCode = clean(input.actual_mdb_code || input.new_mdb_code || input.mdb_code || parsed.mdb_code || '');\nconst settlementDatetimeGmt = clean(input.settlement_datetime_gmt || input.sale_datetime_utc || '');\nconst detectedReason = clean(input.detected_reason || '');\nconst source = clean(input.source || 'manual_or_sales_workflow');\n\nif (!searchLabel && !suggestedProductKey) {\n  throw new Error('Kein Suchbegriff und kein product_key vorhanden.');\n}\n\n// Alias-Treffer vorbereiten\nconst aliasScores = aliases\n  .map(a => ({\n    alias: a,\n    score: scoreAlias(a, searchLabel),\n    product_key: clean(a.product_key)\n  }))\n  .filter(a => a.score > 0 && a.product_key);\n\nconst aliasBoostByProductKey = new Map();\n\nfor (const a of aliasScores) {\n  const current = aliasBoostByProductKey.get(a.product_key) || 0;\n  aliasBoostByProductKey.set(a.product_key, Math.max(current, a.score));\n}\n\n// Produkte ranken\nconst rankedRaw = products\n  .filter(p => clean(p.product_key))\n  .map(p => {\n    const productKey = clean(p.product_key);\n    let score = scoreProduct(p, searchLabel, actualMdbCode || expectedMdbCode || parsed.mdb_code, suggestedProductKey);\n\n    const aliasBoost = aliasBoostByProductKey.get(productKey) || 0;\n    if (aliasBoost) score += Math.min(aliasBoost, 80);\n\n    return {\n      product: p,\n      score: Math.min(score, 99)\n    };\n  })\n  .filter(x => x.score >= Number(config.min_candidate_score || 35))\n  .sort((a, b) => b.score - a.score);\n\n// Deduplizieren nach product_key.\n// Bei mehreren Zeilen desselben product_key bevorzugen:\n// 1. aktive Slotzeile\n// 2. Zeile mit Slotdaten\n// 3. höhere Score-Zeile\nconst byKey = new Map();\n\nfor (const item of rankedRaw) {\n  const key = clean(item.product.product_key);\n\n  if (!byKey.has(key)) {\n    byKey.set(key, item);\n    continue;\n  }\n\n  const current = byKey.get(key);\n\n  const itemActive = isActive(item.product.active);\n  const currentActive = isActive(current.product.active);\n\n  const itemHasSlot = hasSlotData(item.product);\n  const currentHasSlot = hasSlotData(current.product);\n\n  let replace = false;\n\n  if (itemActive && !currentActive) replace = true;\n  else if (itemActive === currentActive && itemHasSlot && !currentHasSlot) replace = true;\n  else if (\n    itemActive === currentActive &&\n    itemHasSlot === currentHasSlot &&\n    item.score > current.score\n  ) replace = true;\n\n  if (replace) byKey.set(key, item);\n}\n\nconst ranked = [...byKey.values()]\n  .sort((a, b) => b.score - a.score)\n  .slice(0, 5);\n\nif (!ranked.length) {\n  return [{\n    json: {\n      source,\n      detected_reason: detectedReason,\n      machine_id: machineId,\n      search_raw: rawSearch,\n      search_label: searchLabel,\n      parsed_mdb_code: parsed.mdb_code,\n      parsed_sale_price_eur: parsed.sale_price_eur,\n      expected_mdb_code: expectedMdbCode,\n      actual_mdb_code: actualMdbCode,\n      settlement_datetime_gmt: settlementDatetimeGmt,\n      candidates: [],\n      form_info: [\n        'Keine Produktkandidaten gefunden.',\n        '',\n        `Suchbegriff: ${searchLabel || rawSearch}`,\n        `Maschine: ${machineId || '(leer)'}`,\n        `MDB aus Nayax/ProductName: ${parsed.mdb_code || '(nicht erkannt)'}`,\n        '',\n        'Bitte Produkt zuerst über Rechnung/WF2 als Produktstamm anlegen oder Suchbegriff genauer eingeben.'\n      ].join('\\n')\n    }\n  }];\n}\n\nconst activeRows = products.filter(p =>\n  (!machineId || clean(p.machine_id) === machineId) &&\n  isActive(p.active)\n);\n\nconst candidates = ranked.map((x, idx) => {\n  const p = x.product;\n  const productKey = clean(p.product_key);\n\n  const activeSlots = activeRows\n    .filter(r => clean(r.product_key) === productKey)\n    .map(r => clean(r.mdb_code))\n    .filter(Boolean);\n\n  return {\n    number: String(idx + 1),\n    score: x.score,\n    product_key: productKey,\n    internal_product_name: clean(p.internal_product_name),\n    nayax_product_name: clean(p.nayax_product_name),\n    mdb_code: clean(p.mdb_code),\n    machine_id: clean(p.machine_id),\n    product_slot_id: clean(p.product_slot_id),\n    active: isActive(p.active) ? 'TRUE' : clean(p.active),\n    sale_price_eur: clean(p.sale_price_eur),\n    active_slots: [...new Set(activeSlots)].join(', ')\n  };\n});\n\nconst candidateText = candidates\n  .map(c => {\n    const name = clean(c.internal_product_name || c.nayax_product_name || '(ohne Name)');\n    const activeSlots = c.active_slots ? ` | aktive Slots: ${c.active_slots}` : ' | keine aktiven Slots erkannt';\n    const mdb = c.mdb_code ? ` | Zeilen-MDB: ${c.mdb_code}` : '';\n    return `${c.number} = ${c.product_key} | ${name}${mdb}${activeSlots} | Treffer ${c.score}%`;\n  })\n  .join('\\n');\n\nconst formInfo = [\n  'Produktkandidaten',\n  '',\n  `Suchbegriff: ${searchLabel || rawSearch}`,\n  `Maschine: ${machineId || '(leer)'}`,\n  `MDB aus Nayax/ProductName: ${parsed.mdb_code || '(nicht erkannt)'}`,\n  `Preis aus Nayax/ProductName: ${parsed.sale_price_eur || '(nicht erkannt)'}`,\n  '',\n  'Bitte bestätige im nächsten Formular zuerst das richtige Produkt.',\n  '',\n  candidateText,\n  '',\n  'Auswahl-Regeln:',\n  '1, 2, 3, 4 oder 5 = Produkt auswählen',\n  'ABLEHNEN = Vorgang abbrechen'\n].join('\\n');\n\nreturn [{\n  json: {\n    source,\n    detected_reason: detectedReason,\n    machine_id: machineId,\n    search_raw: rawSearch,\n    search_label: searchLabel,\n    parsed_mdb_code: parsed.mdb_code,\n    parsed_sale_price_eur: parsed.sale_price_eur,\n    expected_mdb_code: expectedMdbCode,\n    actual_mdb_code: actualMdbCode,\n    settlement_datetime_gmt: settlementDatetimeGmt,\n    candidates,\n    form_info: formInfo\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1088,
          672
        ],
        "id": "9056facf-0870-4521-b11c-1869745e064f",
        "name": "Produktkandidaten vorbereiten"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldLabel": "Produktvorschläge",
                "fieldType": "textarea",
                "defaultValue": "=Default Value {{ $json.form_info }}"
              },
              {
                "fieldLabel": "Produktwahl",
                "defaultValue": "1",
                "requiredField": true
              },
              {
                "fieldLabel": "Änderungsart",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Produkt im Slot austauschen"
                    },
                    {
                      "option": "Produkt auf anderen MDB-Slot umziehen"
                    },
                    {
                      "option": "Produkt zusätzlich auf weiteren Slot legen"
                    },
                    {
                      "option": "Produkt aus Slot entfernen"
                    },
                    {
                      "option": "Nur Stammdaten korrigieren"
                    },
                    {
                      "option": "Bestand korrigieren ohne Produktwechsel"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.5,
        "position": [
          1296,
          672
        ],
        "id": "afe3befd-dfb3-4cba-a7eb-bc77bae67577",
        "name": "Produkt und Änderungsart wählen",
        "webhookId": "a86175a7-1ae5-47ee-95c2-c14ec85d29b3"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldLabel": "Änderungsvorschau",
                "fieldType": "textarea",
                "defaultValue": "={{ $json.final_info }}"
              },
              {
                "fieldLabel": "Freigabe",
                "fieldType": "dropdown",
                "defaultValue": "JA",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "JA"
                    },
                    {
                      "option": "ABBRECHEN"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "Zielslot ersetzen",
                "fieldType": "dropdown",
                "defaultValue": "JA",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "JA"
                    },
                    {
                      "option": "NEIN"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "MDB-Code alt",
                "defaultValue": "={{ $json.expected_mdb_code }}"
              },
              {
                "fieldLabel": "MDB-Code neu",
                "defaultValue": "={{ $json.actual_mdb_code }}"
              },
              {
                "fieldLabel": "Gültig ab",
                "defaultValue": "={{ $json.default_valid_from_utc }}",
                "requiredField": true
              },
              {
                "fieldLabel": "Aktueller Maschinenbestand nach Änderung",
                "fieldType": "number",
                "defaultValue": "={{ $json.default_current_machine_qty }}"
              },
              {
                "fieldLabel": "Slot-Kapazität",
                "fieldType": "number",
                "defaultValue": "={{ $json.default_machine_capacity }}"
              },
              {
                "fieldLabel": "Zielbestand",
                "defaultValue": "={{ $json.default_target_stock }}"
              },
              {
                "fieldLabel": "Mindestbestand",
                "defaultValue": "={{ $json.default_min_stock }}"
              },
              {
                "fieldLabel": "Notiz",
                "fieldType": "textarea"
              }
            ]
          },
          "options": {
            "buttonLabel": "Änderung verarbeiten"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.5,
        "position": [
          1936,
          672
        ],
        "id": "5f8c534d-d6dc-4fb8-9d4d-5c4411ba5dfa",
        "name": "MDB Änderung final prüfen",
        "webhookId": "18f9994b-071a-403c-ae8a-48a565f3e20a"
      },
      {
        "parameters": {
          "jsCode": "const prepared = $('Produktkandidaten vorbereiten').first().json;\nconst form = $('Produkt und Änderungsart wählen').first().json;\n\nconst products = $items('Google Sheets - Produkte lesen').map(i => i.json);\n\nfunction clean(v) {\n  return String(v ?? '')\n    .replace(/\\n/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction normalize(v) {\n  return clean(v)\n    .toLowerCase()\n    .replace(/ä/g, 'ae')\n    .replace(/ö/g, 'oe')\n    .replace(/ü/g, 'ue')\n    .replace(/ß/g, 'ss');\n}\n\nfunction isActive(v) {\n  const val = clean(v).toUpperCase();\n  return val === 'TRUE'\n    || val === 'AKTIV'\n    || val === 'ACTIVE'\n    || val === 'JA'\n    || val === '1';\n}\n\nconst selectionRaw = clean(form['Produktwahl']);\nconst selection = normalize(selectionRaw);\n\nif (selection === 'ablehnen') {\n  return [{\n    json: {\n      status: 'abgelehnt',\n      aborted: true,\n      message: 'Benutzer hat den Vorgang abgelehnt.'\n    }\n  }];\n}\n\nconst selectedCandidate = (prepared.candidates || []).find(c =>\n  clean(c.number) === selectionRaw\n);\n\nif (!selectedCandidate) {\n  throw new Error(`Keine gültige Produktwahl gefunden: ${selectionRaw}`);\n}\n\nconst changeTypeDe = clean(form['Änderungsart']);\n\nconst changeTypeMap = {\n  [normalize('Produkt im Slot austauschen')]: 'REPLACE_PRODUCT_IN_SLOT',\n  [normalize('Produkt auf anderen MDB-Slot umziehen')]: 'MOVE_PRODUCT',\n  [normalize('Produkt zusätzlich auf weiteren Slot legen')]: 'ADD_ADDITIONAL_SLOT',\n  [normalize('Produkt zusaetzlich auf weiteren Slot legen')]: 'ADD_ADDITIONAL_SLOT',\n  [normalize('Produkt aus Slot entfernen')]: 'REMOVE_PRODUCT_FROM_SLOT',\n  [normalize('Nur Stammdaten korrigieren')]: 'CORRECT_METADATA',\n  [normalize('Bestand korrigieren ohne Produktwechsel')]: 'STOCK_CORRECTION'\n};\n\nconst changeTypeInternal =\n  changeTypeMap[normalize(changeTypeDe)] || 'UNKNOWN';\n\nconst machineId = clean(prepared.machine_id);\n\nconst selectedProductKey = clean(selectedCandidate.product_key);\n\nconst activeRows = products.filter(p =>\n  clean(p.machine_id) === machineId &&\n  isActive(p.active)\n);\n\nconst activeSameProduct = activeRows.filter(p =>\n  clean(p.product_key) === selectedProductKey\n);\n\nconst expectedMdbCode =\n  clean(prepared.expected_mdb_code) ||\n  (\n    activeSameProduct.length === 1\n      ? clean(activeSameProduct[0].mdb_code)\n      : ''\n  );\n\nconst actualMdbCode =\n  clean(prepared.actual_mdb_code) ||\n  clean(prepared.parsed_mdb_code);\n\nconst activeOnTargetMdb = actualMdbCode\n  ? activeRows.filter(p =>\n      clean(p.mdb_code) === actualMdbCode\n    )\n  : [];\n\nconst activeSlotsText = activeSameProduct.length\n  ? activeSameProduct.map(p =>\n      `MDB ${clean(p.mdb_code)} | ${clean(p.internal_product_name || p.nayax_product_name)}`\n    ).join('\\n')\n  : 'Keine aktiven Slots gefunden.';\n\nconst targetSlotText = activeOnTargetMdb.length\n  ? activeOnTargetMdb.map(p =>\n      `MDB ${actualMdbCode} aktuell belegt mit: ${clean(p.product_key)} | ${clean(p.internal_product_name || p.nayax_product_name)}`\n    ).join('\\n')\n  : actualMdbCode\n    ? `MDB ${actualMdbCode} ist aktuell frei oder nicht aktiv hinterlegt.`\n    : 'Kein Ziel-MDB erkannt.';\n\nconst finalInfo = [\n  'Änderung prüfen',\n  '',\n  `Produkt: ${selectedProductKey}`,\n  `Name: ${clean(selectedCandidate.internal_product_name || selectedCandidate.nayax_product_name)}`,\n  '',\n  `Änderungsart: ${changeTypeDe}`,\n  '',\n  `Maschine: ${machineId}`,\n  `Erwarteter alter MDB: ${expectedMdbCode || '(nicht erkannt)'}`,\n  `Neuer/Ziel MDB: ${actualMdbCode || '(nicht erkannt)'}`,\n  '',\n  'Aktive Slots dieses Produkts:',\n  activeSlotsText,\n  '',\n  'Zielslot-Prüfung:',\n  targetSlotText,\n  '',\n  'Bitte im nächsten Formular bestätigen und Werte prüfen.'\n].join('\\n');\n\nreturn [{\n  json: {\n    source: prepared.source,\n    detected_reason: prepared.detected_reason,\n\n    machine_id: machineId,\n\n    search_raw: prepared.search_raw,\n    search_label: prepared.search_label,\n\n    selected_product_key: selectedProductKey,\n    selected_internal_product_name: clean(selectedCandidate.internal_product_name),\n    selected_nayax_product_name: clean(selectedCandidate.nayax_product_name),\n\n    change_type_de: changeTypeDe,\n    change_type_internal: changeTypeInternal,\n\n    expected_mdb_code: expectedMdbCode,\n    actual_mdb_code: actualMdbCode,\n\n    active_same_product: activeSameProduct,\n    active_on_target_mdb: activeOnTargetMdb,\n\n    parsed_sale_price_eur: prepared.parsed_sale_price_eur,\n\n    settlement_datetime_gmt: prepared.settlement_datetime_gmt,\n\n    final_info: finalInfo,\n\n    default_valid_from_utc:\n      prepared.settlement_datetime_gmt ||\n      new Date().toISOString(),\n\n    default_current_machine_qty:\n      activeOnTargetMdb[0]?.current_machine_qty || '',\n\n    default_machine_capacity:\n      activeOnTargetMdb[0]?.machine_capacity || '',\n\n    default_target_stock:\n      activeOnTargetMdb[0]?.target_stock || '',\n\n    default_min_stock:\n      activeOnTargetMdb[0]?.min_stock || ''\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1504,
          672
        ],
        "id": "7752bd8e-10a4-4b2c-80ae-2fd219145984",
        "name": "Änderungsart vorbereiten"
      },
      {
        "parameters": {
          "path": "38a53091-4cd0-4a4b-96cb-afb79b511066",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          80,
          992
        ],
        "id": "97368bdc-5bfb-4813-94a1-b6d07a658a4e",
        "name": "Webhook",
        "webhookId": "38a53091-4cd0-4a4b-96cb-afb79b511066"
      }
    ],
    "connections": {
      "Form Trigger - Nayax Name eingeben": {
        "main": [
          [
            {
              "node": "Config - WF4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger - aus Verkaufsworkflow": {
        "main": [
          [
            {
              "node": "Config - WF4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config - WF4": {
        "main": [
          [
            {
              "node": "Google Sheets - Produkte lesen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets - Produkte lesen": {
        "main": [
          [
            {
              "node": "Google Sheets - Produkt_Aliase lesen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets - Produkt_Aliase lesen": {
        "main": [
          [
            {
              "node": "Produktkandidaten vorbereiten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Entscheidung auswerten": {
        "main": [
          [
            {
              "node": "Extract - Alte Produktzeilen schließen",
              "type": "main",
              "index": 0
            },
            {
              "node": "Extract - Vorhandene Produktzeilen ergänzen",
              "type": "main",
              "index": 0
            },
            {
              "node": "Extract - Neue Produktzeilen",
              "type": "main",
              "index": 0
            },
            {
              "node": "Extract - Hinweise",
              "type": "main",
              "index": 0
            },
            {
              "node": "Extract - Produktwechsel Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract - Alte Produktzeilen schließen": {
        "main": [
          [
            {
              "node": "Google Sheets - Alte Produktzeilen schließen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract - Neue Produktzeilen": {
        "main": [
          [
            {
              "node": "Google Sheets - Neue Produktzeilen anlegen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract - Hinweise": {
        "main": [
          [
            {
              "node": "Google Sheets - Hinweise anhängen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract - Produktwechsel Log": {
        "main": [
          [
            {
              "node": "Google Sheets - Produktwechsel_Log anhängen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets - Produktwechsel_Log anhängen": {
        "main": [
          [
            {
              "node": "Form Ending - Abschluss",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract - Vorhandene Produktzeilen ergänzen": {
        "main": [
          [
            {
              "node": "Google Sheets - Vorhandene Produktzeilen ergänzen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Produktkandidaten vorbereiten": {
        "main": [
          [
            {
              "node": "Produkt und Änderungsart wählen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Produkt und Änderungsart wählen": {
        "main": [
          [
            {
              "node": "Änderungsart vorbereiten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MDB Änderung final prüfen": {
        "main": [
          [
            {
              "node": "Code - Entscheidung auswerten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Änderungsart vorbereiten": {
        "main": [
          [
            {
              "node": "MDB Änderung final prüfen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Config - WF4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Patrick Matthes",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-22T04:48:03.993Z",
        "id": 11,
        "workflowId": "lJHQNrestWqc9Brj",
        "versionId": "6141647a-86f0-428c-bda9-17b09e1f1c0d",
        "event": "activated",
        "userId": "dd26b63a-7133-4afa-995a-0d7d72693aee"
      }
    ]
  }
}
