WF7 - Nachfuellung melden.json
{
  "name": "WF7 - Nachfuellung melden (Slot-Update ohne Verkauf)",
  "active": true,
  "nodes": [
    {
      "id": "e6b79733-0181-481d-be02-0ad0a7d472f2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "nachfuellung",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "488ccf39-576c-4998-97e7-367fc9a41197"
    },
    {
      "id": "99886f43-aa89-4a7d-b574-64ed13e8931f",
      "name": "Config - WF6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "gsid",
              "name": "google_sheet_id",
              "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "f7c434f4-0f4a-4072-bd8a-7e0dd62499a2",
      "name": "Google Sheets - Produkte lesen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        -120
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.product_key AS product_key, p.name AS internal_product_name,\n       COALESCE(na.alias,'') AS nayax_product_name,\n       COALESCE(sa.mdb_code::text,'') AS mdb_code,\n       m.machine_key AS machine_id,\n       CASE WHEN sa.active THEN 'TRUE' ELSE 'FALSE' END AS active,\n       sa.product_slot_key AS product_slot_id,\n       COALESCE(pr.sale_price_gross::text,'') AS sale_price_eur,\n       COALESCE(sa.current_machine_qty::text,'') AS current_machine_qty,\n       COALESCE(sa.machine_capacity::text,'') AS machine_capacity,\n       COALESCE(sa.target_stock::text,'') AS target_stock,\n       p.category AS produktart,\n       COALESCE(p.vat_rate_pct::text,'') AS mwst_satz,\n       COALESCE(sa.notes,'') AS notes\nFROM automatenlager.slot_assignments sa\nJOIN automatenlager.products p ON p.product_id = sa.product_id\nJOIN automatenlager.machines m ON m.machine_id = sa.machine_id\nLEFT JOIN LATERAL (SELECT pa.alias FROM automatenlager.product_aliases pa WHERE pa.product_id=p.product_id AND pa.source='nayax' AND pa.is_primary=TRUE ORDER BY pa.alias LIMIT 1) na ON TRUE\nLEFT JOIN LATERAL (SELECT pc.sale_price_gross FROM automatenlager.prices pc WHERE pc.slot_assignment_id=sa.slot_assignment_id AND pc.valid_to IS NULL ORDER BY pc.valid_from DESC LIMIT 1) pr ON TRUE\nORDER BY m.machine_key, sa.mdb_code, sa.active DESC",
        "options": {}
      }
    },
    {
      "id": "98d18876-3ed2-4032-9334-18d0774156b4",
      "name": "Google Sheets - Hinweise lesen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT w.warning_key,\n       w.warning_type AS type,\n       w.severity,\n       w.message,\n       to_char(w.created_at AT TIME ZONE 'UTC','YYYY-MM-DD\"T\"HH24:MI:SS') || 'Z' AS created_at,\n       CASE WHEN w.resolved THEN 'TRUE' ELSE 'FALSE' END AS resolved,\n       COALESCE(to_char(w.resolved_at,'YYYY-MM-DD\"T\"HH24:MI:SS') || 'Z','') AS resolved_at,\n       COALESCE(w.mdb_code::text,'') AS mdb_code,\n       COALESCE(p.product_key,'') AS product_key,\n       COALESCE(m.machine_key,'') AS machine_id\nFROM automatenlager.warnings w\nLEFT JOIN automatenlager.products p ON p.product_id = w.product_id\nLEFT JOIN automatenlager.machines m ON m.machine_id = w.machine_id\nORDER BY w.created_at DESC\nLIMIT 500",
        "options": {}
      }
    },
    {
      "id": "3e3e3d3a-66bb-4e8c-8322-8bb02bf4143f",
      "name": "Merge - Produkte + Hinweise",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        660,
        0
      ],
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      }
    },
    {
      "id": "2cf34e52-6e79-4a4e-8f9b-773de13a3229",
      "name": "Code - Nachfuellung verarbeiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "parameters": {
        "jsCode": "\n// WF6 Nachfüllung: Verarbeite Webhook-Parameter und bereite Updates vor.\n// Input: Query-Parameter aus dem Webhook (product_key, qty, notes)\nconst wh = $('Webhook').first()?.json?.query || {};\nconst productKey = String(wh.product_key || '').trim();\nconst notesIn    = String(wh.notes || '').trim();\nconst qtyIn      = wh.qty !== undefined ? Number(wh.qty) : null;\n\nif (!productKey) {\n  throw new Error('Fehlender Parameter: product_key ist Pflicht.');\n}\n\nfunction clean(v) { return String(v ?? '').replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim(); }\nfunction isActive(v) {\n  return ['TRUE','1','JA','YES','AKTIV','ACTIVE'].includes(clean(v).toUpperCase());\n}\nfunction num(v) {\n  const n = Number(String(v ?? '').replace(',', '.'));\n  return Number.isFinite(n) ? n : null;\n}\n\n// Produkte-Zeilen für diesen product_key\nconst allProdukte   = $('Google Sheets - Produkte lesen').all().map(i => i.json);\nconst allHinweise   = $('Google Sheets - Hinweise lesen').all().map(i => i.json);\nconst matchedSlots  = allProdukte.filter(p =>\n  clean(p.product_key) === productKey && isActive(p.active)\n);\n\nif (!matchedSlots.length) {\n  throw new Error('Kein aktiver Slot für product_key: ' + productKey);\n}\n\nconst now = new Date().toISOString();\nconst productName = clean(\n  matchedSlots[0].internal_product_name ||\n  matchedSlots[0].nayax_product_name ||\n  productKey\n);\n\n// Slot-Updates bauen\nconst slotUpdates = matchedSlots.map(p => {\n  const capacity = num(p.machine_capacity) || 0;\n  const newQty = qtyIn !== null ? Math.min(qtyIn, capacity) : capacity;\n  return {\n    product_slot_id: clean(p.product_slot_id),\n    current_machine_qty: newQty,\n    last_stock_update_source: 'WF6_NACHFUELLUNG',\n    last_stock_update_at: now\n  };\n});\n\n// Hinweise die aufgelöst werden sollen\nconst resolvableTypes = ['EMPTY_BATCH', 'LOW_STOCK', 'INSUFFICIENT_BATCH_STOCK', 'LOW_BATCH'];\nconst toResolve = allHinweise.filter(h => {\n  const resolved = clean(h.resolved).toUpperCase();\n  if (['TRUE','JA','YES','1','ERLEDIGT','RESOLVED'].includes(resolved)) return false;\n  return clean(h.product_key) === productKey && resolvableTypes.includes(clean(h.type));\n}).map(h => ({ created_at: clean(h.created_at), resolved: 'TRUE' }));\n\n// Audit-Eintrag\nconst auditEntry = {\n  created_at: now,\n  type: 'NACHFUELLUNG',\n  severity: 'info',\n  machine_id: clean(matchedSlots[0].machine_id || '457107528'),\n  product_key: productKey,\n  nayax_product_name: productName,\n  message: 'Nachfüllung erfasst für ' + productName +\n           '. Slots aktualisiert: ' + slotUpdates.map(s => s.product_slot_id + '=' + s.current_machine_qty).join(', ') +\n           (notesIn ? '. Bemerkung: ' + notesIn : ''),\n  resolved: 'TRUE'\n};\n\nreturn [{\n  json: {\n    ok: true,\n    productKey,\n    productName,\n    slotUpdates,\n    toResolve,\n    auditEntry,\n    summary: {\n      slots_updated: slotUpdates.length,\n      hints_resolved: toResolve.length\n    }\n  }\n}];\n"
      }
    },
    {
      "id": "740e1196-99e0-401a-a037-289fd64f7b0c",
      "name": "Extract - Slot Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -120
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst updates = d.slotUpdates || [];\nif (!updates.length) return [];\nreturn updates.map(u => ({ json: u }));"
      }
    },
    {
      "id": "6b40bc27-d78a-4201-b719-5aace1b5cbaf",
      "name": "Extract - Hinweise auflösen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst hints = d.toResolve || [];\nif (!hints.length) return [];\nreturn hints.map(h => ({ json: h }));"
      }
    },
    {
      "id": "2468d652-b333-4133-9955-e75d2931a248",
      "name": "Extract - Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        120
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: d.auditEntry }];"
      }
    },
    {
      "id": "cbaeecf4-6b59-4646-b2b3-6cf31def7f98",
      "name": "Google Sheets - Slot aktualisieren",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1320,
        -120
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE automatenlager.slot_assignments\nSET current_machine_qty = {{ $json.current_machine_qty }}\nWHERE product_slot_key = '{{ $json.product_slot_id }}'\nRETURNING product_slot_key, current_machine_qty",
        "options": {}
      }
    },
    {
      "id": "86e7954b-bfc4-43cc-8587-0e064049b3f1",
      "name": "Google Sheets - Hinweise auflösen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1320,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE automatenlager.warnings\nSET resolved = TRUE, resolved_at = NOW()\nWHERE to_char(created_at AT TIME ZONE 'UTC','YYYY-MM-DD\"T\"HH24:MI:SS') || 'Z' = '{{ $json.created_at }}'",
        "options": {}
      }
    },
    {
      "id": "0f08710d-6f4d-495c-a775-b9cd5f316579",
      "name": "Google Sheets - Audit anhängen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1320,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO automatenlager.warnings (\n  warning_key, warning_type, severity, message,\n  product_id, machine_id, resolved, resolved_at, created_at\n)\nVALUES (\n  '{{ $json.type }}_{{ $json.product_key }}_' || to_char(NOW() AT TIME ZONE 'UTC','YYYYMMDD_HH24MISS_US'),\n  '{{ $json.type }}',\n  'info',\n  '{{ $json.message }}',\n  (SELECT product_id FROM automatenlager.products WHERE product_key='{{ $json.product_key }}' LIMIT 1),\n  (SELECT machine_id FROM automatenlager.machines WHERE machine_key='{{ $json.machine_id }}' LIMIT 1),\n  TRUE,\n  NOW(),\n  NOW()\n)\nON CONFLICT (warning_key) DO NOTHING\nRETURNING warning_key",
        "options": {}
      },
      "disabled": false
    },
    {
      "id": "08ae5cf4-e701-476a-8c2f-2b7d34d992d7",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Code - Nachfuellung verarbeiten').first().json) }}"
      }
    },
    {
      "id": "issue20-wf7-lagerchargen-lesen",
      "name": "Google Sheets - Lagerchargen lesen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sb.batch_key AS batch_id, p.product_key AS product_key, p.name AS product_name,\n       'aktiv' AS status,\n       COALESCE(to_char(sb.mhd_date,'YYYY-MM-DD'),'') AS mhd,\n       sb.remaining_qty::text AS remaining_qty,\n       COALESCE(sb.unit_cost_net::text,'') AS unit_cost,\n       COALESCE(p.vat_rate_pct::text,'') AS mwst_satz\nFROM automatenlager.stock_batches sb\nJOIN automatenlager.products p ON p.product_id = sb.product_id\nWHERE sb.status IN ('aktiv','active','reserve')\nORDER BY p.name, sb.mhd_date ASC NULLS LAST",
        "options": {}
      }
    },
    {
      "id": "issue20-merge-wf7-pgw-daten",
      "name": "Merge - WF7 PGW Daten",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        900,
        220
      ],
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      }
    },
    {
      "id": "issue20-prepare-pgw-wf7-refill-movement",
      "name": "Prepare PGW - WF7 Refill Movement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        220
      ],
      "parameters": {
        "jsCode": "const result = $(\"Code - Nachfuellung verarbeiten\").first().json;\nconst products = $(\"Google Sheets - Produkte lesen\").all().map((item) => item.json);\nconst batches = $(\"Google Sheets - Lagerchargen lesen\").all().map((item) => item.json);\nconst batchRunId = \"wf7_\" + new Date().toISOString().slice(0, 10);\n\nfunction clean(value) {\n  return String(value ?? \"\").replace(/\\n/g, \" \").replace(/\\s+/g, \" \").trim();\n}\n\nfunction num(value) {\n  const n = Number(String(value ?? \"\").replace(\",\", \".\"));\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction isActive(value) {\n  return [\"TRUE\", \"1\", \"JA\", \"YES\", \"AKTIV\", \"ACTIVE\", \"\"].includes(clean(value).toUpperCase());\n}\n\nfunction sanitize(value) {\n  return clean(value).toUpperCase().replace(/[^A-Z0-9]+/g, \"_\").replace(/^_+|_+$/g, \"\");\n}\n\nfunction batchFor(productKey) {\n  return batches\n    .filter((batch) => clean(batch.product_key) === productKey)\n    .filter((batch) => isActive(batch.status))\n    .filter((batch) => (num(batch.remaining_qty) ?? 0) > 0)\n    .sort((a, b) => clean(a.mhd).localeCompare(clean(b.mhd)) || clean(a.batch_id).localeCompare(clean(b.batch_id)))[0];\n}\n\nreturn (result.slotUpdates || []).flatMap((update) => {\n  const slot = products.find((product) => clean(product.product_slot_id) === clean(update.product_slot_id));\n  if (!slot) return [];\n  const delta = (num(update.current_machine_qty) ?? 0) - (num(slot.current_machine_qty) ?? 0);\n  if (delta <= 0) return [];\n  const batch = batchFor(clean(slot.product_key));\n  if (!batch) return [];\n  const movementKey = [\"MOV\", \"REFILL\", update.product_slot_id, batch.batch_id, new Date().toISOString().slice(0, 10), delta].map(sanitize).join(\"_\");\n  return [{\n    json: {\n      event_type: \"stock_movement\",\n      batch_run_id: batchRunId,\n      data: {\n        movement_key: movementKey,\n        batch_key: clean(batch.batch_id),\n        product_slot_key: clean(update.product_slot_id),\n        movement_type: \"refill\",\n        quantity_delta_total: 0,\n        quantity_delta_slot: delta,\n        reason: clean(result.auditEntry?.message || \"Nachfuellung erfasst\"),\n        source: \"wf7_nachfuellung\",\n        occurred_at: clean(update.last_stock_update_at) || new Date().toISOString(),\n      },\n    },\n  }];\n});"
      }
    },
    {
      "id": "issue20-wf-pgw-wf7",
      "name": "WF-PGW - WF7",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 2,
      "position": [
        1380,
        220
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Sajezv8tJll0CLIv",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config - WF6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config - WF6": {
      "main": [
        [
          {
            "node": "Google Sheets - Produkte lesen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Hinweise lesen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Lagerchargen lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Produkte lesen": {
      "main": [
        [
          {
            "node": "Merge - Produkte + Hinweise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Hinweise lesen": {
      "main": [
        [
          {
            "node": "Merge - Produkte + Hinweise",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Produkte + Hinweise": {
      "main": [
        [
          {
            "node": "Code - Nachfuellung verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Nachfuellung verarbeiten": {
      "main": [
        [
          {
            "node": "Extract - Slot Updates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract - Hinweise auflösen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract - Audit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge - WF7 PGW Daten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Slot Updates": {
      "main": [
        [
          {
            "node": "Google Sheets - Slot aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Hinweise auflösen": {
      "main": [
        [
          {
            "node": "Google Sheets - Hinweise auflösen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Audit": {
      "main": [
        [
          {
            "node": "Google Sheets - Audit anhängen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Slot aktualisieren": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Lagerchargen lesen": {
      "main": [
        [
          {
            "node": "Merge - WF7 PGW Daten",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - WF7 PGW Daten": {
      "main": [
        [
          {
            "node": "Prepare PGW - WF7 Refill Movement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PGW - WF7 Refill Movement": {
      "main": [
        [
          {
            "node": "WF-PGW - WF7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": null,
  "tags": []
}