WF8 - GuV Tagesposten Aggregator.json
{
  "name": "WF8 - GuV Tagesposten Aggregator",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "35b5c4db-6f49-4ae0-b203-00872b1364c9",
      "name": "Cron - Taeglich 02:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  st.nayax_transaction_id AS transaction_id,\n  to_char(st.settlement_at AT TIME ZONE 'Europe/Berlin','YYYY-MM-DD') AS sale_date,\n  to_char(st.settlement_at,'YYYY-MM-DD\"T\"HH24:MI:SS') || 'Z' AS settlement_datetime_gmt,\n  m.machine_key AS machine_id,\n  COALESCE(p.product_key,'') AS product_key,\n  COALESCE(st.mdb_code::text,'') AS mdb_code_extracted,\n  COALESCE(st.mdb_code::text,'') AS mdb_code,\n  st.quantity,\n  st.gross_amount AS umsatz_brutto,\n  COALESCE(pr.sale_price_gross::text,'') AS vk_preis_brutto,\n  COALESCE(st.processing_status,'OK') AS status,\n  COALESCE(st.product_name_raw,'') AS nayax_product_name,\n  COALESCE(st.product_name_raw,'') AS product_name,\n  COALESCE(sa.product_slot_key,'') AS product_slot_id,\n  COALESCE(ek.batch_key,'') AS batch_id_abgebucht\nFROM automatenlager.sales_transactions st\nJOIN automatenlager.machines m ON m.machine_id = st.machine_id\nLEFT JOIN automatenlager.products p ON p.product_id = st.product_id\nLEFT JOIN automatenlager.slot_assignments sa ON sa.slot_assignment_id = st.slot_assignment_id\nLEFT JOIN LATERAL (\n  SELECT pc2.sale_price_gross FROM automatenlager.prices pc2\n  WHERE pc2.slot_assignment_id = st.slot_assignment_id AND pc2.valid_to IS NULL\n  ORDER BY pc2.valid_from DESC LIMIT 1\n) pr ON TRUE\nLEFT JOIN LATERAL (\n  SELECT sb.batch_key FROM automatenlager.stock_batches sb\n  WHERE sb.product_id = st.product_id\n    AND sb.received_at <= st.settlement_at::date\n    AND sb.status IN ('aktiv','active','reserve','leer')\n  ORDER BY sb.received_at ASC, sb.batch_id ASC LIMIT 1\n) ek ON TRUE\nWHERE st.settlement_at > NOW() - INTERVAL '120 days'\nORDER BY st.settlement_at ASC",
        "options": {}
      },
      "id": "f1e26403-8991-4d95-8f19-c580044fb151",
      "name": "Read - Verarbeitete_Transaktionen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        224,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sb.batch_key AS batch_id, p.product_key AS product_key, p.name AS product_name,\n       'aktiv' AS status,\n       COALESCE(to_char(sb.mhd_date,'YYYY-MM-DD'),'') AS mhd,\n       sb.remaining_qty::text AS remaining_qty,\n       COALESCE(sb.unit_cost_net::text,'') AS unit_cost,\n       COALESCE(p.vat_rate_pct::text,'') AS mwst_satz\nFROM automatenlager.stock_batches sb\nJOIN automatenlager.products p ON p.product_id = sb.product_id\nWHERE sb.status IN ('aktiv','active','reserve')\nORDER BY p.name, sb.mhd_date ASC NULLS LAST",
        "options": {}
      },
      "id": "ffbd4c31-7944-4e95-84ce-398799a47efd",
      "name": "Read - Lagerchargen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        448,
        0
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.product_key AS product_key, p.name AS internal_product_name,\n       COALESCE(na.alias,'') AS nayax_product_name,\n       COALESCE(sa.mdb_code::text,'') AS mdb_code,\n       m.machine_key AS machine_id,\n       CASE WHEN sa.active THEN 'TRUE' ELSE 'FALSE' END AS active,\n       sa.product_slot_key AS product_slot_id,\n       COALESCE(pr.sale_price_gross::text,'') AS sale_price_eur,\n       COALESCE(sa.current_machine_qty::text,'') AS current_machine_qty,\n       COALESCE(sa.machine_capacity::text,'') AS machine_capacity,\n       COALESCE(sa.target_stock::text,'') AS target_stock,\n       p.category AS produktart,\n       COALESCE(p.vat_rate_pct::text,'') AS mwst_satz,\n       COALESCE(sa.notes,'') AS notes\nFROM automatenlager.slot_assignments sa\nJOIN automatenlager.products p ON p.product_id = sa.product_id\nJOIN automatenlager.machines m ON m.machine_id = sa.machine_id\nLEFT JOIN LATERAL (SELECT pa.alias FROM automatenlager.product_aliases pa WHERE pa.product_id=p.product_id AND pa.source='nayax' AND pa.is_primary=TRUE ORDER BY pa.alias LIMIT 1) na ON TRUE\nLEFT JOIN LATERAL (SELECT pc.sale_price_gross FROM automatenlager.prices pc WHERE pc.slot_assignment_id=sa.slot_assignment_id AND pc.valid_to IS NULL ORDER BY pc.valid_from DESC LIMIT 1) pr ON TRUE\nORDER BY m.machine_key, sa.mdb_code, sa.active DESC",
        "options": {}
      },
      "id": "eb11257a-2d65-4086-aef4-af28b819f035",
      "name": "Read - Produkte",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        672,
        0
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(cfg->>'kleinunternehmer_aktiv','FALSE') AS kleinunternehmer_aktiv,\n  COALESCE(cfg->>'mwst_snack','7') AS mwst_snack,\n  COALESCE(cfg->>'mwst_getraenk','19') AS mwst_getraenk,\n  COALESCE(cfg->>'mwst_sonstige','19') AS mwst_sonstige\nFROM (\n  SELECT COALESCE(\n    (SELECT config FROM automatenlager.classification_settings WHERE mandant_id='__default__'),\n    '{}'::jsonb\n  ) AS cfg\n) t",
        "options": {}
      },
      "id": "9847a7bb-83a4-481b-8bc5-f43405ae3505",
      "name": "Read - GuV_Konfiguration",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        896,
        0
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT gd.guv_key,\n       to_char(gd.posting_date,'YYYY-MM-DD') AS date,\n       m.machine_key AS machine_id,\n       p.product_key AS product_key\nFROM automatenlager.guv_daily gd\nJOIN automatenlager.machines m ON m.machine_id = gd.machine_id\nJOIN automatenlager.products p ON p.product_id = gd.product_id\nWHERE gd.posting_date > CURRENT_DATE - INTERVAL '90 days'",
        "options": {}
      },
      "id": "7e6d3694-d36d-4fce-9af1-a30e9077acf5",
      "name": "Read - GuV_Tagesposten (vorhanden)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1120,
        0
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const transactions = $items('Read - Verarbeitete_Transaktionen').map(i => i.json);\nconst batches      = $items('Read - Lagerchargen').map(i => i.json);\nconst products     = $items('Read - Produkte').map(i => i.json);\nconst config       = $items('Read - GuV_Konfiguration').map(i => i.json)[0] || {};\nconst existingGuV  = $items('Read - GuV_Tagesposten (vorhanden)').map(i => i.json);\n\nfunction clean(v) { return String(v == null ? '' : v).trim(); }\nfunction num(v)   { const n = Number(String(v ?? '').replace(',', '.')); return Number.isFinite(n) ? n : 0; }\nfunction r2(n)    { return Number.isFinite(n) ? Math.round(n * 100)   / 100   : 0; }\nfunction r4(n)    { return Number.isFinite(n) ? Math.round(n * 10000) / 10000 : 0; }\n\nconst kleinunternehmerAktiv = clean(config.kleinunternehmer_aktiv).toUpperCase() === 'TRUE';\nconst mwstSnack    = num(config.mwst_snack)    || 7;\nconst mwstGetraenk = num(config.mwst_getraenk) || 19;\n\nfunction mwstVonProduktart(art) {\n  const a = clean(art).toLowerCase();\n  if (a === 'snack' || a.includes('snack') || a === 'riegel') return mwstSnack;\n  if (a === 'getraenk' || a.includes('getraenk') || a.includes('drink')) return mwstGetraenk;\n  return mwstGetraenk;\n}\n\nconst batchMap = new Map();\nfor (const b of batches) {\n  const id = clean(b.batch_id);\n  if (id) batchMap.set(id, b);\n}\n\nconst productMap = new Map();\nfor (const p of products) {\n  const k = clean(p.product_key);\n  if (k) productMap.set(k, p);\n}\n\nfunction aggKey(date, machineId, productKey) { return date + '|' + machineId + '|' + productKey; }\nconst existingKeys = new Set();\nfor (const r of existingGuV) {\n  const d = clean(r.date), m = clean(r.machine_id), p = clean(r.product_key);\n  if (d && m && p) existingKeys.add(aggKey(d, m, p));\n}\n\nfunction deriveDate(tx) {\n  const ts = clean(tx.settlement_datetime_gmt || tx.sale_date || tx.timestamp || tx.processed_at);\n  if (!ts) return '';\n  const m = ts.match(/^(\\d{4}-\\d{2}-\\d{2})/);\n  if (!m) return '';\n  if (m[1].startsWith('2001-')) return ''; // Sentinel-Wert\n  return m[1];\n}\n\nconst aggregates = new Map();\nlet skippedStatus = 0, skippedNoPrice = 0, skippedExisting = 0, skippedInvalid = 0, processed = 0;\n\nfor (const tx of transactions) {\n  const status = clean(tx.status).toUpperCase();\n  if (status && status !== 'OK') { skippedStatus++; continue; }\n\n  const date      = deriveDate(tx);\n  const machineId  = clean(tx.machine_id);\n  const productKey = clean(tx.product_key);\n  if (!date || !machineId || !productKey) { skippedInvalid++; continue; }\n\n  const vkBrutto = num(tx.vk_preis_brutto) || num((productMap.get(productKey) || {}).sale_price_eur);\n  const qty      = num(tx.quantity || tx.qty || 1) || 1;\n  const umsatzBr = num(tx.umsatz_brutto) > 0 ? num(tx.umsatz_brutto) : qty * vkBrutto;\n  if (vkBrutto <= 0 && umsatzBr <= 0) { skippedNoPrice++; continue; }\n\n  const key = aggKey(date, machineId, productKey);\n  if (existingKeys.has(key)) { skippedExisting++; continue; }\n\n  const batchIds = clean(tx.batch_id_abgebucht).split(',').map(s => s.trim()).filter(Boolean);\n  let ekNetto = 0;\n  let mwstEinkauf = 0;\n  if (batchIds.length > 0) {\n    const firstBatch = batchMap.get(batchIds[0]);\n    if (firstBatch) {\n      ekNetto     = num(firstBatch.unit_cost);\n      mwstEinkauf = num(firstBatch.mwst_satz);\n    }\n  }\n\n  const product    = productMap.get(productKey) || {};\n  const produktart = clean(product.produktart);\n  if (!mwstEinkauf || mwstEinkauf <= 0) mwstEinkauf = mwstVonProduktart(produktart);\n\n  const ekBrutto = mwstEinkauf > 0 ? ekNetto * (1 + mwstEinkauf / 100) : ekNetto;\n  const warenein = qty * ((kleinunternehmerAktiv && mwstEinkauf > 0) ? ekBrutto : ekNetto);\n\n  if (!aggregates.has(key)) {\n    aggregates.set(key, {\n      date, machine_id: machineId, product_key: productKey,\n      mdb_code: clean(tx.mdb_code_extracted || tx.mdb_code),\n      product_slot_id: clean(tx.product_slot_id),\n      nayax_product_name: clean(tx.nayax_product_name || tx.product_name),\n      produktart,\n      qty_sum: 0, umsatz_sum: 0, warenein_sum: 0,\n      vk_weighted: 0, ek_brutto_weighted: 0, ek_netto_weighted: 0, mwst_weighted: 0,\n      batch_missing: false,\n    });\n  }\n  const a = aggregates.get(key);\n  a.qty_sum            += qty;\n  a.umsatz_sum         += umsatzBr;\n  a.warenein_sum       += warenein;\n  a.vk_weighted        += vkBrutto * qty;\n  a.ek_brutto_weighted += ekBrutto * qty;\n  a.ek_netto_weighted  += ekNetto  * qty;\n  a.mwst_weighted      += mwstEinkauf * qty;\n  if (batchIds.length === 0 || ekNetto === 0) a.batch_missing = true;\n  processed++;\n}\n\nconst now = new Date().toISOString();\nconst out = [];\nfor (const a of aggregates.values()) {\n  const q = a.qty_sum || 1;\n  out.push({\n    json: {\n      date:                  a.date,\n      machine_id:            a.machine_id,\n      mdb_code:              a.mdb_code,\n      product_slot_id:       a.product_slot_id,\n      product_key:           a.product_key,\n      nayax_product_name:    a.nayax_product_name,\n      produktart:            a.produktart,\n      quantity_sold:         a.qty_sum,\n      vk_preis_brutto:       r4(a.vk_weighted / q),\n      umsatz_brutto:         r2(a.umsatz_sum),\n      ek_preis_netto:        r4(a.ek_netto_weighted / q),\n      mwst_satz_einkauf:     r2(a.mwst_weighted / q),\n      ek_preis_brutto:       r4(a.ek_brutto_weighted / q),\n      wareneinsatz_brutto:   r2(a.warenein_sum),\n      guv:                   r2(a.umsatz_sum - a.warenein_sum),\n      kleinunternehmer_aktiv: kleinunternehmerAktiv ? 'TRUE' : 'FALSE',\n      aggregiert_am:         now + (a.batch_missing ? ' [EK-Daten fehlen]' : ''),\n    }\n  });\n}\n\nif (out.length === 0) {\n  return [];\n}\nreturn out;"
      },
      "id": "7d53fafe-d426-48a0-baa0-69831dac1445",
      "name": "Code - GuV aggregieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "GuV_Tagesposten"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3a753900-d198-44f1-bd33-4a5f04e0bfb8",
      "name": "Append - GuV_Tagesposten",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6GG86fWHw536Rk36",
          "name": "Google Sheets API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const batchRunId = 'wf8_' + new Date().toISOString().slice(0, 10);\n\nreturn $input.all()\n  .filter(item => !item.json._empty)\n  .map(item => {\n    const r = item.json;\n    const guvKey = [r.date, r.machine_id, r.product_key].join('|');\n    const kleinunternehmer = String(r.kleinunternehmer_aktiv || '').toUpperCase() === 'TRUE';\n    const art = String(r.produktart || '').toLowerCase();\n    const vatRate = kleinunternehmer ? 0\n      : (art === 'snack' || art.includes('snack') || art === 'riegel' ? 7 : 19);\n    const revenueNet = vatRate === 0\n      ? r.umsatz_brutto\n      : Math.round(r.umsatz_brutto / (1 + vatRate / 100) * 100) / 100;\n\n    return {\n      json: {\n        event_type: 'guv_daily',\n        batch_run_id: batchRunId,\n        data: {\n          guv_key: guvKey,\n          posting_date: r.date,\n          machine_key: String(r.machine_id),\n          mdb_code: r.mdb_code || null,\n          product_key: r.product_key,\n          quantity_sold: r.quantity_sold,\n          revenue_gross: r.umsatz_brutto,\n          revenue_net: revenueNet,\n          cost_of_goods: r.wareneinsatz_brutto,\n          gross_profit: r.guv,\n          source: 'wf8_guv_aggregator'\n        }\n      }\n    };\n  });",
        "mode": "runOnceForAllItems"
      },
      "id": "927036d8-5d1e-452c-99cd-ccc7b76c4d41",
      "name": "Prepare PGW - guv_daily",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Sajezv8tJll0CLIv",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "5de6c14a-33ee-4a6f-916f-c430c8f968a4",
      "name": "WF-PGW - guv_daily",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2016,
        0
      ]
    }
  ],
  "connections": {
    "Cron - Taeglich 02:00": {
      "main": [
        [
          {
            "node": "Read - Verarbeitete_Transaktionen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read - Verarbeitete_Transaktionen": {
      "main": [
        [
          {
            "node": "Read - Lagerchargen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read - Lagerchargen": {
      "main": [
        [
          {
            "node": "Read - Produkte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read - Produkte": {
      "main": [
        [
          {
            "node": "Read - GuV_Konfiguration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read - GuV_Konfiguration": {
      "main": [
        [
          {
            "node": "Read - GuV_Tagesposten (vorhanden)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read - GuV_Tagesposten (vorhanden)": {
      "main": [
        [
          {
            "node": "Code - GuV aggregieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - GuV aggregieren": {
      "main": [
        [
          {
            "node": "Append - GuV_Tagesposten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append - GuV_Tagesposten": {
      "main": [
        [
          {
            "node": "Prepare PGW - guv_daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PGW - guv_daily": {
      "main": [
        [
          {
            "node": "WF-PGW - guv_daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Cron - Taeglich 02:00": {
      "recurrenceRules": []
    }
  },
  "pinData": null,
  "tags": []
}