WF9 - Pickliste verarbeiten.json
{
  "name": "WF9 - Pickliste verarbeiten (Automaten-Nachfuellung)",
  "active": true,
  "nodes": [
    {
      "id": "wf9-01",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -100
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kOLyDv48afTu5P9q",
          "name": "Google Drive account"
        }
      },
      "parameters": {
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Djrp-44NtazCB3pa-07S-uK769gJ2ZcS",
          "mode": "id"
        },
        "event": "fileCreated",
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "wf9-02",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        100
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "pickliste-verarbeiten",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "wf9-webhook-pickliste-2026"
    },
    {
      "id": "wf9-03",
      "name": "Code - Datei-ID ermitteln",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "jsCode": "function clean(v) { return String(v ?? '').trim(); }\nlet fileId = null, fileName = null;\ntry {\n  const d = $('Google Drive Trigger').first()?.json;\n  if (d && d.id) { fileId = d.id; fileName = d.name || d.id; }\n} catch(e) {}\nif (!fileId) {\n  try {\n    const q = $('Webhook').first()?.json?.query;\n    fileId = clean(q?.file_id || '');\n    fileName = clean(q?.file_name || fileId);\n  } catch(e) {}\n}\nif (!fileId) throw new Error('Keine Datei-ID. Google Drive Trigger oder Webhook mit ?file_id= erforderlich.');\nreturn [{ json: { fileId, fileName: fileName || fileId } }];"
      }
    },
    {
      "id": "wf9-04",
      "name": "Google Sheets - Hinweise lesen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT w.warning_key,\n       w.warning_type AS type,\n       w.severity,\n       w.message,\n       to_char(w.created_at AT TIME ZONE 'UTC','YYYY-MM-DD\"T\"HH24:MI:SS') || 'Z' AS created_at,\n       CASE WHEN w.resolved THEN 'TRUE' ELSE 'FALSE' END AS resolved,\n       COALESCE(to_char(w.resolved_at,'YYYY-MM-DD\"T\"HH24:MI:SS') || 'Z','') AS resolved_at,\n       COALESCE(w.mdb_code::text,'') AS mdb_code,\n       COALESCE(p.product_key,'') AS product_key,\n       COALESCE(m.machine_key,'') AS machine_id\nFROM automatenlager.warnings w\nLEFT JOIN automatenlager.products p ON p.product_id = w.product_id\nLEFT JOIN automatenlager.machines m ON m.machine_id = w.machine_id\nORDER BY w.created_at DESC\nLIMIT 500",
        "options": {}
      }
    },
    {
      "id": "wf9-05",
      "name": "Code - Idempotenz prüfen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "jsCode": "function clean(v) { return String(v ?? '').trim(); }\nconst { fileId, fileName } = $('Code - Datei-ID ermitteln').first().json;\nconst allHinweise = $('Google Sheets - Hinweise lesen').all().map(i => i.json);\nconst alreadyProcessed = allHinweise.some(h =>\n  clean(h.type) === 'PICKLISTE_VERARBEITET' &&\n  clean(h.message).startsWith('DATEI:' + fileName)\n);\nreturn [{ json: { skip: alreadyProcessed, fileId, fileName, reason: alreadyProcessed ? 'Bereits verarbeitet: ' + fileName : 'OK' } }];"
      }
    },
    {
      "id": "wf9-06",
      "name": "IF - Skip wenn bereits verarbeitet",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "wf9-07",
      "name": "Google Drive - PDF herunterladen",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1100,
        -220
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kOLyDv48afTu5P9q",
          "name": "Google Drive account"
        }
      },
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Code - Datei-ID ermitteln').first().json.fileId }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      }
    },
    {
      "id": "wf9-08",
      "name": "Code - Claude Input vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -220
      ],
      "parameters": {
        "jsCode": "const item = $input.first();\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nif (!buffer) throw new Error('Keine Binaerdaten im Feld data gefunden.');\nconst file = item.binary.data;\nreturn [{ json: { file_base64: buffer.toString('base64'), mime_type: file.mimeType || 'application/pdf' } }];"
      }
    },
    {
      "id": "wf9-09",
      "name": "HTTP - Claude PDF parsen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        -220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HykwFghdDuUDa2lu",
          "name": "Claude API Key"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-haiku-4-5-20251001\",\"max_tokens\":1024,\"messages\":[{\"role\":\"user\",\"content\":[{\"type\":\"document\",\"source\":{\"type\":\"base64\",\"media_type\":\"application/pdf\",\"data\":\"{{ $json.file_base64 }}\"}},{\"type\":\"text\",\"text\":\"Extrahiere aus dieser Pickliste alle Produktnamen und ihre Pick-Mengen. Antworte NUR mit einem JSON-Array ohne Markdown. Jedes Element hat die Felder: name (Produktname als String) und pick (Menge als ganze Zahl).\"}]}]}",
        "options": {}
      }
    },
    {
      "id": "wf9-10",
      "name": "Code - Claude Response parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -220
      ],
      "parameters": {
        "jsCode": "const text = ($input.first().json?.content?.[0]?.text || '').trim();\nconst cleaned = text.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\nlet items;\ntry { items = JSON.parse(cleaned); }\ncatch(e) { throw new Error('Claude hat kein gueltiges JSON zurueckgegeben: ' + text.slice(0, 200)); }\nif (!Array.isArray(items)) throw new Error('Keine Array-Antwort von Claude: ' + cleaned.slice(0, 100));\nreturn [{ json: { items } }];"
      }
    },
    {
      "id": "wf9-11",
      "name": "Google Sheets - Produkte lesen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1980,
        -220
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.product_key AS product_key, p.name AS internal_product_name,\n       COALESCE(na.alias,'') AS nayax_product_name,\n       COALESCE(sa.mdb_code::text,'') AS mdb_code,\n       m.machine_key AS machine_id,\n       CASE WHEN sa.active THEN 'TRUE' ELSE 'FALSE' END AS active,\n       sa.product_slot_key AS product_slot_id,\n       COALESCE(pr.sale_price_gross::text,'') AS sale_price_eur,\n       COALESCE(sa.current_machine_qty::text,'') AS current_machine_qty,\n       COALESCE(sa.machine_capacity::text,'') AS machine_capacity,\n       COALESCE(sa.target_stock::text,'') AS target_stock,\n       p.category AS produktart,\n       COALESCE(p.vat_rate_pct::text,'') AS mwst_satz,\n       COALESCE(sa.notes,'') AS notes\nFROM automatenlager.slot_assignments sa\nJOIN automatenlager.products p ON p.product_id = sa.product_id\nJOIN automatenlager.machines m ON m.machine_id = sa.machine_id\nLEFT JOIN LATERAL (SELECT pa.alias FROM automatenlager.product_aliases pa WHERE pa.product_id=p.product_id AND pa.source='nayax' AND pa.is_primary=TRUE ORDER BY pa.alias LIMIT 1) na ON TRUE\nLEFT JOIN LATERAL (SELECT pc.sale_price_gross FROM automatenlager.prices pc WHERE pc.slot_assignment_id=sa.slot_assignment_id AND pc.valid_to IS NULL ORDER BY pc.valid_from DESC LIMIT 1) pr ON TRUE\nORDER BY m.machine_key, sa.mdb_code, sa.active DESC",
        "options": {}
      }
    },
    {
      "id": "wf9-12",
      "name": "Code - Collapse Produkte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -220
      ],
      "parameters": {
        "jsCode": "return [{ json: { ok: true } }];"
      }
    },
    {
      "id": "wf9-13",
      "name": "Google Sheets - Lagerchargen lesen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2420,
        -220
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sb.batch_key AS batch_id, p.product_key AS product_key, p.name AS product_name,\n       'aktiv' AS status,\n       COALESCE(to_char(sb.mhd_date,'YYYY-MM-DD'),'') AS mhd,\n       sb.remaining_qty::text AS remaining_qty,\n       COALESCE(sb.unit_cost_net::text,'') AS unit_cost,\n       COALESCE(p.vat_rate_pct::text,'') AS mwst_satz\nFROM automatenlager.stock_batches sb\nJOIN automatenlager.products p ON p.product_id = sb.product_id\nWHERE sb.status IN ('aktiv','active','reserve')\nORDER BY p.name, sb.mhd_date ASC NULLS LAST",
        "options": {}
      }
    },
    {
      "id": "wf9-14",
      "name": "Code - Pickliste verarbeiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        0
      ],
      "parameters": {
        "jsCode": "function clean(v) { return String(v ?? '').replace(/\\n/g, ' ').replace(/\\s+/g, ' ').replace(/´|`|‘|’/g, \"'\").trim(); }\nfunction isActive(v) { return ['TRUE','1','JA','YES','AKTIV','ACTIVE'].includes(clean(v).toUpperCase()); }\nfunction num(v) { const n = Number(String(v ?? '').replace(',', '.')); return Number.isFinite(n) ? n : null; }\n\nconst picklist      = $('Code - Claude Response parsen').first().json.items;\nconst fileName      = $('Code - Datei-ID ermitteln').first().json.fileName;\nconst allProdukte   = $('Google Sheets - Produkte lesen').all().map(i => i.json);\nconst allLager      = $('Google Sheets - Lagerchargen lesen').all().map(i => i.json);\nconst allHinweise   = $('Google Sheets - Hinweise lesen').all().map(i => i.json);\n\nconst now = new Date().toISOString();\nlet tsOffset = 0;\nfunction nextTs() { return new Date(new Date(now).getTime() + tsOffset++).toISOString(); }\n\n// c.status statt c.active (Lagerchargen haben 'status', nicht 'active')\nconst remainingByKey = {};\nfor (const c of allLager) {\n  if (!isActive(c.status)) continue;\n  const qty = num(c.remaining_qty);\n  if (!qty || qty <= 0) continue;\n  const pk = clean(c.product_key);\n  remainingByKey[pk] = (remainingByKey[pk] || 0) + qty;\n}\n\nconst slotUpdates  = [];\nconst toResolve    = [];\nconst auditEntries = [];\nconst warnings     = [];\nconst resolvableTypes = ['EMPTY_BATCH', 'LOW_STOCK', 'INSUFFICIENT_BATCH_STOCK', 'LOW_BATCH'];\n\nfor (const item of picklist) {\n  const nayaxName = clean(item.name || '');\n  const pickQty   = num(item.pick);\n  if (!nayaxName || !pickQty || pickQty <= 0) continue;\n\n  const slots = allProdukte.filter(p => clean(p.nayax_product_name) === nayaxName && isActive(p.active));\n  if (!slots.length) { warnings.push('Nicht gefunden: \"' + nayaxName + '\"'); continue; }\n\n  const pk             = clean(slots[0].product_key);\n  const totalRemaining = remainingByKey[pk] || 0;\n\n  // Verfügbar = Backstock (remaining minus was bereits im Automaten)\n  const currentInMachine = slots.reduce((sum, s) => sum + (num(s.current_machine_qty) || 0), 0);\n  const availableFill    = Math.max(0, totalRemaining - currentInMachine);\n  let effective          = Math.min(pickQty, availableFill);\n  const wasCapped        = effective < pickQty;\n\n  const updatedSlots = [];\n  for (const slot of slots) {\n    if (effective <= 0) break;\n    const slotCurrent  = num(slot.current_machine_qty) || 0;\n    const capacity     = num(slot.machine_capacity) || 999;\n    const slotRoom     = Math.max(0, capacity - slotCurrent);\n    const fillThisSlot = Math.min(slotRoom, effective);\n    if (fillThisSlot <= 0) continue;\n    effective -= fillThisSlot;\n    const newQty = slotCurrent + fillThisSlot;\n    slotUpdates.push({\n      product_slot_id: clean(slot.product_slot_id),\n      current_machine_qty: newQty,\n      last_stock_update_source: 'WF9_PICKLISTE',\n      last_stock_update_at: now\n    });\n    updatedSlots.push(clean(slot.product_slot_id) + '=' + newQty);\n  }\n\n  for (const h of allHinweise) {\n    if (['TRUE','JA','YES','1'].includes(clean(h.resolved).toUpperCase())) continue;\n    if (clean(h.product_key) === pk && resolvableTypes.includes(clean(h.type))) {\n      toResolve.push({ created_at: clean(h.created_at), resolved: 'TRUE' });\n    }\n  }\n\n  auditEntries.push({\n    created_at: nextTs(),\n    type: 'PICKLISTE_REFILL',\n    severity: 'info',\n    machine_id: '457107528',\n    product_key: pk,\n    nayax_product_name: nayaxName,\n    message: nayaxName + ' pick=' + pickQty +\n      (wasCapped ? ' (gecappt auf ' + Math.min(pickQty, availableFill) + ', backstock=' + availableFill + ')' : '') +\n      '. Slots: ' + (updatedSlots.length ? updatedSlots.join(', ') : 'keine (0 verfügbar)'),\n    resolved: 'TRUE'\n  });\n}\n\nif (warnings.length) {\n  auditEntries.push({\n    created_at: nextTs(), type: 'PICKLISTE_WARNING', severity: 'warning',\n    machine_id: '457107528', product_key: '', nayax_product_name: '',\n    message: 'Nicht zugeordnet: ' + warnings.join('; '), resolved: 'FALSE'\n  });\n}\n\nauditEntries.push({\n  created_at: nextTs(), type: 'PICKLISTE_VERARBEITET', severity: 'info',\n  machine_id: '457107528', product_key: '', nayax_product_name: '',\n  message: 'DATEI:' + fileName + ' - Produkte: ' + (picklist.length - warnings.length) + ', Slots: ' + slotUpdates.length,\n  resolved: 'TRUE'\n});\n\nreturn [{ json: { ok: true, fileName, slotUpdates, toResolve, auditEntries, warnings,\n  summary: { products_processed: picklist.length - warnings.length, slots_updated: slotUpdates.length,\n             hints_resolved: toResolve.length, warnings: warnings.length } } }];\n"
      }
    },
    {
      "id": "wf9-15",
      "name": "Extract - Slot Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        -300
      ],
      "parameters": {
        "jsCode": "const u = $input.first().json.slotUpdates || []; if (!u.length) return []; return u.map(x => ({ json: x }));"
      }
    },
    {
      "id": "wf9-16",
      "name": "Extract - Hinweise aufloesen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        -100
      ],
      "parameters": {
        "jsCode": "const h = $input.first().json.toResolve || []; if (!h.length) return []; return h.map(x => ({ json: x }));"
      }
    },
    {
      "id": "wf9-17",
      "name": "Extract - Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        100
      ],
      "parameters": {
        "jsCode": "const a = $input.first().json.auditEntries || []; if (!a.length) return []; return a.map(x => ({ json: x }));"
      }
    },
    {
      "id": "wf9-18",
      "name": "Google Sheets - Slot aktualisieren",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3080,
        -300
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE automatenlager.slot_assignments\nSET current_machine_qty = {{ $json.current_machine_qty }}\nWHERE product_slot_key = '{{ $json.product_slot_id }}'\nRETURNING product_slot_key, current_machine_qty",
        "options": {}
      }
    },
    {
      "id": "wf9-19",
      "name": "Google Sheets - Hinweise aufloesen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3080,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE automatenlager.warnings\nSET resolved = TRUE, resolved_at = NOW()\nWHERE to_char(created_at AT TIME ZONE 'UTC','YYYY-MM-DD\"T\"HH24:MI:SS') || 'Z' = '{{ $json.created_at }}'",
        "options": {}
      }
    },
    {
      "id": "wf9-20",
      "name": "Google Sheets - Audit anhaengen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3080,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "Jept3990Uq8aN3Tr",
          "name": "PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO automatenlager.warnings (\n  warning_key, warning_type, severity, message,\n  product_id, machine_id, resolved, resolved_at, created_at\n)\nVALUES (\n  '{{ $json.type }}_{{ $json.product_key }}_' || to_char(NOW() AT TIME ZONE 'UTC','YYYYMMDD_HH24MISS_US'),\n  '{{ $json.type }}',\n  'info',\n  '{{ $json.message }}',\n  (SELECT product_id FROM automatenlager.products WHERE product_key='{{ $json.product_key }}' LIMIT 1),\n  (SELECT machine_id FROM automatenlager.machines WHERE machine_key='{{ $json.machine_id }}' LIMIT 1),\n  TRUE,\n  NOW(),\n  NOW()\n)\nON CONFLICT (warning_key) DO NOTHING\nRETURNING warning_key",
        "options": {}
      },
      "disabled": false
    },
    {
      "id": "wf9-21",
      "name": "Google Drive - Datei verschieben",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3080,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kOLyDv48afTu5P9q",
          "name": "Google Drive account"
        }
      },
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Code - Datei-ID ermitteln').first().json.fileId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1mOMTE-vTAKFqOO5DW_q9UQ1Hgd7MHV38",
          "mode": "id"
        }
      }
    },
    {
      "id": "wf9-22",
      "name": "Respond - Erfolg",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3300,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Code - Pickliste verarbeiten').first().json) }}"
      }
    },
    {
      "id": "wf9-23",
      "name": "Respond - Bereits verarbeitet",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ skip: true, reason: $json.reason, fileName: $json.fileName }) }}"
      }
    },
    {
      "id": "issue20-prepare-pgw-wf9-pick-movements",
      "name": "Prepare PGW - WF9 Pick Movements",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3340,
        80
      ],
      "parameters": {
        "jsCode": "const result = $(\"Code - Pickliste verarbeiten\").first().json;\nconst products = $(\"Google Sheets - Produkte lesen\").all().map((item) => item.json);\nconst batches = $(\"Google Sheets - Lagerchargen lesen\").all().map((item) => item.json);\nconst fileName = clean(result.fileName || $(\"Code - Datei-ID ermitteln\").first().json.fileName);\nconst batchRunId = \"wf9_\" + new Date().toISOString().slice(0, 10);\n\nfunction clean(value) {\n  return String(value ?? \"\").replace(/\\n/g, \" \").replace(/\\s+/g, \" \").trim();\n}\n\nfunction num(value) {\n  const n = Number(String(value ?? \"\").replace(\",\", \".\"));\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction isActive(value) {\n  return [\"TRUE\", \"1\", \"JA\", \"YES\", \"AKTIV\", \"ACTIVE\", \"\"].includes(clean(value).toUpperCase());\n}\n\nfunction sanitize(value) {\n  return clean(value).toUpperCase().replace(/[^A-Z0-9]+/g, \"_\").replace(/^_+|_+$/g, \"\");\n}\n\nfunction batchFor(productKey) {\n  return batches\n    .filter((batch) => clean(batch.product_key) === productKey)\n    .filter((batch) => isActive(batch.status))\n    .filter((batch) => (num(batch.remaining_qty) ?? 0) > 0)\n    .sort((a, b) => clean(a.mhd).localeCompare(clean(b.mhd)) || clean(a.batch_id).localeCompare(clean(b.batch_id)))[0];\n}\n\nreturn (result.slotUpdates || []).flatMap((update) => {\n  const slot = products.find((product) => clean(product.product_slot_id) === clean(update.product_slot_id));\n  if (!slot) return [];\n  const delta = (num(update.current_machine_qty) ?? 0) - (num(slot.current_machine_qty) ?? 0);\n  if (delta <= 0) return [];\n  const batch = batchFor(clean(slot.product_key));\n  if (!batch) return [];\n  const movementKey = [\"MOV\", \"PICK\", fileName, update.product_slot_id, batch.batch_id, delta].map(sanitize).join(\"_\");\n  return [{\n    json: {\n      event_type: \"stock_movement\",\n      batch_run_id: batchRunId,\n      data: {\n        movement_key: movementKey,\n        batch_key: clean(batch.batch_id),\n        product_slot_key: clean(update.product_slot_id),\n        movement_type: \"pick\",\n        quantity_delta_total: -delta,\n        quantity_delta_slot: delta,\n        reason: \"Pickliste verarbeitet: \" + fileName,\n        source: \"wf9_pickliste\",\n        occurred_at: clean(update.last_stock_update_at) || new Date().toISOString(),\n      },\n    },\n  }];\n});"
      }
    },
    {
      "id": "issue20-wf-pgw-wf9",
      "name": "WF-PGW - WF9",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 2,
      "position": [
        3580,
        80
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Sajezv8tJll0CLIv",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Code - Datei-ID ermitteln",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code - Datei-ID ermitteln",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Datei-ID ermitteln": {
      "main": [
        [
          {
            "node": "Google Sheets - Hinweise lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Hinweise lesen": {
      "main": [
        [
          {
            "node": "Code - Idempotenz prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Idempotenz prüfen": {
      "main": [
        [
          {
            "node": "IF - Skip wenn bereits verarbeitet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Skip wenn bereits verarbeitet": {
      "main": [
        [
          {
            "node": "Respond - Bereits verarbeitet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive - PDF herunterladen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - PDF herunterladen": {
      "main": [
        [
          {
            "node": "Code - Claude Input vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Claude Input vorbereiten": {
      "main": [
        [
          {
            "node": "HTTP - Claude PDF parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Claude PDF parsen": {
      "main": [
        [
          {
            "node": "Code - Claude Response parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Claude Response parsen": {
      "main": [
        [
          {
            "node": "Google Sheets - Produkte lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Produkte lesen": {
      "main": [
        [
          {
            "node": "Code - Collapse Produkte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Collapse Produkte": {
      "main": [
        [
          {
            "node": "Google Sheets - Lagerchargen lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Lagerchargen lesen": {
      "main": [
        [
          {
            "node": "Code - Pickliste verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Pickliste verarbeiten": {
      "main": [
        [
          {
            "node": "Extract - Slot Updates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract - Hinweise aufloesen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract - Audit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive - Datei verschieben",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare PGW - WF9 Pick Movements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Slot Updates": {
      "main": [
        [
          {
            "node": "Google Sheets - Slot aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Hinweise aufloesen": {
      "main": [
        [
          {
            "node": "Google Sheets - Hinweise aufloesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Audit": {
      "main": [
        [
          {
            "node": "Google Sheets - Audit anhaengen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Slot aktualisieren": {
      "main": [
        [
          {
            "node": "Respond - Erfolg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PGW - WF9 Pick Movements": {
      "main": [
        [
          {
            "node": "WF-PGW - WF9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-06-05T11:22:40Z"
    }
  },
  "pinData": null,
  "tags": []
}